<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Сравнение списков работ по каждой услуге от клининговой компании Домовенок</title>
  {{#if noindex}} <meta name="robots" content="noindex,nofollow"> {{else}} <meta name="robots" content="index, follow"/> {{/if}}
  {{#if canonical }}<link rel="canonical" href="{{canonicalPath}}"/>{{/if}}
  <meta name="keywords" content="списки работ, услуги"/>
  <meta name="description" content="На этой странице можно сравнить списки работ по каждой услуге от клининговой компании Домовенок."/>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0, minimal-ui" />
  <meta name="format-detection" content="telephone=no">
  <meta property="og:title" content="Клининговая компания Домовёнок."/>
  <meta property="og:site" content="//www.domovenok.su/"/>
  <meta property="og:description" content="Клининговая компания Домовёнок - верный помощник в решении бытовых вопросов и уборки дома."/>
  <meta property="og:image" content="//www.domovenok.su/static/img/domovenok-banner.png"/>
  <meta property="og:url" content="//www.domovenok.su/?utm_source=vk&utm_campaign=site_share"/>

  <link rel="apple-touch-icon" sizes="57x57" href="/static/pancake/img/apple-touch-icon-57x57.png?v=1.0">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/pancake/img/apple-touch-icon-60x60.png?v=1.0">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/pancake/img/apple-touch-icon-72x72.png?v=1.0">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/pancake/img/apple-touch-icon-76x76.png?v=1.0">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/pancake/img/apple-touch-icon-114x114.png?v=1.0">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/pancake/img/apple-touch-icon-120x120.png?v=1.0">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/pancake/img/apple-touch-icon-144x144.png?v=1.0">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/pancake/img/apple-touch-icon-152x152.png?v=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/pancake/img/apple-touch-icon-180x180.png?v=1.0">
  <link rel="icon" type="image/png" href="/static/pancake/img/android-chrome-192x192.png?v=1.0" sizes="192x192">
  <link rel="icon" type="image/png" href="/static/pancake/img/favicon-16x16.png?v=1.01" sizes="16x16">
  <link rel="icon" type="image/png" href="/static/pancake/img/favicon-32x32.png?v=1.01" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/pancake/img/favicon-48x48.png?v=1.0" sizes="48x48">
  <link rel="manifest" href="/static/pancake/manifest.json?v=1.02">
  <link rel="mask-icon" href="/static/pancake/img/safari-pinned-tab.svg?v=1.0" color="#fd8204">
  <link rel="yandex-tableau-widget" href="/yandex/manifest.json" />
  <meta name="apple-mobile-web-app-title" content="Domovenok">
  <meta name="application-name" content="Domovenok">
  <meta name="msapplication-TileColor" content="#fd8204">
  <meta name="msapplication-TileImage" content="/static/pancake/img/mstile-144x144.png?v=1.0">
  <meta name="msapplication-config" content="/static/pancake/browserconfig.xml?v=1.02">
  <meta name="theme-color" content="#fd8204">

  <link rel="stylesheet" href="/static/pancake/css/style.min.css?v0.47">

  <script src="//yastatic.net/share2/share.js" async></script>
  <base href="" >

  <script>
    var analyticConf = {
      id: "{{general.analytics.GAUA}}",
      phone: "{{general.analytics.phone}}",
      phoneDimension: "{{general.analytics.phoneDimension}}",
      ABTestId: {{#if general.analytics.ABTestID}}"{{general.analytics.ABTestID}}"{{else}}null{{/if}},
      ABTestValue: {{#if general.analytics.ABTestVariant}}"{{general.analytics.ABTestVariant}}"{{else}}null{{/if}}
    };
  
    {{#if general.analytics.ABTestID}}
      var yaParams = {
        "{{general.analytics.ABTestID}}": "{{general.analytics.ABTestVariant}}"
      };
    {{/if}}
  </script>

</head>
<body class="page">
<div class="page__wrap page__wrap--scroll">

  <!-- Page Header -->
  <!-- page-header.html -->
  <header class="page-header  page-header--contact">
    <div class="page-header__top">
      <button class="main-menu__btn  main-menu__btn--open">
        <svg class="main-menu__image" width="31" height="23.9" viewBox="0 0 31 23.9">
          <rect width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
          <rect y="22.26" width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
          <rect y="11.13" width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
        </svg>
      </button>
      <a class="page-header__logo" href="{{buildUrl general.city '/'}}"><img height="38" width="152" src="/static/pancake/img/logo.svg" alt="Логотип"/></a>
  
      <a class="page-header__tel" href="tel:{{ general.phoneHref }}"><span>{{ general.phoneCode }}</span> {{ general.phoneNumber }}</a>
    </div>
    <div class="page-header__wrap">
      <a class="main-menu__icon-close  icon-close" href="#">
        <svg class="icon-close__image" width="19" height="19" viewBox="0 0 19 19">
          <line class="icon-close__element" x1="1" y1="18" x2="18" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
          <line class="icon-close__element" x1="18" y1="18" x2="1" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
        </svg>
      </a>
      <!--Main Menu-->
      {{templateTag this 'menu/main-menu.html'}}
      <!--/Main Menu-->
      <!--
      <div class="page-header__contact  contact">
        <a class="contact__callback" href>Свяжитесь со мной</a>
      </div>
      -->
      <div class="change-town">
        <p class="change-town__btn">{{general.city.title}}</p>
        <ul class="change-town__list list">
          <li class="change-town__item {{#ifCond general.city.keyword '==' 'moscow' }}change-town__item--active{{/ifCond}} item">
            <a class="change-town__link link" href="{{buildUrl 'moscow' general.path}}">Москва</a>
          </li>
          <li class="change-town__item {{#ifCond general.city.keyword '==' 'spb' }}change-town__item--active{{/ifCond}} item">
            <a class="change-town__link link" href="{{buildUrl 'spb' general.path}}">Санкт-Петербург</a>
          </li>
          <li class="change-town__item {{#ifCond general.city.keyword '==' 'nn' }}change-town__item--active{{/ifCond}} item">
            <a class="change-town__link link" href="{{buildUrl 'nn' general.path}}">Нижний Новгород</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <!-- /Page Header -->

  <!-- Main Content -->
  <main class="page__main-content  main-content  main-content--vertical">
    <div class="main-content__wrap">
      <div class="compare">
        <div class="compare__part  compare__part--fix">
          <div class="compare__column">
            <div class="compare__row  compare__row--heading">
              <p></p>
            </div>
            <div class="compare__row  compare__row--lg"></div>

            <!-- Общие работы -->

            <div class="compare__row  compare__row--heading  compare__row--bg-gray">
              <p class="compare__text  compare__title">Общие работы</p>
            </div>
            <div class="compare__row" data-number="1">
              <p class="compare__text">моем и пылесосим полы и плинтусы</p>
            </div>
            <div class="compare__row"  data-number="2">
              <p class="compare__text">удаляем легкие загрязнения: жир, масло и т.д.</p>
            </div>
            <div class="compare__row"  data-number="3">
              <p class="compare__text">удаляем сложные загрязнения</p>
            </div>
            <div class="compare__row"  data-number="4">
              <p class="compare__text">удаляем пыль и моем все горизонтальные поверхности</p>
            </div>
            <div class="compare__row"  data-number="5">
              <p class="compare__text">удаляем пыль и моем все вертикальные поверхности</p>
            </div>
            <div class="compare__row"  data-number="6">
              <p class="compare__text">удаляем пыль и паутину со стен</p>
            </div>
            <div class="compare__row"  data-number="7">
              <p class="compare__text">удаляем пыль со светильников</p>
            </div>
            <div class="compare__row"  data-number="8">
              <p class="compare__text">удаляем пыль и моем бытовую и кухонную технику</p>
            </div>
            <div class="compare__row"  data-number="9">
              <p class="compare__text">моем кондиционеры снаружи и внутри, включая фильтры</p>
            </div>
            <div class="compare__row"  data-number="9.1">
              <p class="compare__text">пылесосим мягкую мебель внутри</p>
            </div>
            <div class="compare__row"  data-number="9.2">
              <p class="compare__text">моем вытяжку внутри, включая фильтры</p>
            </div>
            <div class="compare__row"  data-number="10">
              <p class="compare__text">моем зеркала и стеклянные поверхности</p>
            </div>
            <div class="compare__row"  data-number="11">
              <p class="compare__text">моем трубы, карнизы, фоторамки, рамы картин и т.д.</p>
            </div>
            <div class="compare__row"  data-number="12">
              <p class="compare__text">пылесосим мягкую мебель снаружи</p>
            </div>
            <div class="compare__row"  data-number="13">
              <p class="compare__text">ухаживаем за кожаной мебелью</p>
            </div>
            <div class="compare__row"  data-number="14">
              <p class="compare__text">меняем постельное белье</p>
            </div>
            <div class="compare__row  compare__row--none-border"  data-number="15">
              <p class="compare__text">моем двери и дверные блоки</p>
            </div>

            <!-- Кухня -->

            <div class="compare__row  compare__row--heading  compare__row--bg-gray">
              <p class="compare__text  compare__title">Кухня:</p>
            </div>
            <div class="compare__row" data-number="1">
              <p class="compare__text">чистим и дезинфицируем горизонтальные рабочие поверхности</p>
            </div>
            <div class="compare__row" data-number="2">
              <p class="compare__text">моем кухонную плиту и стену над ней</p>
            </div>
            <div class="compare__row" data-number="3">
              <p class="compare__text">моем все вертикальные поверхности</p>
            </div>
            <div class="compare__row" data-number="4">
              <p class="compare__text">чистим и обеззараживаем сантехнику</p>
            </div>
            <div class="compare__row" data-number="5">
              <p class="compare__text">моем грязную посуду</p>
            </div>
            <div class="compare__row" data-number="6">
              <p class="compare__text">моем холодильник снаружи</p>
            </div>
            <div class="compare__row" data-number="7">
              <p class="compare__text">моем вытяжку снаружи</p>
            </div>
            <div class="compare__row" data-number="8">
              <p class="compare__text">моем микроволновую печь снаружи и внутри</p>
            </div>
            <div class="compare__row  compare__row--none-border" data-number="9">
              <p class="compare__text">моем и обеззараживаем мусорную корзину, выносим мусор</p>
            </div>

            <!-- Ванная комната -->

            <div class="compare__row  compare__row--heading  compare__row--bg-gray">
              <p class="compare__text  compare__title">Ванная комната:</p>
            </div>
            <div class="compare__row" data-number="1">
              <p class="compare__text">чистим и обеззараживаем сантехнику и раковину</p>
            </div>
            <div class="compare__row" data-number="2">
              <p class="compare__text">моем все зеркальные и стеклянные поверхности</p>
            </div>
            <div class="compare__row" data-number="3">
              <p class="compare__text">моем душевую кабину и ванну (снаружи и внутри)</p>
            </div>
            <div class="compare__row" data-number="3.1">
              <p class="compare__text">очищаем межплиточные швы</p>
            </div>

          </div>
        </div>

        <div class="compare__part  compare__part--scroll  scroll-container">

          <div class="compare__column  compare__column--sm">
            <div class="compare__row  compare__row--heading">
              <p class="compare__text  compare__text--bold">Поддерж. уборка</p>
            </div>

            <div class="compare__row  compare__row--lg">
              (все работы делаются на высоту ниже 2м)
            </div>

            <!-- Общие работы -->

            <div class="compare__row  compare__row--heading compare__row--bg-gray">
              <p class="compare__text"></p>
            </div>

            <div class="compare__row" data-number="1">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="2">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="3">
              <img class="compare__indicator" src="/static/pancake/img/check-n.svg" alt="Нет">
            </div>
            <div class="compare__row" data-number="4">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="5">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="6">
              <img class="compare__indicator" src="/static/pancake/img/check-n.svg" alt="Нет">
            </div>
            <div class="compare__row" data-number="7">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="8">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="9">
              <img class="compare__indicator" src="/static/pancake/img/check-n.svg" alt="Нет">
            </div>
            <div class="compare__row" data-number="9.1">
              <img class="compare__indicator" src="/static/pancake/img/check-n.svg" alt="Нет">
            </div>
            <div class="compare__row" data-number="9.2">
              <img class="compare__indicator" src="/static/pancake/img/check-n.svg" alt="Нет">
            </div>
            <div class="compare__row" data-number="10">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="11">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="12">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="13">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="14">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row  compare__row--none-border" data-number="15">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>

            <!-- Кухня -->

            <div class="compare__row  compare__row--heading  compare__row--bg-gray"></div>

            <div class="compare__row" data-number="1">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="2">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="3">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="4">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="5">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="6">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="7">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="8">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row  compare__row--none-border" data-number="9">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>

            <!-- Ванная -->

            <div class="compare__row  compare__row--heading  compare__row--bg-gray"></div>

            <div class="compare__row" data-number="1">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="2">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="3">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="3.1">
              <img class="compare__indicator" src="/static/pancake/img/check-n.svg" alt="Нет">
            </div>

          </div>

          <div class="compare__column  compare__column--sm">
            <div class="compare__row  compare__row--heading">
              <p class="compare__text  compare__text--bold">Генерал. уборка</p>
            </div>
            <div class="compare__row  compare__row--lg">
              (все работы на всю высоту помещения)
            </div>

            <!-- Общие -->

            <div class="compare__row  compare__row--heading  compare__row--bg-gray"></div>

            <div class="compare__row" data-number="1">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="2">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="3">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="4">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="5">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="6">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="7">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="8">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="9">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="9.1">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="9.1">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="10">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="11">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="12">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="13">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="14">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row  compare__row--none-border" data-number="15">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>

            <!-- Кухня -->

            <div class="compare__row  compare__row--heading  compare__row--bg-gray"></div>

            <div class="compare__row" data-number="1">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="2">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="3">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="4">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="5">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="6">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="7">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="8">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row  compare__row--none-border" data-number="9">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>

            <!-- Ванная -->

            <div class="compare__row  compare__row--heading  compare__row--bg-gray"></div>
            <div class="compare__row" data-number="1">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="2">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="3">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
            <div class="compare__row" data-number="3.1">
              <img class="compare__indicator" src="/static/pancake/img/check-y.svg" alt="Да">
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="contact-btn" data-ga='{"hitType": "click", "eventCategory": "button", "eventAction": "send", "eventLabel": "orderButton"}'>
      <button class="contact-btn__btn contact-btn__btn--main" type="button" data-name="service-order">
        <svg class="contact-btn__image" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><rect width="30" height="30" fill="none"/><line x1="15" y1="1.5" x2="15" y2="28.5" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/><line x1="1.5" y1="15" x2="28.5" y2="15" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/></svg>
      </button>
    </div>
  </main>

  <!-- Pop up -->
  <div class="pop-up  pop-up--hide">
  
    <div class="pop-up__wrap  scroll-container-unstable">
  
      <button class="pop-up__btn-close  icon-close" type="button">
        <svg class="icon-close__image" width="19" height="19" viewBox="0 0 19 19">
          <line class="icon-close__element" x1="1" y1="18" x2="18" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
          <line class="icon-close__element" x1="18" y1="18" x2="1" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
        </svg>
      </button>
  
      <div class="pop-up__item  pop-up__item--sm  pop-up__item--hide  notification">
        <p class="notification__text  title">Текст</p>
      </div>
  
      <div class="pop-up__item  pop-up__item--sm  pop-up__item--hide  general-question">
        <form class="general-question__form">
          <p class="general-question__title  title">Вы уверены?</p>
          <button class="general-question__button  general-question__button--ok  button" data-ga='{"hitType": "event","eventCategory": "form","eventAction": "send","eventLabel": "canceled_order"}'>Да</button>
          <button class="general-question__button  general-question__button--no  button" type="button">Нет</button>
        </form>
      </div>
  
      <div class="pop-up__item  pop-up__item--hide  get-document">
        <div class="get-document__wrap">
          <form class="get-document__form" ga-send='{"hitType": "event", "eventCategory": "form", "eventAction": "send", "eventLabel": "getContract"}'  ya-reach="order_applic">
            <p class="get-document__title  title">Получить экземпляр договора</p>
  
            <div class="get-document__row">
              <label class="get-document__label  label">Введите e-mail</label>
              <input class="get-document__input  input" type="email" autofocus required>
            </div>
  
            <div class="get-document__row">
              <label class="checkbox">
                <input type="checkbox" class="checkbox__input checkbox__input--small" checked required>
                <span class="checkbox__indicator  checkbox__indicator--small  checkbox__indicator--light"></span>
                <span class="checkbox__text">Cогласен с обработкой моих персональных данных в соответствии с ФЗ РФ от 27.06.06 г. N°152-ФЗ «О персональных данных»</span>
              </label>
            </div>
            <div class="get-document__row">
              <div class="get-document__button">
                <button class="button" type="submit">Отправить</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  
      <div class="pop-up__item pop-up__item--hide  service-order">
        <div class="service-order__wrap">
          <form class="service-order__form" data-ga='{"hitType": "event", "eventCategory": "form", "eventAction": "send", "eventLabel": "orderForm_1"}'>
            <p class="service-order__title  title">Оформить заказ</p>
            <div class="service-order__row">
              <label class="service-order__label  label">
                Как к Вам обращаться?
                <input class="service-order__input  input" type="text" name="name">
              </label>
            </div>
            <div class="service-order__row">
              <label class="service-order__label  label">
                Номер телефона<span class="label__required">*</span>
                <input class="service-order__input  input" type="tel"  name="tel" required>
              </label>
            </div>
            <button class="service-order__button button" type="submit">Далее</button>
          </form>
        </div>
  
        <div class="service-order__wrap">
          <p class="service-order__title  title">Выберите дату и время</p>
          <form class="service-order__form" data-ga='{"hitType": "event", "eventCategory": "form", "eventAction": "send", "eventLabel": "orderForm_2"}'>
  
            <div class="service-order__calendar  calendar">
              <p class="calendar__title  title">Март</p>
              <div class="calendar__table">
                <div class="calendar__list  calendar__list--week">
                  <span class="calendar__item  calendar__item--week">Пн</span>
                  <span class="calendar__item  calendar__item--week">Вт</span>
                  <span class="calendar__item  calendar__item--week">Ср</span>
                  <span class="calendar__item  calendar__item--week">Чт</span>
                  <span class="calendar__item  calendar__item--week">Пт</span>
                  <span class="calendar__item  calendar__item--week">Сб</span>
                  <span class="calendar__item  calendar__item--week">Вс</span>
                </div>
              </div>
            </div>
  
            <div class="service-order__row  service-order__row--gorizontal">
              <div class="service-order__info">
                <p class="service-order__info-label">Дата:</p>
                <p class="service-order__text"><span class="service-order__month">Марта</span></p>
              </div>
              <div class="service-order__info">
                <span class="service-order__info-label">Время:</span>
                <div class="service-order__selection  selection  selection--sm">
                  <button class="selection__btn  service-order__selection-btn" type="button">08:00</button>
                  <ul class="service-order__list  selection__list  scroll-container">
                    <li class="service-order__option  selection__option" data-option="9">09:00</li>
                    <li class="service-order__option  selection__option" data-option="10">10:00</li>
                    <li class="service-order__option  selection__option" data-option="11">11:00</li>
                    <li class="service-order__option  selection__option" data-option="12">12:00</li>
                    <li class="service-order__option  selection__option" data-option="13">13:00</li>
                    <li class="service-order__option  selection__option" data-option="14">14:00</li>
                    <li class="service-order__option  selection__option" data-option="15">15:00</li>
                    <li class="service-order__option  selection__option" data-option="16">16:00</li>
                    <li class="service-order__option  selection__option" data-option="17">17:00</li>
                    <li class="service-order__option  selection__option" data-option="18">18:00</li>
                  </ul>
                </div>
              </div>
            </div>
  
            <div class="service-order__row">
              <div class="service-order__button">
                <button class="button" type="submit">Далее</button>
              </div>
            </div>
          </form>
        </div>
  
        <div class="service-order__wrap  service-order__wrap--no-fixed">
          <form class="service-order__form" data-ga='{"hitType": "event", "eventCategory": "form", "eventAction": "send", "eventLabel": "orderForm_3"}'>
            <p class="service-order__heading  text">Сумма Вашего заказа - <br class="service-order__mobile"><span class="service-order__price text  text--bold  text--orange  text--big">1 990 руб.</span></p>
            <div class="service-order__row">
              <label class="service-order__label service-order__label--promo label">Введите промокод:
                <input class="service-order__input  service-order__input--promo  input" type="text" name="name">
              </label>
            </div>
            <p class="service-order__heading  text">С этим часто заказывают</p>
            <div class="service-order__cards">
            </div>
            <div class="get-document__row">
              <div class="get-document__button">
                <button class="button" type="submit">Отправить</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  
      <div class="pop-up__item pop-up__item--hide  constant-client">
        <div class="constant-client__wrap">
          <form class="constant-client__form" data-ga='{"hitType": "event", "eventCategory": "form", "eventAction": "send", "eventLabel": "orderForm_1"}'>
            <p class="constant-client__title  title">Оформить заказ</p>
            <div class="constant-client__row">
              <label class="constant-client__label  label">
                Как к Вам обращаться?
                <input class="constant-client__input  input" type="text" name="name">
              </label>
            </div>
            <div class="constant-client__row">
              <label class="constant-client__label  label">
                Номер телефона<span class="label__required">*</span>
                <input class="constant-client__input  input" type="tel"  name="tel" required>
              </label>
            </div>
            <button class="constant-client__button button" type="submit">Отправить</button>
          </form>
        </div>
      </div>
  
      <div class="pop-up__item  pop-up__item--hide  price-list"></div>
  
      <div class="pop-up__item pop-up__item--hide  service-calc-calendar">
          <form class="service-order__form" data-ga='{"hitType": "event", "eventCategory": "form", "eventAction": "send", "eventLabel": "orderForm_2"}'>
  
            <div class="service-order__calendar  calendar">
              <p class="calendar__title  title">Март</p>
              <div class="calendar__table">
                <div class="calendar__list  calendar__list--week">
                  <span class="calendar__item  calendar__item--week">Пн</span>
                  <span class="calendar__item  calendar__item--week">Вт</span>
                  <span class="calendar__item  calendar__item--week">Ср</span>
                  <span class="calendar__item  calendar__item--week">Чт</span>
                  <span class="calendar__item  calendar__item--week">Пт</span>
                  <span class="calendar__item  calendar__item--week">Сб</span>
                  <span class="calendar__item  calendar__item--week">Вс</span>
                </div>
              </div>
            </div>
          </form>
  
      </div>
  
    </div>
  
  </div>
  <!-- /Pop up -->

</div>

<script src="/static/pancake/js/bundle.min.js?v0.50"></script>
<!-- /Java Script -->
{{#if general.production}}

  <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PHD7WW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>

  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PHD7WW');</script>

  {{else}}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    var yaCounter803248 = {
      reachGoal: function (param) {
        console.log("яндекс аналитика", param);
      }
    }
  </script>

{{/if}}
</body>

</html>