<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/static/general/css/style.css">
</head>
<body>
  <ul class="">
    <li class="item title link"><a href="http://dev.domovenok.su/view/build/main.html">Главная</a></li>
    <li class="item title link"><a href="http://dev.domovenok.su/view/build/podderzhka.html">Поддерживаяющая уборка</a></li>
    <li class="item title link"><a href="http://dev.domovenok.su/view/build/review.html">Отзывы</a></li>
    <li class="item title link"><a href="http://dev.domovenok.su/view/build/about-us.html">О нас</a></li>
    <li class="item  title link"><a href="http://dev.domovenok.su/view/build/contact.html">Контакт</a></li>
    <li class="item title link"><a href="http://dev.domovenok.su/view/build/important.html">Важно знать</a></li>
    <li class="item  title link"><a href="http://dev.domovenok.su/view/build/questions.html">Вопросы и ответы</a></li>
    <li class="item  title link"><a href="http://dev.domovenok.su/view/build/articles.html">Статьи</a></li>
    <li class="item  title link"><a href="http://dev.domovenok.su/view/build/promotion.html">Скидки и акции</a></li>
    <li class="item  title link"><a href="http://dev.domovenok.su/view/build/career.html">Вакансии</a></li>
  </ul>
</body>
</html>