.idea
*.log
.jshintrc
.DS_Store
node_modules
public/media
getFixture.js
config/default.json
/ecosystem.json
/config
/stat/employee_photo
/settings/*.json
/only_one/client_data/
/only_one/employee_data/
