.idea
*.log
.jshintrc
.DS_Store
node_modules
public/media
getFixture.js
config/default.json
/ecosystem.json
/config
/settings/*.json
/only_one/client_data/
/only_one/employee_data/
/only_one/*.xlsx
/only_one/.*


/stat/mean_and_material_photo/*
!/stat/mean_and_material_photo/*.gitkeep

/stat/employee_photo/*
!/stat/employee_photo/*.gitkeep

# vue build for employee-pa
/stat/employee-pa/

