<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="/static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="/static/js/custom_cookie.js?v=1.0"></script>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N3VS78"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N3VS78');</script>
    <!-- End Google Tag Manager -->
</head>
<body class="">
    <div data-role="page" class="jqm-demos ui-responsive-panel" id="main-page" data-title="Личный кабинет от Домовёнка">
        <div data-role="header" data-position="fixed" data-tap-toggle="false">
            <h1 style="overflow: visible">Дисциплинарные нарушения</h1>
            <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
        </div>
        <div role="main" class="ui-content jqm-content jqm-fullwidth">
        <script>$(document).unbind('scroll');</script>
    <script>

        function validate_message(textarea){
            if (textarea.val() !== "") {
                $("#message-form").submit();
                return true;
            }
            else{
                textarea[0].style.background = "#FFB1B1";
                return false;
            }
        };
        $( document ).ready(function() {
            var textarea = $("#message-textarea");
            $('#message-textarea').keydown(function (e) {
                if (e.keyCode == 13) {
                    validate_message(textarea);
                }
                else{
                    textarea[0].style.background = "";
                }
            });
            $( "#message-submit" ).click( function() {
                return validate_message(textarea);
            });
        });
</script>
    <style>

div.messages-container{
    margin-top: 30px;
}

div.message{
    background: white;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    border: solid 1px #d0c0b8;
}
div.messages-container form input[type="submit"]:hover {
    background: rgba(153, 51, 0, 0.9);
    }

div.messages-container form input {
    background: #993300;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    }
</style>
    <h3>{{ GetDisciplinaryInfo.Title }}</h3>
    {{#if GetDisciplinaryInfo.Linked }}
        <a href="{{staffUrl 'orderDetail' GetDisciplinaryInfo.Linked.ID }}">{{ GetDisciplinaryInfo.Linked.Title }}</a>
        <br><br>
    {{/if}}
    <p><b>Статус: </b><br/><span style="color:{{#ifCond GetDisciplinaryInfo.Status '==' 1 }}red{{/ifCond}}{{#ifCond GetDisciplinaryInfo.Status '==' 2 }}#ff6600{{/ifCond}}{{#ifCond GetDisciplinaryInfo.Status '==' 3 }}green{{/ifCond}};">{{ GetDisciplinaryInfo.StatusTitle }}</span></p>
    <p><b>Дата: </b><br/><span>{{ formatPartDate GetDisciplinaryInfo.Date "DD.MM.YYYY" }}</span></p>
    <p><b>Описание: </b><br/><span>{{{ GetDisciplinaryInfo.Description }}}</span></p>
    <p><b>Штрафные баллы: </b><br/><span style="color: red">{{ GetDisciplinaryInfo.Weight }}</span></p>
    <p><b>Срок вступления в силу: </b><br/><span>{{ formatPartDate GetDisciplinaryInfo.DateStart "DD.MM.YYYY" }}</span></p>
    {{#if GetDisciplinaryInfo.Note }}<p><b>Примечание: </b><br/><span>{{{ GetDisciplinaryInfo.Note }}}</span></p>{{/if}}
        <div class="messages-container">
        <h3>Комментарии</h3>
        {{#each GetMessageList.Messages as |message|}}
            <div class="message-line">
                <div id="{{ message.MessageID }}" class="message">
                    <span style="float: right">{{ formatPartDate message.Date "DD.MM.YYYY"}}</span>
                    <span style="color: darkred">{{ message.FullName }}</span><br/>
                    <span style="display: inline-block; margin-top: 10px">{{ message.Content }}</span>
                </div>
            </div>
        {{/each}}
        <form id="message-form" data-ajax="false"  action="{{staffUrl 'createMessage' selfId }}" method="post"
              enctype="multipart/form-data">
            <input class="ui-hidden" name="this_url"  type="hidden" value="{{ currentUrl }}" readonly>
            <input class="ui-hidden" name="DisciplinaryID"  type="hidden" value="{{ GetDisciplinaryInfo.DisciplinaryID }}" readonly>
            <div style="background: none; border: none; padding: 0" class="message">
                <textarea style="height: 80px; padding: 10px 5px 20px 5px" id="message-textarea" name="content" placeholder="Задать вопрос..."></textarea>

            <input  id="message-submit" type="submit" value="Отправить" >
                </div>
        </form>

    </div>
            <div data-demo-html="#panel-responsive-page1"></div>
        </div>
            <div data-role="panel" data-display="overlay" data-theme="b" id="nav-panel">
                <ul data-role="listview">
                    <li data-icon="delete"><a href="#" data-rel="close">Закрыть Меню</a></li>
                        <li><a href="{{staffUrl 'employeeDetail' selfId }}?profile=true">Профиль</a></li>
                        <li><a href="{{staffUrl 'creditsCurrent' selfId }}" >Заработано</a></li>
                        <li><a href="{{staffUrl 'depositCurrent' selfId }}">Необходимо сдать</a></li>
                        <li><a href="{{staffUrl 'employeeDetail' selfId }}?orders=true">Заказы</a></li>
                        <li><a data-ajax="false" href="{{staffUrl 'rating' selfId }}">Рейтинг</a></li>
                        <li><a href="{{staffUrl 'disciplinaryList' employeeId }}" class="ui-btn ui-btn-active">Нарушения</a></li>
                        <li><a href="{{staffUrl 'news' selfId}}" >Новости</a></li>
                        <li><a data-ajax="false" onclick="mobile_view(false)" href="">Полная версия</a></li>
                        <li><a data-ajax="false" href="{{staffUrl 'logout' }}">Выйти</a></li>
                </ul>
            </div>
    </div>
</body>
</html>