<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">
    <style>
      .ui-btn.green-button{background: #478447; color: white; text-shadow: none; }
      .ui-btn.green-button:hover{background: #478447; color: white; text-shadow: none; }
      .select-quantity{
        display:inline-block;
        vertical-align:top;
        width: 90% !important;
        opacity: 1;
        text-align: center !important;
      }
    </style>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="/static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="/static/js/custom_cookie.js?v=1.01"></script>

    <link rel="stylesheet" href="/stat/css/timepicker.css">

    <!-- Google Tag Manager -->
{{#if general.production}}

  <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PHD7WW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>

  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PHD7WW');</script>

{{/if}}
    <!-- End Google Tag Manager -->
    {{#if GetDepartureData.Management.Access}}
        <script>
        var actionToken = '{{actionToken}}'
        var departureID = '{{departureId}}';
        function OrderAction(action) {
            $.ajax({
              type: "GET",
              url: "/staff/ajax/order/management",
              data: ({'DepartureID': departureID, 'action': action, 'action_token': actionToken}),
              cache: false,
              dataType: "text",
              success: onSuccess,
                error: onError
            });
        };
        function onError() {
            var elem = document.getElementById('errorAction');
            elem.style.display = 'block';
        }
        function onSuccess(data){
            var parseData = JSON.parse(data)
            if (parseData.Result === true){
                if (parseData.Message){
                    var buttons = $('#order-buttons')
                    buttons.hide()
                    var message = $('#order-message')
                    message.text(parseData.Message.text)
                    if (parseData.Message.color){
                        message.css('color', parseData.Message.color);
                    }
                    message.show()
                } else {
                    location.reload();
                }

            }
            else {
                onError();
            }
        }
        {{#if updateStatus}}
        var Status = '{{GetDepartureData.Management.Status}}';
        var AmountStatus = '{{GetDepartureData.Management.AmountStatus}}'
        function updateStatus() {
            $.ajax({
              type: "GET",
              url: "/staff/ajax/order/management/get_status",
              data: ({'DepartureID': departureID}),
              cache: false,
              dataType: "text",
              success: onStatusSuccess,
                error: function () {}
            });
        }
            function onStatusSuccess(data){
                var parseData = JSON.parse(data)
                if (parseData.Result === true){
                    if (parseData.Status != Status || parseData.AmountStatus != AmountStatus){
                        location.reload();
                    }
                }
            }
        setInterval(updateStatus, 10 * 1000)
        {{/if}}
    </script>
    {{/if}}
</head>
<body class="">
    <div data-role="page" class="jqm-demos ui-responsive-panel" id="main-page" data-title="Личный кабинет от Домовёнка">

        <div data-role="header" data-position="fixed" data-tap-toggle="false">
            <h1 style="overflow: visible">Заказ № {{GetDepartureData.OrderNumber}}</h1>
            <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
        </div>
        {{#if GetDepartureData}}
        <div role="main" class="ui-content jqm-content jqm-fullwidth">
        <script>$(document).unbind('scroll');</script>

    {{#if GetDepartureData.Management.Access}}
        <div data-role="collapsible" data-inset="false" data-collapsed="false">
        <h2>Управление заказом</h2>
        <div id="errorAction" style="display: none; color: red">Возникла ошибка.<br/> Для завершения работы с заказом свяжитесь с менеджером</div>
        <p><span style="font-style: italic">Статус:</span><br/> <b style="color: {{statusColor}}">{{status}}</b></p>
            {{#if messageTop}}
                <p style="color: {{messageTop.color}}">{{messageTop.text}}</p>
            {{/if}}
            {{#if buttons}}
            <div data-role="navbar" id="order-buttons">
                <p>Действия над заказом:</p>
                <ul>
                {{#each buttons as |button|}}
                    <li><a style="white-space: normal; font-size: 18px;text-shadow: none; background: {{button.background}}; color: {{button.color}}; font-weight: 100" href="" onclick="OrderAction('{{button.action}}')" class="">{{button.name}}</a></li>
                {{/each}}
                </ul>
            </div>
            {{/if}}
            {{#if showTakeMoneyWidget}}
            <div id="order-block-collapse" class="listItemNoIcon" data-role="collapsible" data-content-theme="false">
                <style>
                    .listItemNoIcon .ui-icon { display: none; }
                    .listItemNoIcon a {
                      background: #f9c15c;
                      text-shadow: none;
                      font-size: 18px;
                    }
                </style>
                <h4>Принять наличные</h4>
                <form id=form_accept_cash action="/staff/ajax/order/management" method=GET enctype="application/x-www-form-urlencoded" data-ajax=false>
                    <input type="hidden" name="action" value="ConfirmPayment">
                    <input type="hidden" name="action_token" value="{{actionToken}}">
                    <input type="hidden" name="DepartureID" value="{{departureId}}">
                    <label>Сумма: {{#if showAmountToPaid}}<span style="color: green">{{ toMoney GetDepartureData.Management.AmountToPaid}}</span> руб.{{/if }}
                    <input id=input_amount name="PaidAmount" lang=en type=number required></label> {{!-- В mobile firefox могут быть проблемы с корректным оторбажением дробного числа: 100s0.95 --}}
                    {{#if already_entered_amount}}<span> Уже принятая сумма {{already_entered_amount}} руб. </span>{{/if }}

                    {{#if already_entered_amount}}
                      {{!-- Если сумма уже когда-то была введена --}}
                      <a href='#popup_dialog' data-rel=popup data-position-to=window data-transition=pop class='ui-btn ui-btn-inline green-button'>Принять</a>
                       <div data-role=popup id=popup_dialog data-theme=a data-dismissible=false>
                          <div role=main class=ui-content>
                            <h2 style=font-size:120% class=ui-title>Общая сумма принятых денег по заказу <span id=total_amount></span> руб.</h2>
                            <a id=apply_accept href=# style=width:30% class='ui-btn ui-btn-inline' data-rel=back>Принять</a>
                            <a id=cancel_accept href=# style=width:30% class='ui-btn ui-btn-inline' data-rel=back>Отмена</a>
                          </div>
                       </div>
                    {{else}}
                      {{!-- Первый раз вводится сумма --}}
                      <button class='ui-btn ui-btn-inline green-button' type=submit>Принять</button>
                    {{/if}}

                    <a onclick='$( "#order-block-collapse" ).collapsible( "collapse" )' class="ui-btn ui-btn-inline" type="" style="background: #b50000; text-shadow: none; color: white;">Отменить</a>
                </form>
            </div>
            {{/if}}
            {{#if showAmountToPaid}}
                <p>Сумма к оплате: <span style="color: green">{{ toMoney GetDepartureData.Management.AmountToPaid}}</span> Руб.</p>
            {{/if }}
            {{#if messageBottom}}
                <p style="color: {{messageBottom.color}}">{{messageBottom.text}}</p>
            {{/if}}
            <div id="order-message" style="display: none"></div>
    </div>
    {{/if}}
    <p><b>Клиент: </b><br/><span>{{ GetDepartureData.ClientTitle }}</span></p>
    <p><b>Сумма: </b><br/><span>{{ toMoney GetDepartureData.TotalAmount}}</span> руб.</p>
    {{#if GetDepartureData.IsCash }}
            {{#if isSenior }}
                <p><b>Оплата наличными</b></p>
            {{/if}}
    {{/if}}
    {{!-- <p><b>Дата и время: </b><br/><span>{{ formatPartDate currentDate "DD.MM.YYYY HH:mm" }}</span></p> --}}

    <table>
        <tr>
            <td><b>Дата и время:</b><br/> <span>{{ formatPartDate currentDate "DD.MM.YYYY HH:mm" }}</span></td>
            <td>
                {{!-- move order by time --}}
                {{#if GetDepartureData.WaitingMoveOrder }}
                  <span style=color:red>Уже есть заявка на перенос</span>
                {{else}}
                    <a href='#popup_move_order' style=margin-left:15px data-rel=popup data-position-to=window data-transition=pop class='ui-btn ui-btn-inline green-button'>Время прибытия</a>
                    <div data-role=popup id=popup_move_order data-theme=a data-dismissible=false>
                       <div role=main class=ui-content>
                         <h2 style=font-size:120% class=ui-title>Перенести на:</h2>
                         <input id=input_move_order style=text-align:center data-wrapper-class='select-quantity'/>
                         <p>
                             <a id=yes_move_order href=# style=width:20%;vertical-align:top class='ui-btn ui-btn-inline' data-rel=back>Да</a>
                             <a id=no_move_order href=# style=width:20%;vertical-align:top class='ui-btn ui-btn-inline' data-rel=back>Нет</a>
                         </p>
                       </div>
                    </div>
                {{/if}}
            </td>
        <tr>
          <td colspan=2><p id=popup_move_order_error style=width:100%;color:red></p></td>
    </table>




    {{#if EarningsOrder }}
        <p><b>Заработок с заказа:</b><br/><span style="color: green"><b>{{ toMoney EarningsOrder }}</b> руб.</span></p>
    {{/if}}

    {{#if is_first_order }}
        <div style=margin-bottom:16px;font-size:120%;color:red>Подарить клиенту магнит, листовку, письмо от Михаила</div>
    {{/if}}

    {{#ifCond GetDepartureData.EnableChangeWorkCard '&&' isSenior }}<a href="{{staffUrl 'orderCard' departureId }}" style="color: red; margin-bottom: 5px; display: inline-block" data-ajax="false">Заполнить карту заказа</a>
    {{ else }}
        {{#if GetDepartureData.CardCompleted }}
            <p style="color: green">Карта заказа заполнена</p>
        {{ else }}
            <p style="color: red">Карта заказа не заполнена</p>
        {{/if}}
    {{/ifCond}}

    <div data-role="collapsible" data-inset="false">
        <h2>Адрес</h2>
        <p>{{ GetDepartureData.Address.Title }}</p>
        {{!-- via text --}}
        {{!-- {{#if lon }}<a class="ui-btn" href="https://maps.yandex.ru/?mode=search&text={{ lat }},{{ lon }}">Маршрут на Яндекс.Картах</a>{{/if}} --}}
        {{#if lon }}
            {{!-- <a class=ui-btn data-ajax=false href="/staff/{{selfId}}/yandex_route_to_order/?adress_order={{ lat }},{{ lon }}">Маршрут на Яндекс.Картах</a> --}}
            <a id=go_to_app_yandex_map class=ui-btn data-ajax=false href="/staff/{{selfId}}/yandex_route_to_order/?adress_order={{ lat }},{{ lon }}">Маршрут на Яндекс.Картах</a>
            {{!-- <span id=go_to_app_yandex_map>
              Загрузка...
            </span> --}}
        {{/if}}

        <p><b>Подъезд:</b><br><span>{{ GetDepartureData.Address.Porch }}</span></p>
        <p><b>Домофон:</b><br><span>{{ GetDepartureData.Address.Intercom }}</span></p>
        <p><b>Этаж:</b><br><span>{{ GetDepartureData.Address.Floor }}</span></p>
        <p><b>Квартира:</b><br><span>{{ GetDepartureData.Address.Flat }}</span></p>
        <p><b>Метро:</b><br><span>{{ GetDepartureData.Address.Metro }}</span></p>
        <p><b>Как добраться:</b><br><span>{{ GetDepartureData.Address.Comment }}</span></p>
    </div>

    {{#if GetEmployeeData.ThemePractice }}
        <p style=margin-top:16px;font-size:120%>
            <span style=font-weight:bold>Тема практики:</span>
            {{ GetEmployeeData.ThemePractice }}
        </p>
    {{/if}}

    {{#if GetDepartureData.Note }}<p><b>Примечание к заказу: </b><br/><span>{{ GetDepartureData.Note }}</span></p>{{/if}}
    {{#if GetDepartureData.PointNote }}<p><b>Место встречи: </b><br/><span>{{ GetDepartureData.PointNote }}</span></p>{{/if}}
    {{#if isSenior }}
        {{#if GetDepartureData.SeniorNote }}<p><b>Примечание для ответственного: </b><br/><span>{{ GetDepartureData.SeniorNote }}</span></p>{{/if}}
    {{/if}}
    {{#if GetDepartureData.Senior.EmployeeID }}
    <p>
        <b>Старший на выезде:</b><br/>
        <a href="{{staffUrl 'employeeDetail' GetDepartureData.Senior.EmployeeID }}"><span style="font-weight: normal;">{{GetDepartureData.Senior.EmployeeTitle }}</span><br/></a> <a href="tel:{{ GetDepartureData.Senior.PhoneNumber }}">{{ GetDepartureData.Senior.PhoneNumber }}</a>
    </p>
    {{/if}}
    <p><b>Сотрудники:</b></p>
    <ul data-role="listview" data-inset="false">
        {{#each GetDepartureData.Employees}}
            <li>
                <a href="{{staffUrl 'employeeDetail' EmployeeID }}?profile=true"><span style="font-weight: normal;">{{#if IsIntern}}<span style="color:red">Стажёр</span>{{/if}} {{ EmployeeTitle }}</span></a>
            </li>
        {{/each}}
    </ul>
    <br/>

    <p><b>Услуги:</b></p>
        <div data-role="collapsibleset" data-inset="false">
            {{#each GetDepartureData.Services as |css|}}
                <div data-role="collapsible">
                    <h2><span style="font-weight: normal;">{{ css.ServiceTitle }} {{#ifCond css.Discount '!=' 0 }}<br/><strike>{{ toMoney css.Amount }}</strike>{{/ifCond}} <b>{{ toMoney css.TotalAmount }}</b></span></h2>
                        <ul data-role="listview">
                        <div data-role="collapsibleset">
                            {{#each css.ObjectClasses as |cssoc|}}
                                <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
                                    <h4><li style="font-style: italic; text-align: right; font-weight: normal;">{{ cssoc.ObjectClassTitle}} {{#ifCond cssoc.Quantity '!=' 1 }}<b>{{ toMoney cssoc.Price }}</b>x{{ cssoc.Quantity }} ={{/ifCond}}<b>{{ toMoney cssoc.Amount }}</b></li></h4>
                                    <ul data-role="listview">
                                    {{#each cssoc.Employees as |employee|}}
                                        <li style="text-align: right"><span style="font-weight: normal;">{{#if IsIntern}}<span style="color:red">Стажёр</span>{{/if}} {{ employee.EmployeeTitle }}</span></li>
                                    {{/each}}
                                    </ul>
                                </div>
                            {{/each}}
                        </div>
                        </ul>
                </div>
            {{/each}}
        </div>
    <br/>
            <div data-demo-html="#panel-responsive-page1"></div>
        </div>
        {{else}}
        <p style="color: red; margin-left: 15px">
            Открыт не ваш заказ!<br>
            Просмотр запрещен.
        </p>
        {{/if}}
            <div data-role="panel" data-display="overlay" data-theme="b" id="nav-panel">
                <ul data-role="listview">
                    <li data-icon="delete"><a href="#" data-rel="close">Закрыть Меню</a></li>
                        <li><a data-ajax="false" href="{{staffUrl 'employeeDetail' selfId }}?profile=true">Профиль</a></li>
                        <li><a href="{{staffUrl 'creditsCurrent' selfId }}">Заработано</a></li>
                        <li><a href="{{staffUrl 'depositCurrent' selfId }}">Необходимо сдать</a></li>
                        <li><a data-ajax="false" href="{{staffUrl 'employeeDetail' selfId }}?orders=true">Заказы</a></li>
                        <li><a data-ajax="false" href="{{staffUrl 'rating' selfId }}">Рейтинг</a></li>
                        <li><a href="{{staffUrl 'disciplinaryList' selfId }}">Нарушения</a></li>
                        <li><a href="{{staffUrl 'conversationList' selfId }}">Обращения</a></li>
                        <li><a href="{{staffUrl 'news' selfId}}" >Новости</a></li>
                        <li><a data-ajax=false href="{{staffUrl 'means_and_materials' selfId}}">Средства и материалы</a></li>
                        <li><a data-ajax=false href="{{staffUrl 'description_services' selfId}}">Услуги</a></li>
                        <li><a data-ajax="false" onclick="mobile_view(false)" href="">Полная версия</a></li>
                        <li><a data-ajax="false" href="{{staffUrl 'logout' }}">Выйти</a></li>
                </ul>
            </div>
    </div>

  <script src='/stat/lib/timepicker.js'></script>
  <!-- get current GSP via yandex <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&mode=release&load=geolocation"></script> -->
  <script>
    function getById(id) { return document.getElementById(id); }

    // move order
    void function handler_for_move_order() {
      var already_move_order = {{GetDepartureData.WaitingMoveOrder}};
      if (already_move_order) {
        return;
      }

      // greenwich date(order time) convert to local time
      var d = new Date('{{currentDate}}')
      var localOffset = d.getTimezoneOffset() * 60000;
      var time = d.getTime() + localOffset;

      var order_time = new Date(time);

      var start_hh_mm = get_hh_mm(order_time);
      var now_hh_mm = get_hh_mm();

      var $input_move_order = $('#input_move_order');
      $input_move_order.timepicker({
        timeFormat: 'H:i',
        step: 15, // step 15 minute
        disableTextInput: true,
        disableTouchKeyboard: true,
        disableTimeRanges: [[ '00:00', now_hh_mm ]], // block date from start date to now
      });
      // set current time
      $input_move_order.timepicker('setTime', order_time);

      getById('no_move_order').onclick = hide_error;

      getById('yes_move_order').onclick = function() {
        hide_error();
        var hh_mm = $input_move_order.val() || '';
        if (!hh_mm) {
          return;
        }
        if (!/^\d{2}:\d{2}$/.test(hh_mm)) {
          return;
        }

        if (start_hh_mm === hh_mm) {
          return;
        }

        if ( parseInt(hh_mm.replace(/:/g, ''), 10) <= parseInt(now_hh_mm.replace(/:/g, ''), 10) ) {
          show_error('* Можно выбрать только время больше '+now_hh_mm);
          return;
        }

        var parts = hh_mm.split(':');
        var new_time = new Date(order_time.getFullYear(), order_time.getMonth(), order_time.getDate(), parts[0], parts[1], order_time.getSeconds(), order_time.getMilliseconds());

        var data = {
          DepartureID: '{{departureId}}',
          Date: new_time.toISOString(), // by greenwich time
        };
        // show_error();
        // return console.log(data);

        send_ajax(data);
      };


      function send_ajax(data) {
        $.ajax({
          type: 'POST',
          url: '/proxy_request/Employee.MoveOrder',
          cache: false,
          data: JSON.stringify(data),
          dataType: 'json',
          contentType: 'application/json',
          success: function(res) {
            if (!res.ok) {
              // incorrect date
              if (res.ErrorCode === 34) {
                show_error('* Некорректное время');
              } else {
                // unknow error
                show_error();
              }
              console.error('Error=', res);
              console.error('Send data=', res);
            } else {
              console.log('Success=', arguments);
              window.location.reload();
            }
          },
          error: function() {
            show_error();
          }
        });
      }

      /**
       * get_hh_mm:
       * @param  {Date} date
       * @return {String}  'hh:mm' '23:15'
       */
      function get_hh_mm(date) {
        var d = date || new Date();
        return addPrefixZero(d.getHours()) + ':' + addPrefixZero(d.getMinutes());
      }

      // el 3, return '03'
      function addPrefixZero(el) {
        el = el.toString();
        if (el && el < 10) {
          el = '0' + el;
        }
        return el;
      }

      function show_error(text) {
        getById('popup_move_order_error').innerHTML = text || '* Неизвестная ошибка';
      }

      function hide_error(text) {
        getById('popup_move_order_error').innerHTML = '';
      }

    }();

    void function () {
      // to cent
      var already_entered_amount = parseFloat(
        (parseFloat({{already_entered_amount}}) * 100).toFixed(2)
      );
      if (!already_entered_amount) {
        return;
      }
      $('#popup_dialog').popup({
        afteropen: function(event, ui) {
          var input_amount = getById('input_amount').value || '0';
          input_amount = input_amount.trim().replace(/\,/g, '.').replace(/[^\d\.]+/g, '') || '0';
          // to cent
          input_amount = parseFloat(
            (parseFloat(input_amount)  * 100).toFixed(2)
          );
          getById('total_amount').innerHTML = ((already_entered_amount + input_amount) / 100).toFixed(2); // to rubles
        },
      });

      var apply_accept = getById('apply_accept')
      var cancel_accept = getById('cancel_accept');
      if (!apply_accept || !cancel_accept) {
        return;
      }
      getById('apply_accept').onclick = function () {
        // jquery mobile modify form and
        // we submit form after timeout
        setTimeout(function() {
          getById('form_accept_cash').submit();
        }, 200);
      };

      getById('cancel_accept').onclick = function () {
        // jquery mobile modify form and
        // we submit form after timout
        getById('input_amount').value = '';
      };
    }();

    // void function () {

    //   var lat = '{{ lat }}';
    //   var lon = '{{ lon }}';
    //   if (!lat || !lon) {
    //     return;
    //   }
    //   ymaps.ready(function() {
    //     ymaps.geolocation.get().then(function(res) {
    //       var current_position = res.geoObjects.position;
    //       // https://tech.yandex.ru/yandex-apps-launch/maps/doc/concepts/yandexmaps-ios-app-docpage/#buildroute
    //       var link = 'yandexmaps://maps.yandex.ru/?rtext='+current_position.join(',')+'~'+lat+','+lon+'&rtt=mt';
    //       getById('go_to_app_yandex_map').innerHTML = '<a class=ui-btn data-ajax=false href="'+link+'">Маршрут в приложении Яндекс.Карты</a>';
    //     }, function(e) {
    //       console.error(e);
    //     });
    //   });

    // }();

  </script>
</body>
</html>