<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="/static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="/static/js/custom_cookie.js?v=1.0"></script>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N3VS78"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N3VS78');</script>
    <!-- End Google Tag Manager -->
</head>
<body class="">
    <div data-role="page" class="jqm-demos ui-responsive-panel" id="main-page" data-title="Личный кабинет от Домовёнка">
        <div data-role="header" data-position="fixed" data-tap-toggle="false">
            <h1 style="overflow: visible">Карта заказа</h1>
            <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
        </div>
        <div role="main" class="ui-content jqm-content jqm-fullwidth">
        <script>$(document).unbind('scroll');</script>
   <script src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js'></script>
    <style>
        .ui-collapsible-heading a {
            white-space: normal;
        }
    </style>
    <div>
        <p style="color: red">Внимание, заполнить карту по заказу можно только один раз!</p>
        <form id="set_card_form" data-ajax="false" enctype="multipart/form-data" method="post" action="{{ staffUrl 'orderCard' departureId }}">
            <input type="hidden" name="date-order" value="{{ formatPartDate dep.Date 'DD-MM-YYYY' }}T">
            {{#each GetDepartureData.Services as |css|}}
                {{#if css.NeedEmployee }}
                    <h3 style="color: #38c">{{ css.ServiceTitle }}</h3>
                    <div>
                        {{#each css.ObjectClasses as |cssoc|}}
                            <div data-role="collapsible" data-inset="false">
                                <h3 style="width: 100%">{{ cssoc.ObjectClassTitle }}</h3>
                                <ul data-role="listview">
                                    {{#each ../../GetDepartureData.Employees as |employee|}}
                                        <li>
                                            <fieldset data-role="controlgroup" data-type="horizontal">
                                                <legend>{{#if employee.IsIntern}}<span style="color:red">Стажёр</span>{{/if}} {{ employee.EmployeeTitle }}</legend>
                                                <input class="radio-validate" type="radio"
                                                       name="service_{{ css.ServiceID }}_{{ cssoc.ObjectClassID }}_{{ employee.EmployeeID }}"
                                                       id="service_{{ css.ServiceID }}_{{ cssoc.ObjectClassID }}_{{ employee.EmployeeID }}-yes"
                                                       value="1">
                                                <label for="service_{{ css.ServiceID }}_{{ cssoc.ObjectClassID }}_{{ employee.EmployeeID }}-yes">Да</label>
                                                <input class="radio-validate" type="radio"
                                                       name="service_{{ css.ServiceID }}_{{ cssoc.ObjectClassID }}_{{ employee.EmployeeID }}"
                                                       id="service_{{ css.ServiceID }}_{{ cssoc.ObjectClassID }}_{{ employee.EmployeeID }}-no"
                                                       value="0">
                                                <label for="service_{{ css.ServiceID }}_{{ cssoc.ObjectClassID }}_{{ employee.EmployeeID }}-no">Нет</label>
                                            </fieldset>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        {{/each}}
                    </div>
                {{/if}}
            {{/each}}


            <h3 style="color: #38c">Дополнительно</h3>
            <div>
                {{#each additionalCheckbox as |service|}}
                    <div data-role="collapsible" data-inset="false">
                        <h3 style="width: 100%">{{ service.Title }}</h3>
                        <ul data-role="listview">
                            {{#each ../GetDepartureData.Employees as |employee|}}
                                {{#ifCond employee.EmployeeID '!==' ../../GetDepartureData.Senior.EmployeeID }}
                                    <li>
                                        <fieldset data-role="controlgroup" data-type="horizontal">
                                            <legend>{{#if employee.IsIntern}}<span style="color:red">Стажёр</span>{{/if}} {{ employee.EmployeeTitle }}</legend>
                                            <input type="radio" class="radio-validate"
                                                   name="additional_{{ service.Value }}_{{ employee.EmployeeID }}"
                                                   id="additional_{{ service.Value }}_{{ employee.EmployeeID }}-yes"
                                                   value="1">
                                            <label for="additional_{{ service.Value }}_{{ employee.EmployeeID }}-yes">Да</label>
                                            <input type="radio" class="radio-validate"
                                                   name="additional_{{ service.Value }}_{{ employee.EmployeeID }}"
                                                   id="additional_{{ service.Value }}_{{ employee.EmployeeID }}-no"
                                                   value="0">
                                            <label for="additional_{{ service.Value }}_{{ employee.EmployeeID }}-no">Нет</label>
                                        </fieldset>
                                    </li>
                                {{/ifCond}}
                            {{/each}}
                        </ul>
                    </div>
                {{/each}}
                <div data-role="collapsible" data-inset="false">
                    <h3 style="width: 100%">Оценка</h3>
                    <ul data-role="listview">
                        {{#each GetDepartureData.Employees as |employee| }}
                            {{#ifCond employee.EmployeeID '!==' ../GetDepartureData.Senior.EmployeeID }}
                                <li>
                                    <legend>{{#if employee.IsIntern}}<span style="color:red">Стажёр</span>{{/if}} {{ employee.EmployeeTitle }}</legend>
                                    <select  data-icon="false" class="select-validate" name="score_{{ employee.EmployeeID }}">
                                        <option disabled selected value>-</option>
                                        {{#each ../scoreRange  as |i|}}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {{/each }}
                                    </select>
                                </li>
                            {{/ifCond}}
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div>
                <h3 style="color: #38c">Сервис:</h3>
                <div>
                    <legeng for="">Чистая техника</legeng>
                    <select class="select-validate" data-icon="false" name="clean_technique">
                        <option disabled selected value>-</option>
                        <option value="true">Да</option>
                        <option value="false">Нет</option>
                    </select>
                </div>
                <div>
                    <legend>Был весь инвентарь</legend>
                    <select class="select-validate" data-icon="false" name="full_inventory">
                        <option disabled selected value>-</option>
                        <option value="true">Да</option>
                        <option value="false">Нет</option>
                    </select>
                </div>

                <div>
                    <legeng>Состояние техники</legeng>
                    <select class="select-validate" data-icon="false" name="equipment_repair">
                        <option disabled selected value>-</option>
                        {{#each scoreRange  as |i|}}
                            <option value="{{ i }}">{{ i }}</option>
                        {{/each }}
                    </select>
                </div>
                <div>
                    <legeng>Оценка менеджера</legeng>
                    <select class="select-validate" data-icon="false" name="manager_raiting">
                        <option disabled selected value>-</option>
                        {{#each scoreRange  as |i|}}
                            <option value="{{ i }}">{{ i }}</option>
                        {{/each }}
                    </select>
                </div>
            </div>

            <div>
                <h3 style="color: #38c">Время</h3>

                <div>

                    <div data-role="navbar">
                        <label for="">Начала работы:</label>
                        <ul>
                            <li>
                                <select class="select-validate-time" data-icon="false" name="begin_time_hour">
                                    <option disabled selected value>Часы</option>
                                    {{#each hours as |i|}}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {{/each }}
                                </select>
                            </li>
                            <li>
                                <select class="select-validate-time" data-icon="false" name="begin_time_minute">
                                    <option disabled selected value>Минуты</option>
                                    {{#each minutes as |i|}}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {{/each}}
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>

                <div>

                    <div data-role="navbar">
                        <label for="">Конца работы:</label>
                        <ul>
                            <li>
                                <select class="select-validate-time" data-icon="false" name="end_time_hour">
                                    <option disabled selected value>Часы</option>
                                    {{#each hours as |i|}}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {{/each }}
                                </select>
                            </li>
                            <li>
                                <select class="select-validate-time" data-icon="false" name="end_time_minute">
                                    <option disabled selected value>Минуты</option>
                                    {{#each minutes as |i|}}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {{/each}}
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>

                <div>
                    <label for="">Приезда машины</label>
                    <div data-role="navbar">
                        <ul>
                            <li>
                                <select data-icon="false" name="begin_time_car_hour">
                                    <option disabled selected value>Часы</option>
                                    {{#each hours as |i|}}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {{/each}}
                                </select>
                            </li>
                            <li>
                                <select data-icon="false" name="begin_time_car_minute">
                                    <option disabled selected value>Минуты</option>
                                    {{#each minutes as |i|}}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {{/each }}
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>

                <div>
                    <label for="">Отъезда машины</label>
                    <div data-role="navbar">
                        <ul>
                            <li>
                                <select data-icon="false" name="end_time_car_hour">
                                    <option disabled selected value>Часы</option>
                                    {{#each hours as |i|}}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {{/each }}
                                </select>
                            </li>
                            <li>
                                <select data-icon="false" name="end_time_car_minute">
                                    <option disabled selected value>Минуты</option>
                                    {{#each minutes as |i|}}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {{/each }}
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <button id="send_form_card" type="submit">
                Сохранить
            </button>
        </form>
    </div>
    <script>
        $('#send_form_card').click(function () {
            var all_collaps = $("[data-role='collapsible']")
            all_collaps.collapsible({
                collapsed: false
            })
            $('input.radio-validate, select.select-validate').each(function (i, item) {
                item.parentElement.parentElement.previousElementSibling.style.color = 'black';
            })
            $('select.select-validate-time').each(function (i, item) {
                item.parentElement.parentElement.parentElement.parentElement.previousElementSibling.style.color = 'black';
            })
        })

            $(document).ready(function () {
                $.validator.addClassRules({
                    'radio-validate': {
                        required: true,
                    },
                    'select-validate': {
                        required: true,
                    },
                    'select-validate-time': {
                        required: true,
                    }
                });
                $("#set_card_form").validate({
                    errorPlacement: function (error, element) {
                        if (element.hasClass('radio-validate') || element.hasClass('select-validate')) {
                            element.parent().parent().prev().css('color', 'red')
                        }
                        if (element.hasClass('select-validate-time')) {
                            element.parent().parent().parent().parent().prev().css('color', 'red');
                        }
                    },
                    invalidHandler: function(form, validator) {
                        $('html, body').animate({scrollTop: $(validator.errorList[0].element).offset().top - 100}, 0);
                    }
                })
            });


    </script>
            <div data-demo-html="#panel-responsive-page1"></div>
        </div>
            <div data-role="panel" data-display="overlay" data-theme="b" id="nav-panel">
                <ul data-role="listview">
                    <li data-icon="delete"><a href="#" data-rel="close">Закрыть Меню</a></li>
                        <li><a href="{{staffUrl 'employeeDetail' selfId }}?profile=true" {{#if activeProfile }} class="ui-btn ui-btn-active" {{/if}}>Профиль</a></li>
                        <li><a href="{{staffUrl 'creditsCurrent' selfId }}" {{#if activeCredits }} class="ui-btn ui-btn-active" {{/if }}>Заработано</a></li>
                        <li><a href="{{staffUrl 'depositCurrent' selfId }}" {{#if activeDebits }} class="ui-btn ui-btn-active" {{/if }}>Необходимо сдать</a></li>
                        <li><a href="{{staffUrl 'employeeDetail' selfId }}?orders=true" {{#if activeOrders }} class="ui-btn ui-btn-active" {{/if }}>Заказы</a></li>
                        <li><a data-ajax="false" href="{{staffUrl 'rating' selfId }}" {{#if activeRating }} class="ui-btn ui-btn-active" {{/if }}>Рейтинг</a></li>
                        <li><a href="{{staffUrl 'disciplinaryList' selfId }}" {{#if activeDisciplinary }} class="ui-btn ui-btn-active" {{/if }}>Нарушения</a></li>
                        <li><a href="{{staffUrl 'news' selfId}}" {{#if activeNews }} class="ui-btn ui-btn-active" {{/if }}>Новости</a></li>
                        <li><a data-ajax="false" onclick="mobile_view(false)" href="">Полная версия</a></li>
                        <li><a data-ajax="false" href="{{staffUrl 'logout' }}">Выйти</a></li>
                </ul>
            </div>
    </div>
</body>
</html>