<!doctype html>
<html lang=RU>
  <head>
    <title>Создание заявки на средства и материалы</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">
    <style>
      html{hyphens:auto;-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;}
      .btn-plus, .btn-minus{
        font-size:100%;
        display:inline-block !important;
        vertical-align:top !important;
        width:20% !important
      }
      .btn-plus{
        color:green !important;
      }
      .btn-minus{
        color:red !important;
      }
      .select-quantity{
        display:inline-block;
        vertical-align:top;
        width: 50%;
        opacity: 1;
        text-align: center !important;
      }
      .digit{
        font-weight: bold
      }
      .table-row{
        text-align:left;
      }
      .row-margin-top{height:16px;}
      .el-margin-top > b.ui-table-cell-label{ display:none; }
      @media screen and (max-width:640px) {
        .my-title{font-size:80%;}
      }
    </style>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="/static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <!-- Google Tag Manager -->
    {{#if general.production}}
    <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PHD7WW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PHD7WW');</script>
    {{/if}}
    <!-- End Google Tag Manager -->
  </head>
  <body class="">
    <div data-role="page" class="jqm-demos ui-responsive-panel" id="mainPage" data-title="Создание заявки на средства и материалы">
      <div class=my-title data-role="header" data-position="fixed" data-tap-toggle="false">
        <h1>Создание заявки на <br> средства и материалы</h1>
        <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
      </div>
      <div role="main" class="ui-content jqm-content jqm-fullwidth">
        <script>$(document).unbind('scroll');</script>

        <a data-ajax=false href='/staff/{{selfId}}/history_about_means_materials'>История получения средств и материалов</a>

        <p>Лимит на средства и материалы: <span class=digit>{{getEmployeeData.MatLimit}}</span> руб.</p>

        <div data-role=tabs id=tabs>

          <div data-role=navbar>
            <ul>
              <li><a href='#means' class="ui-btn-active">Средства</a></li>
              <li><a href='#materials'>Материалы</a></li>
            </ul>
          </div>

          <div id=means style=margin-top:24px class="ui-body-d">
            <table data-role=table data-mode=reflow class="ui-responsive custom-table">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th>Название:</th>
                  <th></th>
                  <th>Цена:</th>
                </tr>
              </thead>
              <tbody>
                {{#each means as |mean| }}
                  <tr id='{{mean.row_id}}' {{#ifCond @index '!=' '0' }} class=table-row {{/ifCond}}>
                    <td style=text-align:center><img src="{{mean.photo_src}}" style=max-width:100%;width:100px;height:auto alt=""/></td>
                    <td>
                      <div style="width:100%;margin-top:0;" class="ui-field-contain">
                        <button id='minus_{{mean.data_key}}' data-action=minus data-key={{mean.data_key}} data-input-id='quantity_{{mean.data_key}}' class=btn-minus>&minus;</button>
                        <input type=text id='quantity_{{mean.data_key}}' value=0 disabled="disabled"  style=text-align:center data-wrapper-class='select-quantity'/>
                        <button id='plus_{{mean.data_key}}' data-action=plus data-key={{mean.data_key}} data-input-id='quantity_{{mean.data_key}}' class=btn-plus>+</button>
                      </div>
                    </td>
                    <td>{{mean.inventory_title}}</td>
                    <td>
                      <div data-role=collapsible data-content-theme=false>
                        <h4>Описание</h4>
                        <p style=text-align:justify>{{mean.inventory_description}}</p>
                      </div>
                    </td>
                    <td>{{mean.price}} руб.</td>
                  </tr>
                  <tr class=row-margin-top>
                    <td class=el-margin-top></td>
                    <td class=el-margin-top></td>
                    <td class=el-margin-top></td>
                    <td class=el-margin-top></td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>

          <div id=materials style=margin-top:24px class="ui-body-d">
           <table data-role=table data-mode=reflow class="ui-responsive custom-table">
             <thead>
               <tr>
                 <th></th>
                 <th>Название:</th>
                 <th></th>
                 <th>Цена:</th>
               </tr>
             </thead>
             <tbody>
               {{#each materials as |material| }}
                 <tr id='{{material.row_id}}' {{#ifCond @index '!=' '0' }} class=table-row {{/ifCond}}>
                  <td style=text-align:center><img src="{{material.photo_src}}" style=max-width:100%;width:100px;height:auto alt=""/></td>
                   <td>
                     <div style="width:100%;margin-top:0;" class="ui-field-contain">
                       <button id='minus_{{material.data_key}}' data-action=minus data-key={{material.data_key}} data-input-id='quantity_{{material.data_key}}' class=btn-minus>&minus;</button>
                       <input type=text id='quantity_{{material.data_key}}' value=0 disabled="disabled"  style=text-align:center data-wrapper-class='select-quantity'/>
                       <button id='plus_{{material.data_key}}' data-action=plus data-key={{material.data_key}} data-input-id='quantity_{{material.data_key}}' class=btn-plus>+</button>
                     </div>
                   </td>
                   <td>{{material.inventory_title}}</td>
                   <td>
                     <div data-role=collapsible data-content-theme=false>
                       <h4>Описание</h4>
                       <p style=text-align:justify>{{material.inventory_description}}</p>
                     </div>
                   </td>
                   <td>{{material.price}} руб.</td>
                 </tr>
                 <tr class=row-margin-top>
                   <td class=el-margin-top></td>
                   <td class=el-margin-top></td>
                   <td class=el-margin-top></td>
                   <td class=el-margin-top></td>
                 </tr>
               {{/each}}
             </tbody>
           </table>
          </div>

        <div style="margin-top:16px;border-top:2px solid #999;font-size:120%">
          <p>Итог по средствам: <span id=total_means class=digit></span> руб.</p>
          <p>Итог по материалам: <span id=total_materials class=digit></span> руб.</p>
          <p>Итог всего: <span id=total class=digit></span> руб.</p>
          <p id=status_text style=font-size:100%></p>
          <button id=create_inventory_request type=button>Оформить заявку</button>
          <p style=color:red id=error></p>
        </div>
      </div>
      <div data-role="panel" data-display="overlay" data-theme="b" id="nav-panel">
        <ul data-role="listview">
          <li data-icon="delete"><a href="#" data-rel="close">Закрыть Меню</a></li>
          <li><a data-ajax="false" href="{{staffUrl 'employeeDetail' selfId }}?profile=true">Профиль</a></li>
          <li><a href="{{staffUrl 'creditsCurrent' selfId }}">Заработано</a></li>
          <li><a href="{{staffUrl 'depositCurrent' selfId }}">Необходимо сдать</a></li>
          <li><a href="{{staffUrl 'employeeDetail' selfId }}?orders=true">Заказы</a></li>
          <li><a data-ajax="false" href="{{staffUrl 'rating' selfId }}">Рейтинг</a></li>
          <li><a href="{{staffUrl 'disciplinaryList' selfId }}">Нарушения</a></li>
          <li><a href="{{staffUrl 'conversationList' selfId }}">Обращения</a></li>
          <li><a href="{{staffUrl 'news' selfId}}">Новости</a></li>
          <li><a data-ajax=false href="{{staffUrl 'means_and_materials' selfId}}" class='ui-btn ui-btn-active'>Средства и материалы</a></li>
          <li><a data-ajax=false href="{{staffUrl 'study' selfId}}">Обучение</a></li>
          <li><a data-ajax=false href="{{staffUrl 'description_services' selfId}}">Услуги</a></li>
          <li><a data-ajax=false href="{{staffUrl 'faq' selfId}}">Часто задаваемые<br/> вопросы</a></li>
          <li><a data-ajax="false" onclick="mobile_view(false)" href="">Полная версия</a></li>
          <li><a data-ajax="false" href="{{staffUrl 'logout' }}">Выйти</a></li>
        </ul>
      </div>
      </div>
    </div>
    <script>
      void function() {
        // base functions
        // =================================================
        function getById(id) {
          return document.getElementById(id);
        }

        function getTarget(e) {
          return e && e.target || e.srcElement;
        }

        function getDataAttribute(el) {
          el = (typeof el === 'string') ? getByID(el) : el;
          return el.dataset || {};
        }
        if (!Object.keys) {
          Object.keys = function(obj) {
            var keys = [];
            for (var key in obj) {
              if (obj.hasOwnProperty(key)) {
                keys.push(key);
              }
            }
            return keys;
          };
        }
        // =================================================

        // Start app
        new Api(
          {{{getEmployeeData.MatLimit}}},
          {{{hash_mean_material}}}
        ).set_events('tabs');

        // _mat_limit  2000 // rubles
        // _hash_mean_material–– {
        //   "material_1": {
        //     "type": "material",
        //     "inventory_id": "926c7106-1f90-11e7-80e4-00155d594900",
        //     "package_id": null,
        //     "price": 347,
        //     "api_quantity": {
        //       "state": {
        //         "value": 0,
        //         "index": 0,
        //         "package_title": "шт"
        //       },
        //       "list": [
        //         0,
        //         1,
        //         2,
        //         3,
        //         4,
        //         5
        //       ]
        //     },
        //     "current_quantity": 0,
        //     "row_id": "926c7106-1f90-11e7-80e4-00155d594900"
        //   }
        // }
        function Api(_mat_limit, _hash_mean_material) {
          var _active_hash = {};
          var $inventory_request = getById('create_inventory_request');
          var $error = getById('error');
          _mat_limit = to_cents(_mat_limit);
          _current_mat_limit = 0;

          recalc();

          this.set_events = function(id) {
            getById(id).onclick = select_elements;
            $inventory_request.onclick = create_inventory_request;
          };

          // =================================================
          function select_elements(e) {
            var t = getTarget(e);
            var name_action = t.getAttribute('data-action');
            var key = t.getAttribute('data-key');
            var input_id = t.getAttribute('data-input-id')
            if (name_action === 'plus') { // click +
              var el = _hash_mean_material[key];
              var api_quantity = el.api_quantity;
              var state = api_quantity.state; // { value: // current value , index: // index in list }
              var list = api_quantity.list; // [ 0, 0.33, 0.5, 1, 2] // list value
              if (!(list[state.index + 1])) {
                return; // Max limit
              }
              state.index++;
              state.value = list[state.index];

              update_input_quantity(input_id, state);
              increment_value_in_active_hash(el, key, state.value);
            } else if (name_action === 'minus') { // click +
              var el = _hash_mean_material[key];
              var api_quantity = _hash_mean_material[key].api_quantity;
              var state = api_quantity.state; // { value: // current value , index: // index in list }
              var list = api_quantity.list; // [ 0, 0.33, 0.5, 1, 2] // list value
              if (!list[state.index - 1] && list[state.index - 1] !== 0) {
                return; // Min limit
              }
              state.index--;
              state.value = list[state.index];

              update_input_quantity(input_id, state);
              decrement_value_in_active_hash(el, key, state.value);
            }

            recalc();
          }

          function update_input_quantity(input_id, state) {
            var value = state.value;
            var package_title = state.package_title;
            if (value === 0) {
              package_title = '';
            }
            getById(input_id).value = value + ' ' + package_title;
          }

          function increment_value_in_active_hash(el, key, value) {
            el.current_quantity = parseFloat(value);
            if (el.current_quantity > 0) {
              _active_hash[key] = el;
              higligth_row(el);
            }
          }

          function decrement_value_in_active_hash(el, key, value) {
            el.current_quantity = parseFloat(value);
            if (el.current_quantity > 0) {
              _active_hash[key] = el;
              higligth_row(el);
            } else if (el.current_quantity === 0) {
              delete _active_hash[key];
              douse_row(el);
            }
          }

          function higligth_row(el) {
            getById(el.row_id).style.backgroundColor = '#EEE';
          }

          function douse_row(el) {
            getById(el.row_id).style.backgroundColor = '#FFF';
          }
          // =================================================


          // =================================================
          function create_inventory_request(e) {
            $error.innerHTML = '';
            var keys = Object.keys(_active_hash)
            if (!Object.keys(_active_hash).length) {
              return $error.innerHTML = '* Выберите средства или материалы';
            }
            if (_current_mat_limit < 0) {
              return $error.innerHTML = '* Вам не хватает средств, уберите что-нибудь';
            }
            var data = [];
            for (var i = 0, l = keys.length; i < l; i++) {
              var el = _active_hash[keys[i]];
              data.push({
                InventoryID: el.inventory_id,
                PackageID: el.package_id,
                Quantity: el.current_quantity,
              });
            }

            $.ajax({
              type: 'POST',
              url: '/staff/aj/{{selfId}}/inventory_request',
              cache: false,
              data: JSON.stringify(data),
              dataType: 'json',
              contentType: 'application/json',
              success: function() {
                console.log('Success=', arguments);
                $inventory_request.style.opacity = .5;
                $error.style.color = 'green';
                $error.innerHTML = 'Заявка успешно создана <a data-ajax=false style=font-size:90%; href="{{current_url}}">Посмотреть текущую заявку</a>';
                window.location.reload();
              },
              error: function() {
                console.log('Error=', arguments);
                $error.style.color = 'red';
                $error.innerHTML = '* Произошла ошибка';
              }
            });
          }
          // =================================================

          // recalc Итог по средствам, Итог по материалам, Итог всего
          // =================================================
          function recalc() {
            $error.innerHTML = '';
            var keys = Object.keys(_active_hash);
            var total_means = 0;
            var total_materials = 0;
            for (var i = 0, l = keys.length; i < l; i++) {
              var el = _active_hash[keys[i]];
              var res = el.current_quantity * to_cents(el.price);
              var type = el.type;
              if (type === 'mean') {
                total_means += res;
              } else if (type === 'material') {
                total_materials += res;
              } else {
                console.error('Incorrect type =>' + type);
              }
            }
            var total = total_means + total_materials;
            _current_mat_limit = _mat_limit - total;
            update_total_means(total_means);
            update_total_materials(total_materials);
            update_total(total);
            update_status_text(_current_mat_limit);
          }

          function update_total_means(means) {
            getById('total_means').innerHTML = to_rubles(means);
          }

          function update_total_materials(materials) {
            getById('total_materials').innerHTML = to_rubles(materials);
          }

          function update_total(total) {
            getById('total').innerHTML = to_rubles(total);
          }

          function update_status_text(new_mat_limit) {
            var text = '';
            var $status_text = getById('status_text');
            if (new_mat_limit < 0) {
              $status_text.innerHTML = 'Вам не хватает ' + to_rubles((-1 * new_mat_limit)) + ' руб. , уберите что-нибудь';
              $status_text.style.color = 'red';
            } else {
              $status_text.innerHTML = 'У вас оcталось еще ' + to_rubles(new_mat_limit) + ' руб.';
              $status_text.style.color = 'green';
            }
          }

          function to_cents(digit) {
            return digit * 100;
          }

          function to_rubles(digit) {
            return (digit / 100).toFixed(2);
          }
          // =================================================

        }
      }();
    </script>
  </body>
</html>