<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">

    <!-- For autocomplete -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <style>
        .ui-input-text.ui-custom {
           border: none;
           box-shadow: none;
        }
         .btn-danger{
            color: #fff !important;
            background-color: #dc3545 !important;
            border-color: #dc3545 !important;
         }
    </style>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="/static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="/static/js/custom_cookie.js?v=1.0"></script>
    <script src="/stat/lib/clipboard_min.js"></script>

    <script src="/stat/lib/jquery-ui.js?v3"></script>

    <!-- Google Tag Manager -->
{{#if general.production}}

  <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PHD7WW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>

  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PHD7WW');</script>

{{/if}}
    <!-- End Google Tag Manager -->
</head>
<body class="">
    <div data-role="page" class="jqm-demos ui-responsive-panel" id="mainPage" data-title="Личный кабинет от Домовёнка">
        <div data-role="header" data-position="fixed" data-tap-toggle="false">
            <h1 style="overflow: visible">Профиль</h1>
            <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
        </div>
        <div role="main" class="ui-content jqm-content jqm-fullwidth">
        <script>$(document).unbind('scroll');</script>
            <h3>{{ GetEmployeeData.FullTitle }}</h3>
            <h3>{{ GetEmployeeData.Post }}</h3>
            <h3><a href="tel:{{ GetEmployeeData.PhoneNumber }}">{{ GetEmployeeData.PhoneNumber }}</a></h3>
            {{#if itIsMe }}
                <span>Лимит на средства и материалы: <span style="font-weight: bold">{{GetEmployeeData.MatLimit}}</span> руб.</span><br/>
                <a data-ajax="false" href="{{staffUrl 'employeeDetail' selfId }}">Заказы</a>
            {{/if}}
            <div data-demo-html="#panel-responsive-page1"></div>
            <div style=margin-top:20px; data-demo-html="#panel-responsive-page3">
                <div>
                    <a href="{{staffUrl 'creditsCurrent' selfId }}">Заработано</a> {{earned_money}} руб.
                </div>
                <div style=margin-top:10px>
                    <a href="{{staffUrl 'depositCurrent' selfId }}">Необходимо сдать</a> {{deposit_money}} руб.
                </div>
            </div>
            <div style=margin-top:20px; data-demo-html="#panel-responsive-page2">{{{total_receivable}}}</div>

            {{#if GetEmployeeData.PhoneTechnicalSupport}}
              <div style=margin-top:40px;>
                <p>Позвонить в поддержку:</p>
                <a data-ajax=false class='ui-btn btn-danger' href='tel:{{GetEmployeeData.PhoneTechnicalSupport}}'>{{GetEmployeeData.PhoneTechnicalSupport}}</a>
              </div>
            {{/if}}

            <!-- Address -->
            <div style=margin-top:40px;>
               <div id=block_employee_adress style=font-size:120%;>
                 <table>
                   <tr>
                     <td style=width:50%>Адрес: <span id=employee_adress>Москва, улица Островитянова, 41к1</span></td>
                     <td style=width:50%><button id=change_employee_address type=button>Изменить</button></td>
                   </tr>
                 </table>
               </div>
                <div id=block_change_employee_adress style=margin-top:24px;font-size:120%; class=ui-widget>
                  <label for=input_employee_address>Введите адрес: </label>
                  <input id=input_employee_address placeholder="Mocква, ул Твeрская д. 11">
                  <p id=input_employee_address_error style=color:red></p>
                  <button id=set_employee_address style=width:100% type=button>Добавить</button>
              </div>
            </div>
            <!-- END Address  -->

            <div style=margin-top:60px;text-align:center>
                <p style=font-size:120%;font-weight:bold>Чтобы пригласить Соискателей</p>
                <button id=copy_link_in_buffer style=width:100% type=button data-clipboard-text="Работа в стабильной компании.Зарплата до 50 тыс. рублей. Клининговая компания Домовенок ищет сотрудников на полную занятость. Еженедельные выплаты. Корпоративная SIM-карта. Бесплатное обучение. {{link_to_landing_with_utm}}">
                  Скопировать ссылку
                </button>
                <p style=text-align:justify>
                  <b>Ссылка:</b> {{link_to_landing_with_utm}}
                </p>
            </div>
        </div>
            <div data-role="panel" data-display="overlay" data-theme="b" id="nav-panel">
                <ul data-role="listview">
                    <li data-icon="delete"><a href="#" data-rel="close">Закрыть Меню</a></li>
                        <li><a data-ajax="false" href="{{staffUrl 'employeeDetail' selfId }}?profile=true" class="ui-btn ui-btn-active">Профиль</a></li>
                        <li><a href="{{staffUrl 'creditsCurrent' selfId }}">Заработано</a></li>
                        <li><a href="{{staffUrl 'depositCurrent' selfId }}">Необходимо сдать</a></li>
                        <li><a href="{{staffUrl 'employeeDetail' selfId }}?orders=true">Заказы</a></li>
                        <li><a data-ajax="false" href="{{staffUrl 'rating' selfId }}">Рейтинг</a></li>
                        <li><a href="{{staffUrl 'disciplinaryList' selfId }}">Нарушения</a></li>
                        <li><a href="{{staffUrl 'conversationList' selfId }}">Обращения</a></li>
                        <li><a href="{{staffUrl 'news' selfId}}">Новости</a></li>
                        <li><a data-ajax=false href="{{staffUrl 'means_and_materials' selfId}}">Средства и материалы</a></li>
                        <li><a data-ajax=false href="{{staffUrl 'description_services' selfId}}">Услуги</a></li>
                        <li><a data-ajax=false href="{{staffUrl 'faq' selfId}}">ЧАВО</a></li>
                        <li><a data-ajax="false" onclick="mobile_view(false)" href="">Полная версия</a></li>
                        <li><a data-ajax="false" href="{{staffUrl 'logout' }}">Выйти</a></li>
                </ul>
            </div>
    </div>

  <script>
// copy link to clipboard
void function () {
  /* eslint-disable */
  var clipboard = new Clipboard('#copy_link_in_buffer');
  /* eslint-enable */
  clipboard.on('success', function() {
    var copy_link_in_buffer = document.getElementById('copy_link_in_buffer');
    copy_link_in_buffer.disabled = true;
    copy_link_in_buffer.style.opacity = .5;
  });
}();

void function () {
  var employee_address = '{{employee_address}}';
  var exist_employee_address = Boolean(employee_address);
  var $block_employee_adress = document.getElementById('block_employee_adress');
  var $block_change_employee_adress = document.getElementById('block_change_employee_adress');
  var $input_employee_address_error = document.getElementById('input_employee_address_error');
  var $set_employee_address = document.getElementById('set_employee_address');
  var $employee_adress = $('#employee_adress');
  if (exist_employee_address) {
    show_address(employee_address);
  } else {
    show_change_address();
  }

  function show_address(employee_address) {
    $block_employee_adress.style.display = 'block';
    $block_change_employee_adress.style.display = 'none';

    if (employee_address) {
      $employee_adress.text(employee_address);
    }
    document.getElementById('change_employee_address').onclick = function () {
      show_change_address();
      $block_employee_adress.style.display = 'none';
      $block_change_employee_adress.style.display = 'block';
    };
  }

  // set address for employee
  function show_change_address() {
    $block_employee_adress.style.display = 'none';
    $block_change_employee_adress.style.display = 'block';

    var hash_selected_address = {};
    var current_address;
    var $input_employee_address = $('#input_employee_address');
    $input_employee_address.autocomplete({
      select: function(event, ui) {
        var el_address = deep_value(ui, 'item') || {};
        if (hash_selected_address[el_address.label]) {
          current_address = el_address;
          // console.log('SET CURRENT_ADDRESS', current_address);
        }
      },
      source: function(request, response) {
        $input_employee_address_error.innerHTML = '';
        // console.log('term=', request.term);
        var address = request.term;
        if (address && !/\s+/.test(address)) {
          return;
        }
        $.get('https://geocode-maps.yandex.ru/1.x/?format=json&geocode=' + decodeURIComponent(address), function(result, textStatus) {
          if (textStatus !== 'success') {
            return $input_employee_address_error.innerHTML = '* Ошибка доступа в geocode-maps.yandex.ru';
          }
          var res = [];
          var featureMembers = deep_value(result, 'response.GeoObjectCollection.featureMember');
          for (var i = 0, l = featureMembers.length; i < l; i++) {
            var featureMember = featureMembers[i];
            var el = deep_value(featureMember, 'GeoObject.metaDataProperty.GeocoderMetaData.Address.formatted');
            if (el) {
              res.push({ label: el, value: el, featureMember: featureMember});
              hash_selected_address[el] = featureMember;
            }
          }
          res = uniq_res_for_autocomplete(res);
          response(res);
        });
      },
      minLength: 10, // minimum number letter for search
      delay: 600,
    });

    $set_employee_address.onclick = function() {
      if (!current_address) {
        return $input_employee_address_error.innerHTML = '* Не введен адрес';
      }
      var label = current_address.label;
      var GeoObject = current_address.featureMember;
      if (!GeoObject && !(GeoObject instanceof Object)) {
        return $input_employee_address_error.innerHTML = '* Не корректный адрес';
      }
      $employee_adress.text(label);
      $('#block_employee_adress').css('display', 'block');
      $('#block_change_employee_adress').css('display', 'none');
      // console.log('AJAX SEND ', current_address);

      $.ajax({
        url: '/staff/set_employee_adress/{{selfId}}',
        type: 'POST',
        data: JSON.stringify(GeoObject),
        dataType: 'json',
        contentType: 'application/json',
      });
      show_address();
      $block_change_employee_adress.style.display = 'none';
      $block_employee_adress.style.display = 'block';
      $input_employee_address.val('');
    };
  }

  function deep_value(object, path) {
    if (!object) {
      return null;
    }
    var parts = path.split('.');
    var val = object;
    for (var i = 0, l = parts.length; i < l; i++) {
      var key = parts[i];
      var temp_val = val[key];
      if (temp_val) {
        val = temp_val;
      } else {
        val = null;
        break;
      }
    }
    return val;
  }


  function uniq_res_for_autocomplete(array) {
    var uniq = {};
    var res = [];
    for (var i = 0, l = array.length; i < l; i++) {
      var el = array[i];
      var label = el.label;
      if (!uniq[label]) {
        uniq[label] = true;
        res.push(el);
      }
    }
    return res;
  }

}();

    </script>
</body>
</html>