<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="/static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="/static/js/custom_cookie.js?v=1.0"></script>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N3VS78"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N3VS78');</script>
    <!-- End Google Tag Manager -->
</head>
<body class="">
    <div data-role="page" class="jqm-demos ui-responsive-panel" id="main-page" data-title="Личный кабинет от Домовёнка">
        <div data-role="header" data-position="fixed" data-tap-toggle="false">
            <h1 style="overflow: visible">Заказы</h1>
            <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
        </div>
        <div role="main" class="ui-content jqm-content jqm-fullwidth">
        <script>$(document).unbind('scroll');</script>
            <script>
                $.mobile.loading( "hide", {
                    text: "Загрузка заказов",
                    theme: "z",
                    textVisible: false,
                    html: "",
                });
                var order_ended = false;
                var employee_id = '{{ selfId }}';
                var order_count = {{ orderCount }};
                function getOrder() {
                    order_ended = true;
                    $.ajax({
                      type: "GET",
                      url: "/mstaff/get_orders/",
                      data: ({'employee_id': employee_id, 'order_count': order_count}),
                      cache: false,
                      dataType: "text",
                      success: onSuccess,
                        error: onError
                    });
                };
                function update_order () {
                        if (!order_ended && ($(window).scrollTop() + $(window).height() >= $(document).height() - 50)) {
                            $.mobile.loading("show");
                            getOrder();
                        }
                    }
                    $(document).scroll(update_order);

                function onError(){
                    order_ended = true;
                    $.mobile.loading('hide');
                };
                function onSuccess(data)
                {
                    if (data === ""){
                        onError();
                    }
                    else {
                        order_ended = false;
                        $.mobile.loading( "hide" );
                        $("#old-orders").append( data );
                        order_count += 5;
                    }
                }

        </script>
            <style>
                @media all and (max-width: 35em) {
                .my-breakpoint .ui-block-a,
                .my-breakpoint .ui-block-b,
                .my-breakpoint .ui-block-c,
                .my-breakpoint .ui-block-d,
                .my-breakpoint .ui-block-e {
                  width: 100%;
                  float:none;
                }
              }

              @media all and (min-width: 45em) {
                .my-breakpoint.ui-grid-b .ui-block-a { width: 49.95%; }
                .my-breakpoint.ui-grid-b .ui-block-b,
                .my-breakpoint.ui-grid-b .ui-block-c { width: 24.925%; }
              }
            </style>
            <div data-role="header">
                <h2>На завтра:</h2>
            </div>
            <div role="main" class="ui-content">
            {{#if tomorrow }}
                    <div class="ui-grid-c my-breakpoint" >
                        {{#each tomorrow}}
                                <a class="ui-btn" href="{{staffUrl 'orderDetail' DepartureID}}" {{#if CardCompleted }}{{else}}style="background: pink"{{/if }}>
                                  <div class="ui-block-a"><div class="ui-body ui-body-d">{{ formatPartDate Date "HH:mm" }}</div></div><div class="ui-block-d"><div class="ui-body ui-body-d">{{ ClientTitle }} {{ toMoney TotalAmount }}</div></div>
                                  <div class="ui-block-b"><div class="ui-body ui-body-d"><span style="font-weight: normal">{{ ServiceName }}</span></div></div>
                                  <div class="ui-block-c"><div class="ui-body ui-body-d"><span style="font-weight: normal">{{ AddressTitle }}</span></div></div>
                                </a>
                        {{/each }}
                    </div>
            {{ else }}
                {{#if no_orders }}
                    <p>Заказов нет</p>
                {{ else }}
                    <p>Информация о заказах будет доступна после 19:00.</p>
                {{/if }}
            {{/if }}
            </div>
            <div data-role="header">
                <h2>Сегодня:</h2>
            </div>
            <div role="main" class="ui-content">
            {{#if today }}
                    <div class="ui-grid-c my-breakpoint">
                        {{#each today}}
                                <a class="ui-btn" href="{{staffUrl 'orderDetail' DepartureID}}" {{#if CardCompleted }}{{else}}style="background: pink"{{/if }}>
                                  <div class="ui-block-a"><div class="ui-body ui-body-d">{{ formatPartDate Date "HH:mm" }}</div></div><div class="ui-block-d"><div class="ui-body ui-body-d">{{ ClientTitle }} {{ toMoney TotalAmount }}</div></div>
                                  <div class="ui-block-b"><div class="ui-body ui-body-d"><span style="font-weight: normal">{{ ServiceName }}</span></div></div>
                                  <div class="ui-block-c"><div class="ui-body ui-body-d"><span style="font-weight: normal">{{ AddressTitle }}</span></div></div>
                                </a>
                        {{/each }}
                    </div>
            {{ else }}
                    <p>Заказов нет</p>
            {{/if }}
            </div>
            <div data-role="header">
                <h2>Прошлые:</h2>
            </div>
            <div role="main" class="ui-content">
            {{#if old }}
                    <div id="old-orders" class="ui-grid-c my-breakpoint">
                        {{#each old}}
                                <a class="ui-btn" href="{{staffUrl 'orderDetail' DepartureID}}" {{#if CardCompleted }}{{else}}style="background: pink"{{/if }}>
                                  <div class="ui-block-a"><div class="ui-body ui-body-d">{{ formatPartDate Date "DD.MM.YYYY" }} {{ formatPartDate Date "HH:mm" }}</div></div><div class="ui-block-d"><div class="ui-body ui-body-d">{{ ClientTitle }} {{ toMoney TotalAmount }}</div></div>
                                  <div class="ui-block-b"><div class="ui-body ui-body-d"><span style="font-weight: normal">{{ ServiceName }}</span></div></div>
                                  <div class="ui-block-c"><div class="ui-body ui-body-d"><span style="font-weight: normal">{{ AddressTitle }}</span></div></div>
                                </a>
                        {{/each}}
                    </div>
            {{else}}
                    <p>Заказов нет</p>
            {{/if}}
            </div>
            <div data-demo-html="#panel-responsive-page1"></div>
        </div>
            <div data-role="panel" data-display="overlay" data-theme="b" id="nav-panel">
                <ul data-role="listview">
                    <li data-icon="delete"><a href="#" data-rel="close">Закрыть Меню</a></li>
                        <li><a href="{{staffUrl 'employeeDetail' selfId }}?profile=true">Профиль</a></li>
                        <li><a href="{{staffUrl 'creditsCurrent' selfId }}">Заработано</a></li>
                        <li><a href="{{staffUrl 'depositCurrent' selfId }}">Необходимо сдать</a></li>
                        <li><a href="{{staffUrl 'employeeDetail' selfId }}?orders=true" {{#if itIsMe }} class="ui-btn ui-btn-active" {{/if }}>Заказы</a></li>
                        <li><a data-ajax="false" href="{{staffUrl 'rating' selfId }}">Рейтинг</a></li>
                        <li><a href="{{staffUrl 'disciplinaryList' employeeId }}">Нарушения</a></li>
                        <li><a href="{{staffUrl 'news' selfId}}">Новости</a></li>
                        <li><a data-ajax="false" onclick="mobile_view(false)" href="">Полная версия</a></li>
                        <li><a data-ajax="false" href="{{staffUrl 'logout' }}">Выйти</a></li>
                </ul>
            </div>
    </div>
</body>
</html>