<!doctype html>
<html lang=RU>
  <head>
    <title>Маршрут до заказа</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">
    <style>

    </style>
    <!-- <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> -->
    <!-- <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&mode=release"></script> -->
    <!-- jquery for yandex map and we use for jquery mobile -->
    <script src="/stat/lib/jquery_2.2.3_min.js?v1"></script>

    <script src="/static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <!-- Google Tag Manager -->
    {{#if general.production}}
    <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PHD7WW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PHD7WW');</script>
    {{/if}}
    <!-- End Google Tag Manager -->
  </head>
  <body class="">
    <div data-role="page" class="jqm-demos ui-responsive-panel" id="mainPage" data-title="Маршрут до заказа">
      <div data-role="header" data-position="fixed" data-tap-toggle="false">
        <h1 style="overflow: visible">Маршрут до заказа</h1>
        <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
      </div>
      <div role="main" class="ui-content jqm-content jqm-fullwidth">
        <script>$(document).unbind('scroll');</script>
        <!-- <p id=text_about_loading style=margin-top:100px;text-align:center>Построение маршрута, может занять некоторое время...</p> -->
        <p id=text_about_loading style=margin-top:100px;text-align:center>Построение маршрута, может занять некоторое время...</p>
        <div id=text_about_part_route></div>

        <div data-role="panel" data-display="overlay" data-theme="b" id="nav-panel">
          <ul data-role="listview">
            <li data-icon="delete"><a href="#" data-rel="close">Закрыть Меню</a></li>
            <li><a data-ajax="false" href="{{staffUrl 'employeeDetail' selfId }}?profile=true">Профиль</a></li>
            <li><a href="{{staffUrl 'creditsCurrent' selfId }}">Заработано</a></li>
            <li><a href="{{staffUrl 'depositCurrent' selfId }}">Необходимо сдать</a></li>
            <li><a href="{{staffUrl 'employeeDetail' selfId }}?orders=true">Заказы</a></li>
            <li><a data-ajax="false" href="{{staffUrl 'rating' selfId }}">Рейтинг</a></li>
            <li><a href="{{staffUrl 'disciplinaryList' selfId }}">Нарушения</a></li>
            <li><a href="{{staffUrl 'conversationList' selfId }}">Обращения</a></li>
            <li><a href="{{staffUrl 'news' selfId}}">Новости</a></li>
            <li><a data-ajax=false href="{{staffUrl 'means_and_materials' selfId}}">Средства и материалы</a></li>
            <li><a data-ajax=false href="{{staffUrl 'study' selfId}}">Обучение</a></li>
            <li><a data-ajax=false href="{{staffUrl 'description_services' selfId}}">Услуги</a></li>
            <li><a data-ajax=false href="{{staffUrl 'faq' selfId}}">Часто задаваемые<br/> вопросы</a></li>
            <!-- <li><a data-ajax="false" onclick="mobile_view(false)" href="">Полная версия</a></li> -->
            <li><a data-ajax="false" href="{{staffUrl 'logout' }}">Выйти</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- yandex map route to order -->
    <div id=map style="width:100%;height:100%;padding:0;margin:0;"></div>

     <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&mode=release"></script>
     <script src="/stat/js/build_route_from_current_position_to.js?v15"></script>
    <script>
      void function () {
        'use strict';
        var address_order = {{{adress_order}}};
        address_order[0] = parseFloat(address_order[0]);
        address_order[1] = parseFloat(address_order[1]);
        // TODO: В opera mobile дико долго грузится...
        build_route_from_current_position_to({
          map_id: 'map',
          address_order: address_order,
          id_text_about_part_route: 'text_about_part_route',
          id_text_about_loading: 'text_about_loading',
        });
      }();
    </script>
  </body>
</html>