<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">

    <title>500 Ошибка сервера</title>
    {{#if noindex}} <meta name="robots" content="noindex,nofollow"> {{else}} <meta name="robots" content="index, follow"/> {{/if}}

    {{#if canonical }}<link rel="canonical" href="{{canonicalPath}}"/>{{/if}}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0, minimal-ui"/>
    <meta name="format-detection" content="telephone=no">
    <meta property="og:title" content="Клининговая компания Домовёнок."/>
    <meta property="og:site" content="//www.domovenok.su/"/>
    <meta property="og:description" content="Клининговая компания Домовёнок - верный помощник в решении бытовых вопросов и уборки дома."/>
    <meta property="og:image" content="//www.domovenok.su/static/img/domovenok-banner.png"/>
    <meta property="og:url" content="//www.domovenok.su/?utm_source=vk&utm_campaign=site_share"/>

    <link rel="apple-touch-icon" sizes="57x57" href="/static/pancake/img/apple-touch-icon-57x57.png?v=1.0">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/pancake/img/apple-touch-icon-60x60.png?v=1.0">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/pancake/img/apple-touch-icon-72x72.png?v=1.0">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/pancake/img/apple-touch-icon-76x76.png?v=1.0">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/pancake/img/apple-touch-icon-114x114.png?v=1.0">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/pancake/img/apple-touch-icon-120x120.png?v=1.0">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/pancake/img/apple-touch-icon-144x144.png?v=1.0">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/pancake/img/apple-touch-icon-152x152.png?v=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/pancake/img/apple-touch-icon-180x180.png?v=1.0">
    <link rel="icon" type="image/png" href="/static/pancake/img/android-chrome-192x192.png?v=1.0" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/pancake/img/favicon-16x16.png?v=1.01" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/pancake/img/favicon-32x32.png?v=1.01" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/pancake/img/favicon-48x48.png?v=1.0" sizes="48x48">
    <link rel="manifest" href="/static/pancake/manifest.json?v=1.02">
    <link rel="mask-icon" href="/static/pancake/img/safari-pinned-tab.svg?v=1.0" color="#fd8204">
    <link rel="yandex-tableau-widget" href="/yandex/manifest.json" />
    <meta name="apple-mobile-web-app-title" content="Domovenok">
    <meta name="application-name" content="Domovenok">
    <meta name="msapplication-TileColor" content="#fd8204">
    <meta name="msapplication-TileImage" content="/static/pancake/img/mstile-144x144.png?v=1.0">
    <meta name="msapplication-config" content="/static/pancake/browserconfig.xml?v=1.02">
    <meta name="theme-color" content="#fd8204">

    <link rel="stylesheet" href="/static/pancake/css/style.min.css?v0.33">

    <script src="//yastatic.net/share2/share.js" async></script>
    <base href="" >
  </head>
  <body class="page">
    <div class="page__wrap  page__wrap--scroll">

      <!-- Page Header -->
      <!-- page-header.html -->
      <header class="page-header  page-header--contact">
        <div class="page-header__top">
          <button class="main-menu__btn  main-menu__btn--open">
            <svg class="main-menu__image" width="31" height="23.9" viewBox="0 0 31 23.9">
              <rect width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
              <rect y="22.26" width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
              <rect y="11.13" width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
            </svg>
          </button>
          <a class="page-header__logo" href="{{buildUrl general.city '/'}}"><img height="38" width="152" src="/static/pancake/img/logo.svg" alt="Логотип"/></a>
      
          <a class="page-header__tel" href="tel:{{ general.phoneHref }}"><span>{{ general.phoneCode }}</span> {{ general.phoneNumber }}</a>
        </div>
        <div class="page-header__wrap">
          <a class="main-menu__icon-close  icon-close" href="#">
            <svg class="icon-close__image" width="19" height="19" viewBox="0 0 19 19">
              <line class="icon-close__element" x1="1" y1="18" x2="18" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
              <line class="icon-close__element" x1="18" y1="18" x2="1" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
            </svg>
          </a>
          <!--Main Menu-->
          {{templateTag this 'menu/main-menu.html'}}
          <!--/Main Menu-->
          <!--
          <div class="page-header__contact  contact">
            <a class="contact__callback" href>Свяжитесь со мной</a>
          </div>
          -->
          <div class="change-town">
            <p class="change-town__btn">{{general.city.title}}</p>
            <ul class="change-town__list list">
              <li class="change-town__item {{#ifCond general.city.keyword '==' 'moscow' }}change-town__item--active{{/ifCond}} item">
                <a class="change-town__link link" href="{{buildUrl 'moscow' general.path}}">Москва</a>
              </li>
              <li class="change-town__item {{#ifCond general.city.keyword '==' 'spb' }}change-town__item--active{{/ifCond}} item">
                <a class="change-town__link link" href="{{buildUrl 'spb' general.path}}">Санкт-Петербург</a>
              </li>
              <li class="change-town__item {{#ifCond general.city.keyword '==' 'nn' }}change-town__item--active{{/ifCond}} item">
                <a class="change-town__link link" href="{{buildUrl 'nn' general.path}}">Нижний Новгород</a>
              </li>
            </ul>
          </div>
        </div>
      </header>
      <!-- /Page Header -->

      <!-- Main Content -->
      <main class="page__main-content  main-content   main-content--vertical">
        <div class="main-content__wrap">
          <div class="error">
          <div class="error__wrap">
            <img class="error__image" height="auto" width="200" src="/static/pancake/img/500.svg" alt="500">

            <h1 class="error__title  title"><span>500</span><br>Ошибка сервера</h1>
            <ul class="error__list">
              <p class="error__heading  text">Мы приносим свои извинения за доставленные неудобства и предлагаем следующие
                пути:</p>
              <li class="error__item  text">Перейти на <a class="error__link" href="{{buildUrl general.city '/'}}">главную страницу</a> или <a
                  class="error__link" href="{{buildUrl general.city '/sitemap'}}">карту сайта</a></li>

              <li class="error__item  text">Связаться с нами по телефону <a
                  class="error__link" href="tel:{{ general.phoneHref }}">{{ general.phoneCode }} {{ general.phoneNumber }}</a></li>
              <li class="error__item  text"><a class="error__link" href="mailto:develop@domovenok.su">Написать письмо</a> нашим сотрудникам</li>
            </ul>
          </div>
        </div>
        </div>
        
        <div class="contact-btn" data-ga='{"hitType": "click", "eventCategory": "button", "eventAction": "send", "eventLabel": "orderButton"}'>
          <button class="contact-btn__btn contact-btn__btn--main  contact-btn__btn--rotate" type="button" data-name="service-order">
            <svg class="contact-btn__image" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><rect width="30" height="30" fill="none"/><path d="M28.5,9.4a9.15,9.15,0,0,0-2.11-6.09,8.72,8.72,0,0,0-.67-.71A15,15,0,0,0,23.79,1a1.85,1.85,0,0,0-2.7.17A15.65,15.65,0,0,0,18.45,5a6.66,6.66,0,0,0-.63,1.71,2.47,2.47,0,0,0,.77,2.46,15.18,15.18,0,0,0,1.74,1.46,2.45,2.45,0,0,1,.92,3.2A11.2,11.2,0,0,1,19.35,17a22.67,22.67,0,0,1-3.48,3.66A5.91,5.91,0,0,1,13.52,22a2.16,2.16,0,0,1-2.11-.61c-.58-.56-1.16-1.11-1.78-1.63a2.71,2.71,0,0,0-3.24-.3,9.69,9.69,0,0,0-1.64,1.09c-.81.67-1.58,1.39-2.35,2.12a3.82,3.82,0,0,0-.64.88A1.91,1.91,0,0,0,2,25.8,12.78,12.78,0,0,0,5,28.26,8.92,8.92,0,0,0,9.61,29.5a12.34,12.34,0,0,0,6.42-2,28.38,28.38,0,0,0,6.77-6,29.05,29.05,0,0,0,4.12-6.07A13.94,13.94,0,0,0,28.5,9.4Z" fill="#fff"/></svg>
          </button>
        </div>
      </main>
    </div>

    <script src="/static/pancake/js/bundle.min.js?v0.39"></script>

  </body>
</html>