<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="index, follow"/>
    <link href="/static/css/staff_page.css?v=1" type="text/css" rel="stylesheet"/>
    <link rel="icon" type="image/ico" href="/media/favicon.ico">
    <title>Личный кабинет от Домовёнка</title>

    <!--[if IE]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="/static/js/jquery.mousewheel.js"></script>
    <script src="/static/js/jquery.tools.min.js"></script>
    <script src="/static/js/jcarousellite_1.0.1.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/jquery.maskedinput.min.js"></script>
    <script src="/static/js/nich.js?v=1.026"></script>
    <script src="/static/js/custom_cookie.js"></script>



    <!--block head-->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N3VS78"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N3VS78');</script>
    <!-- End Google Tag Manager -->
</head>

<body>

<div id="wrapper-out">
    {{employeeHeader this}}
<!--.main-->
<div id="middle">
<section class="content">
<h1>На данный момент</h1>
    <a class="all_orders" href="{{staffUrl 'depositList' employeeId }}">История сдач денег</a>
    {{#if GetCurrentDepositForEmployee.List }}
    <p style="line-height: 25px; margin-left: 10px">
        {{#if GetEmployeeData.Deadline }}
        <span class="deposit-title t-left"><b>До:</b></span><span class="brown-color wage-title t-left" style="margin-left: 10px"> {{ formatPartDate GetEmployeeData.Deadline "DD.MM.YYYY" }}</span><br/>
        {{ else }}
        <span style="">Дата сдачи не определена</span><br/>
        {{/if}}
        <span class="deposit-title t-left"><b>Сумма:</b></span><span class="wage-title t-left " style="margin-left: 10px"> <span class="red-color">{{ toMoney GetCurrentDepositForEmployee.GeneralSum }}</span> руб.</span><br/>
    </p>
        <div class="order_table" style="">
            <div class="header">
                <div class="wage_column_first lt" style="width: 110px">Дата</div>
                <div class="wage_column" style="width: 320px;  text-align: center">Метро</div>
                <div class="wage_column" style="text-align: center; width: 120px;">Клиент</div>
                <div class="wage_column money-column" style="width: 120px;">Сумма заказа</div>
                <div class="wage_column rt money-column" style="width: 150px;">Оплачено клиентом</div>
                <div class="clear"></div>
            </div>
            {{#each GetCurrentDepositForEmployee.List as |deposit|}}
                    {{#if deposit.DepartureID }}<a href="{{staffUrl 'orderDetail' deposit.DepartureID }}">{{/if}}
                    <div class="simple_row{{#if @last }} last_row{{/if }}">
                        <div class="wage_column_first" style="width: 110px"><b>{{#if deposit.Date }}{{ deposit.Date }}{{else}}-{{/if}}</b></div>
                        <div class="wage_column" style="width: 320px" >{{ deposit.Metro }}</div>
                        <div class="wage_column" style="width: 120px;">{{ deposit.Client }}</div>
                        <div class="wage_column money-column" style="width: 120px;">{{ toMoney deposit.OrderSum}}</div>
                        <div class="wage_column money-column" style="width: 150px;">{{ toMoney deposit.DepositSumClient }}</div>
                        <div class="clear"></div>
                    </div>
                </a>
            {{/each}}
   </div>
    <a class="all_orders" href="{{staffUrl 'depositList' employeeId }}">История сдач денег</a>
    {{ else }}
        <p><i>Список пуст</i></p>
    {{/if}}
</section>
<div class="clear"></div>
</div>
<!--#middle-->
<div id="foot-empty"></div>
</div>
<!--#wrapper-out-->
<footer class="main">
    <div>
        <div class="copy">
            Если у Вас есть предложения и пожелания по работе личного кабинета пишите на почту <a href="mailto: develop@domovenok.su">develop@domovenok.su</a><br />
            2007-2017 &copy; domovenok.su Клининговая компания ООО &laquo;Комфорт-сервис &laquo;Домовёнок&raquo;, все права защищены.
        </div>
    </div>
</footer>
<!--.main-->


</body>
</html>
