<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="index, follow"/>
    <link href="/static/css/staff_page.css?v=1" type="text/css" rel="stylesheet"/>
    <link rel="icon" type="image/ico" href="/media/favicon.ico">
    <title>Личный кабинет от Домовёнка</title>

    <!--[if IE]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href='//fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="/static/js/jquery.mousewheel.js"></script>
    <script src="/static/js/jquery.tools.min.js"></script>
    <script src="/static/js/jcarousellite_1.0.1.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/jquery.maskedinput.min.js"></script>
    <script src="/static/js/nich.js?v=1.026"></script>
    <script src="/static/js/custom_cookie.js"></script>



    <!--block head-->

    <!-- Google Tag Manager -->
{{#if general.production}}

  <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PHD7WW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>

  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PHD7WW');</script>

{{/if}}
    <!-- End Google Tag Manager -->
</head>

<body>

<div id="wrapper-out">
    {{employeeHeader this}}
<!--.main-->
<div id="middle">
<section class="content">
 <h1>Дисциплинарные нарушения</h1>
    {{#if GetDisciplinaryList.List }}
    <style>
        .td-center {text-align: center;}
        .tr-link {cursor: pointer; color: #993300}
        .tr-link:hover {color: #ff6600}
    </style>
    <script src="/static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>
     <div id="items-list" class="block_for_table_big" style="position: relative; display: inline-block; width: auto; margin-left: 70px;">
            <div class="block_for_table">
            <table class="price">
                <tbody>
                <tr class="heading">
                    <td style="width: 100px" class="first lt bot-shadow">Дата Создания</td>
                    <td class="second bot-shadow" style="width: 400px">Название</td>
                    <td class="second rt bot-shadow" style="width: 120px">Вступит в силу</td>
                    <td class="second rt bot-shadow" style="width: 120px">Штрафные баллы</td>
                    <td class="second rt bot-shadow" style="width: 200px">Статус</td>
                </tr>
                {{#each GetDisciplinaryList.List as |item|}}
                    <tr class="tr-link" onclick="document.location = &#34;{{ staffUrl 'disciplinaryInfo' ../employeeId item.DisciplinaryID }}&#34;;">
                        <td class="first  top-white" style="width: 100px">{{ formatPartDate item.Date "DD.MM.YYYY" }}</td>
                        <td class="second top-white" style="text-align: center">{{ item.Title }}</td>
                        <td class="second top-white" style="text-align: center">{{ formatPartDate item.DateStart "DD.MM.YYYY" }}</td>
                        <td class="second top-white" style="text-align: center; color: red">{{ item.Weight }}</td>
                        <td class="second top-white" style="text-align: center; color:{% if item.Status == 1 %}red{% elif item.Status == 2 %}#ff6600{% elif item.Status == 3 %}green{% endif %};">{{ item.StatusTitle }}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            </div>
            </div>
    {{else}}
        <span>Дисциплинарные нарушения отсутствуют</span>
    {{/if }}
</section>
<div class="clear"></div>
</div>
<!--#middle-->
<div id="foot-empty"></div>
</div>
<!--#wrapper-out-->
<footer class="main">
    <div>
        <div class="copy">
            Если у Вас есть предложения и пожелания по работе личного кабинета пишите на почту <a href="mailto: develop@domovenok.su">develop@domovenok.su</a><br />
            2007-2017 &copy; domovenok.su Клининговая компания ООО &laquo;Комфорт-сервис &laquo;Домовёнок&raquo;, все права защищены.
        </div>
    </div>
</footer>
</body>
</html>
