<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="index, follow"/>
    <link href="/static/css/staff_page.css?v=1" type="text/css" rel="stylesheet"/>
    <link rel="icon" type="image/ico" href="/media/favicon.ico">
    <title>Личный кабинет от Домовёнка</title>

    <!--[if IE]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="/static/js/jquery.mousewheel.js"></script>
    <script src="/static/js/jquery.tools.min.js"></script>
    <script src="/static/js/jcarousellite_1.0.1.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/jquery.maskedinput.min.js"></script>
    <script src="/static/js/nich.js?v=1.026"></script>
    <script src="/static/js/custom_cookie.js"></script>



    <!--block head-->

    <!-- Google Tag Manager -->
{{#if general.production}}

  <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PHD7WW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>

  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PHD7WW');</script>

{{/if}}
    <!-- End Google Tag Manager -->
</head>

<body>

<div id="wrapper-out">
    {{employeeHeader this}}
<!--.main-->
<div id="middle">
<section class="content">
<script>

function validate_message(textarea){
    if (textarea.val() !== "") {
        $("#message-form").submit();
        return true;
    }
    else{
        textarea[0].style.background = "#FFB1B1";
        return false;
    }
};
$( document ).ready(function() {
    var textarea = $("#message-textarea");
    $('#message-textarea').keydown(function (e) {
        if (e.keyCode == 13) {
            validate_message(textarea);
        }
        else{
            textarea[0].style.background = "";
        }
    });
    $( "#message-submit" ).click( function() {
        return validate_message(textarea);
    });
});
</script>
<style>
    textarea{
   -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 4px 9px;
    width: 460px;
    border: solid 1px #d0c0b8;
    font: 12px Arial, Helvetica, sans-serif;
    color: #333 !important;
    background: #fff;
    resize: none;
    margin: 10px 0 0 10px;
    height: 80px;
}

div.messages-container{
    width: 500px;
    margin-top: 30px;
}

div.message{
    background: white;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    border: solid 1px #d0c0b8;
}
div.messages-container form input[type="submit"]:hover {
    background: rgba(153, 51, 0, 0.9);
    }

div.messages-container form input {
    float: right;
    padding: 7px 15px;
    background: #993300;
    color: white;
    border-radius: 4px;
    border: none;
    margin: 10px 10px 0 0;
    cursor: pointer;
    }
</style>

    <h1 style='font: italic 24px/20px Georgia, "Times New Roman", Times, serif;'>{{ GetDisciplinaryInfo.Title }}</h1>
    {{#if GetDisciplinaryInfo.Linked }}
        <a href="{{staffUrl 'orderDetail' GetDisciplinaryInfo.Linked.ID }}">{{ GetDisciplinaryInfo.Linked.Title }}</a>
        <br><br>
    {{/if}}
    <p><b>Статус: </b><br/><span style="color:{{#ifCond GetDisciplinaryInfo.Status '==' 1 }}red{{/ifCond}}{{#ifCond GetDisciplinaryInfo.Status '==' 2 }}#ff6600{{/ifCond}}{{#ifCond GetDisciplinaryInfo.Status '==' 3 }}green{{/ifCond}};">{{ GetDisciplinaryInfo.StatusTitle }}</span></p>
    <p><b>Дата: </b><br/><span>{{ formatPartDate GetDisciplinaryInfo.Date "DD.MM.YYYY" }}</span></p>
    <p><b>Описание: </b><br/><span>{{{ GetDisciplinaryInfo.Description }}}</span></p>
    <p><b>Штрафные баллы: </b><br/><span style="color: red"><b>{{ GetDisciplinaryInfo.Weight }}</b></span></p>
    <p><b>Срок вступления в силу: </b><br/><span>{{ formatPartDate GetDisciplinaryInfo.DateStart "DD.MM.YYYY" }}</span></p>
    {{#if GetDisciplinaryInfo.Note }}<p><b>Примечание: </b><br/><span>{{{ GetDisciplinaryInfo.Note }}}</span></p>{{/if}}
    <div class="messages-container">
        <h3>Комментарии</h3>
        {{#each GetMessageList.Messages as |message|}}
            <div class="message-line">
                <div id="{{ message.MessageID }}" class="message">
                    <span style="float: right">{{ formatPartDate message.Date "DD.MM.YYYY"}}</span>
                    <span style="color: darkred">{{ message.FullName }}</span><br/>
                    <span style="display: inline-block; margin-top: 10px">{{ message.Content }}</span>
                </div>
            </div>
        {{/each}}
        <form id="message-form"  action="{{staffUrl 'createMessage' selfId }}" method="post"
              enctype="multipart/form-data">
            <input name="this_url" hidden value="{{ currentUrl }}" readonly>
            <input name="DisciplinaryID" hidden value="{{ GetDisciplinaryInfo.DisciplinaryID }}" readonly>
            <textarea id="message-textarea" name="content" placeholder="Задать вопрос..."></textarea>
            <input id="message-submit" type="submit" >
        </form>
    </div>
</section>
<div class="clear"></div>
</div>
<div id="foot-empty"></div>
</div>
<footer class="main">
    <div>
        <div class="copy">
            Если у Вас есть предложения и пожелания по работе личного кабинета пишите на почту <a href="mailto: develop@domovenok.su">develop@domovenok.su</a><br />
            2007-2017 &copy; domovenok.su Клининговая компания ООО &laquo;Комфорт-сервис &laquo;Домовёнок&raquo;, все права защищены.
        </div>
    </div>
</footer>
</body>
</html>
