<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="index, follow"/>
    <link href="/static/css/staff_page.css?v=1" type="text/css" rel="stylesheet"/>
    <link rel="icon" type="image/ico" href="/media/favicon.ico">
    <title>Личный кабинет от Домовёнка</title>

    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="/static/js/jquery.mousewheel.js"></script>
    <script src="/static/js/jquery.tools.min.js"></script>
    <script src="/static/js/jcarousellite_1.0.1.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/jquery.maskedinput.min.js"></script>
    <script src="/static/js/nich.js?v=1.026"></script>
    <script src="/static/js/custom_cookie.js"></script>



    <!--block head-->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N3VS78"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N3VS78');</script>
    <!-- End Google Tag Manager -->
</head>

<body>

<div id="wrapper-out">
    {{employeeHeader this}}
<!--.main-->
<div id="middle">
<section class="content">
    <link href="/static/css/staff_test.css" type="text/css" rel="stylesheet"/>
    <h1 style="text-align: center; display: block; padding: 20px">Курс: {{ GetCourseData.CourseTitle }}</h1>
    <p class="test_info">Вы готовы приступить к выполнению теста по курсу <span class="test_orange-text">"{{ GetCourseData.CourseTitle }}"</span>.
        На выполнение теста будет выделено
        <span class="test_orange-text">{{ GetCourseData.TestTime }} минут</span>, если Вы не уложитесь в отведённое время - тест буден
        засчитан
        как несданный. Для того чтобы отправить свои ответы необходимо ответить на <span class="test_orange-text">все</span>
        вопросы теста(если есть вопросы на
        которые Вы не дали ответ, то при нажатии кнопки "отправить" эти вопросы подсветятся красным).</p>

    <p class="test_info">
        Нажав на кнопку "Начать тест", Вы перейдёте на страницу с тестом и будет запущен таймер времени, отведённого на
        тест. Будьте аккуратны и собраны, перед переходом к тесту убедитесь, что у Вас есть время на выполнение и никто
        не будет Вас отвлекать. Повторите материал, который Вы плохо запомнили, несмотря на то, что материалы у Вас под
        рукой, времени на поиск ответов в учебном пособии скорее всего не останется. Удачи!</p>

    <span class="test_note">Перед нажатием обязательно прочитайте текст над кнопкой!</span>
    <a class="test_start_button" href="{{staffUrl 'examsDetail' employeeId GetCourseData.CourseID}}">Начать тест<br /></a>
</section>
<div class="clear"></div>
</div>
<!--#middle-->
<div id="foot-empty"></div>
</div>
<!--#wrapper-out-->
<footer class="main">
    <div>
        <div class="copy">
            Если у Вас есть предложения и пожелания по работе личного кабинета пишите на почту <a href="mailto: develop@domovenok.su">develop@domovenok.su</a><br />
            2007-2017 &copy; domovenok.su Клининговая компания ООО &laquo;Комфорт-сервис &laquo;Домовёнок&raquo;, все права защищены.
        </div>
    </div>
</footer>
<!--.main-->


</body>
</html>
