<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="index, follow"/>
    <link href="/static/css/staff_page.css?v=1" type="text/css" rel="stylesheet"/>
    <link rel="icon" type="image/ico" href="/media/favicon.ico">
    <title>Личный кабинет от Домовёнка</title>

    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="/static/js/jquery.mousewheel.js"></script>
    <script src="/static/js/jquery.tools.min.js"></script>
    <script src="/static/js/jcarousellite_1.0.1.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/jquery.maskedinput.min.js"></script>
    <script src="/static/js/nich.js?v=1.026"></script>
    <script src="/static/js/custom_cookie.js"></script>



    <!--block head-->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N3VS78"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N3VS78');</script>
    <!-- End Google Tag Manager -->
</head>

<body>

<div id="wrapper-out">
    {{employeeHeader this}}
<!--.main-->
<div id="middle">
<section class="content">
<h1>Учебные курсы</h1>
    <p>
        Ниже преведены ссылки на тесты по прослушанным Вами учебным курсам.
    </p>
    {{#each GetAllCoursesForEmployee.TestsList as |test|}}
        <p>
        {{#if test.link}}
            {{#ifCond test.djangoTestStatusID '==' 1}}
                <a href="{{staffUrl 'examsDetail' ../employeeId test.CourseID}}"><h3>{{ test.CourseTitle }}</h3></a>
            {{else }}
                <a href="{{staffUrl 'examsStart' ../employeeId test.CourseID}}"><h3>{{ test.CourseTitle }}</h3></a>
            {{/ifCond}}
            <span style="color:{{ test.colorStatus }}">{{ test.TestStatus }}</span><br/>
        {{else}}
            <h3>{{ test.CourseTitle }}</h3>
            <span style="color:{{ test.colorStatus }}">{{ test.TestStatus }}</span></br>
        {{/if}}
        <br/>
        {{#if test.showResult}}
            <span>Потраченное время: </span><span>{{ test.Result.Time }} мин.</span><br/>
            <span>Тест выполнен на: </span><span>{{ test.Result.Score }}%</span>
        {{/if}}
        </p>
    {{/each}}
</section>
<div class="clear"></div>
</div>
<!--#middle-->
<div id="foot-empty"></div>
</div>
<!--#wrapper-out-->
<footer class="main">
    <div>
        <div class="copy">
            Если у Вас есть предложения и пожелания по работе личного кабинета пишите на почту <a href="mailto: develop@domovenok.su">develop@domovenok.su</a><br />
            2007-2017 &copy; domovenok.su Клининговая компания ООО &laquo;Комфорт-сервис &laquo;Домовёнок&raquo;, все права защищены.
        </div>
    </div>
</footer>
<!--.main-->


</body>
</html>
