<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="index, follow"/>
    <link href="/static/css/staff_page.css?v=1" type="text/css" rel="stylesheet"/>
    <link rel="icon" type="image/ico" href="/media/favicon.ico">
    <title>Личный кабинет от Домовёнка</title>

    <!--[if IE]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="/static/js/jquery.mousewheel.js"></script>
    <script src="/static/js/jquery.tools.min.js"></script>
    <script src="/static/js/jcarousellite_1.0.1.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/jquery.maskedinput.min.js"></script>
    <script src="/static/js/nich.js?v=1.026"></script>
    <script src="/static/js/custom_cookie.js?v=1.01"></script>



    <!--block head-->

    <!-- Google Tag Manager -->
{{#if general.production}}

  <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PHD7WW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>

  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PHD7WW');</script>

{{/if}}
    <!-- End Google Tag Manager -->
</head>

<body>

<div id="wrapper-out">
    {{employeeHeader this}}
<!--.main-->
<div id="middle">
<section class="content">
<style>
.a-btn {
    background-color: #ff6600;
    border-radius: 3px;
    color: white;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 20px;
}

.a-btn:hover {
    background-color: #ff8b00;
    color: white;
}
</style>
{{#if GetDepartureData}}
<h1>Заказ №<span class="orange-color">{{GetDepartureData.OrderNumber}}</span></h1>

    {{#if GetDepartureData.Management.Access}}
    <p>
        <a class="a-btn" style="font-size: 21px;" onclick="mobile_view_force(true);" href="{{ currentUrl }}">Перейти на мобильную версию для управления заказом</a>
    </p>
    {{/if}}
    <p>
        <i>Клиент:</i> <b>
        {{ GetDepartureData.ClientTitle }}
    </b>
    </p>
    <p>
        <i>Адрес:</i> <b>{{ GetDepartureData.Address.Title }}</b>
    </p>
    <p>
        <i>Сумма:</i> <span class="orange-color"><b>{{ toMoney GetDepartureData.TotalAmount}}</b> руб.</span>
    </p>
    {{#if isSenior }}
        {{#if GetDepartureData.IsCash }}
            <h3>Оплата наличными</h3>
        {{else}}
            <h3>Безналичный расчет</h3>
        {{/if}}
    {{/if}}
    {{#if EarningsOrder }}
    <p>
        <i>Заработок с заказа:</i> <span class="green-color"><b>{{ toMoney EarningsOrder }}</b> руб.</span>
    </p>
    {{/if}}
    <div class="date_buttons">
        {{#each GetDepartureData.AllDepartures as |dep|}}
            <a href="{{staffUrl 'orderDetail' dep.DepartureID }}">
                <div class="{{#ifCond @first '&&' @last }}only {{else}}
                                {{#if @first}}first {{else}}
                                    {{#if @last}}last
                                    {{else}}middle
                                    {{/if}}
                                {{/if}}
                            {{/ifCond}}
                {{#if dep.currentDeparture }} active{{/if}}">{{ formatPartDate dep.Date "DD.MM.YYYY" }}</div>
            </a>
        {{/each}}
    </div>
    <div class="clear"></div>
    <p>
        <i>Начало работ:</i> <span class="brown-color">{{ formatPartDate currentDate "HH:mm" }}</span>
    </p>
    {{#if GetDepartureData.Senior.EmployeeID }}
    <p>
        <i>Старший на выезде:</i> <a href="{{staffUrl 'employeeDetail' GetDepartureData.Senior.EmployeeID }}">
        {{ GetDepartureData.Senior.EmployeeTitle }}</a><b style="margin-left: 7px;">{{ GetDepartureData.Senior.PhoneNumber }}</b>
    </p>
    {{/if}}
    <i>Сотрудники:</i>
        <div class="employees_on_dep">
            {{#each GetDepartureData.Employees}}
                <div class="one_employee"><a href="{{staffUrl 'employeeDetail' EmployeeID }}">
                    {{ EmployeeTitle }}
                </a></div>
            {{/each}}
        </div>
    <b style="display: block">Примечание:</b> <span style="display: block; margin-bottom: 20px">{{ GetDepartureData.Note }}</span>
    {{#if GetDepartureData.PointNote }}
        <b style="display: block">Место сбора:</b> <span style="display: block; margin-bottom: 20px">{{ GetDepartureData.PointNote }}</span>
    {{/if}}
    {{#if isSenior}}
        {{#if GetDepartureData.SeniorNote }}
        <b style="display: block">Примечание для ответственного:</b> <span style="display: block; margin-bottom: 20px">{{ GetDepartureData.SeniorNote }}</span>
    {{/if}}
    {{/if}}
    {{#ifCond GetDepartureData.EnableChangeWorkCard '&&' isSenior }}
        <a href="{{staffUrl 'orderCard' departureId }}" class="a-btn">Заполнить карту заказа</a>
    {{ else }}
        {{#if GetDepartureData.CardCompleted }}
            <p style="color: green">Карта заказа заполнена</p>
        {{ else }}
            <p style="color: red">Карта заказа не заполнена</p>
        {{/if}}
    {{/ifCond}}
    <div class="block_for_table_big" style="position: relative;">
    <div class="block_for_table" style="overflow-x: scroll; width: 904px;">
    <table class="price" style="width: {{ width }}px">
        <tbody>
        <tr class="heading">
            <td class="first lt bot-shadow">Услуга</td>
            <td class="second bot-shadow">Цена</td>
            <td class="third bot-shadow">Кол-во</td>
            <td class="forth bot-shadow">Сумма</td>
            <td class="fifth bot-shadow">Скидка</td>
            <td class="fifth bot-shadow">Спецификация</td>
            <td class="sixth bot-shadow">Стоимость</td>
            {{#each GetDepartureData.Employees}}
                <td class="for_employee bot-shadow" style="width: {{ ../employeeColumnWidth }}px">{{#if IsIntern}}<span style="color:red">Стажёр</span>{{/if}} {{ EmployeeTitle }} </td>
            {{/each}}
        </tr>
        {{#each GetDepartureData.Services as |css|}}
            <tr>
                <td class="brown-color first{{#if @first}}{{else}} top-white{{/if}}">{{ css.ServiceTitle }}</td>
                <td class="second{{#if @first}}{{else}} top-white{{/if}}"></td>
                <td class="third{{#if @first}}{{else}} top-white{{/if}}"></td>
                <td class="brown-color forth{{#if @first}}{{else}} top-white{{/if}}"><b>{{ toMoney css.Amount }}</b></td>
                <td class="fifth{{#if @first}}{{else}} top-white{{/if}}">{{#ifCond css.Discount '!=' 0 }}{{ toMoney css.Discount }}{{/ifCond}}</td>
                <td class="fifth{{#if @first}}{{else}} top-white{{/if}}">{{ toMoney css.SpecAmount }}</td>
                <td class="orange-color sixth{{#if @first}}{{else}} top-white{{/if}}"><b>{{ toMoney css.TotalAmount }}</b></td>
                {{#each ../GetDepartureData.Employees}}
                    <td class=" for_employee {{#if @../first}}{{else}} top-white{{/if}}" style="width: {{ ../../employeeColumnWidth }}px;"></td>
                {{/each}}
            </tr>
            {{#each css.ObjectClasses as |cssoc|}}
                <tr>
                    <td class="first{{#if @first}} top-white{{/if}}{{#if @last}} bot-shadow{{/if}}"><i>{{ cssoc.ObjectClassTitle}}</i></td>
                    <td class="second{{#if @first}} top-white{{/if}}{{#if @last}} bot-shadow{{/if}}">{{ toMoney cssoc.Price }}</td>
                    <td class="third{{#if @first}} top-white{{/if}}{{#if @last}} bot-shadow{{/if}}">{{ toMoney cssoc.Quantity }}</td>
                    <td class="forth{{#if @first}} top-white{{/if}}{{#if @last}} bot-shadow{{/if}}">{{ toMoney cssoc.Amount  }}</td>
                    <td class="fifth{{#if @first}} top-white{{/if}}{{#if @last}} bot-shadow{{/if}}"></td>
                    <td class="fifth{{#if @first}} top-white{{/if}}{{#if @last}} bot-shadow{{/if}}"></td>
                    <td class="sixth{{#if @first}} top-white{{/if}}{{#if @last}} bot-shadow{{/if}}"></td>
                    {{#each ../../GetDepartureData.Employees as |emp|}}
                        <td class="for_employee {{#if @../first}} top-white{{/if}}{{#if @../last}} bot-shadow{{/if}}" style="width: {{../../../employeeColumnWidth }}px;">
                                {{#ifCond emp.EmployeeID 'in' cssoc.EmployeeListID }}
                                    <div class="order-table-ok-label"></div>
                                {{/ifCond}}
                        </td>
                    {{/each}}
               </tr>
            {{/each}}
        {{/each}}
        </tbody>
    </table>
    </div>
    <div class="top-layer block_for_table" style="overflow: hidden; width: 904px;">
    <table class="price" style="width: {{ width }}px">
        <tbody>
        <tr class="heading">
            <td class="first lt bot-shadow">Услуга</td>
            <td class="second bot-shadow">Цена</td>
            <td class="third bot-shadow">Кол-во</td>
            <td class="forth bot-shadow">Сумма</td>
            <td class="fifth bot-shadow">Скидка</td>
            <td class="fifth bot-shadow">Спецификация</td>
            <td class="sixth bot-shadow">Стоимость</td>
            {{#each GetDepartureData.Employees}}
                <td class="for_employee bot-shadow transparent" style="width: {{ ../employeeColumnWidth }}px">{{#if IsIntern}}<span style="color:red">Стажёр</span>{{/if}} {{ EmployeeTitle }}</td>
            {{/each}}
        </tr>
        {{#each GetDepartureData.Services as |css|}}
            <tr>
                <td class="brown-color first{{#if @first}}{{else}} top-white{{/if}}">{{ css.ServiceTitle }}</td>
                <td class="second{{#if @first}}{{else}} top-white{{/if}}"></td>
                <td class="third{{#if @first}}{{else}} top-white{{/if}}"></td>
                <td class="brown-color forth{{#if @first}}{{else}} top-white{{/if}}"><b>{{ toMoney css.Amount  }}</b></td>
                <td class="fifth{{#if @first}}{{else}} top-white{{/if}}">{{#ifCond css.Discount '!=' 0 }}{{ toMoney css.Discount }}{{/ifCond}}</td>
                <td class="fifth{{#if @first}}{{else}} top-white{{/if}}">{{ toMoney css.SpecAmount }}</td>
                <td class="orange-color sixth{{#if @first}}{{else}} top-white{{/if}}"><b>{{ toMoney css.TotalAmount }}</b></td>
                {{#each GetDepartureData.Employees}}
                    <td class=" for_employee transparent {{#if @../first}}{{else}} top-white{{/if}}" style="width: {{ ../../employeeColumnWidth }}px;"></td>
                {{/each}}
            </tr>
            {{#each css.ObjectClasses as |cssoc|}}
                <tr>
                    <td class="first{{#if @first}} top-white{{/if}}{{#if @last}} bot-shadow{{/if}}"><i>{{ cssoc.ObjectClassTitle}}</i></td>
                    <td class="second{{#if @first}} top-white{{/if}}{{#if @last}} bot-shadow{{/if}}">{{ toMoney cssoc.Price  }}</td>
                    <td class="third{{#if @first}} top-white{{/if}}{{#if @last}} bot-shadow{{/if}}">{{ toMoney cssoc.Quantity }}</td>
                    <td class="forth{{#if @first}} top-white{{/if}}{{#if @last}} bot-shadow{{/if}}">{{ toMoney cssoc.Amount }}</td>
                    <td class="fifth{{#if @first}} top-white{{/if}}{{#if @last}} bot-shadow{{/if}}"></td>
                    <td class="fifth{{#if @first}} top-white{{/if}}{{#if @last}} bot-shadow{{/if}}"></td>
                    <td class="sixth{{#if @first}} top-white{{/if}}{{#if @last}} bot-shadow{{/if}}"></td>
                    {{#each GetDepartureData.Employees}}
                        <td class="for_employee transparent {{#if @../first}} top-white{{/if}}
                         {{#if @../last}} bot-shadow{{/if}}" style="width: {{ ../../../employeeColumnWidth }}px;"></td>
                    {{/each}}
               </tr>
            {{/each}}
        {{/each}}
        </tbody>
    </table>
    </div>
    </div>
    <div class="clear"></div>
<div class="client_address">
    <p>
        <i>Адрес:</i> <b>{{ GetDepartureData.Address.Title }}</b>
    </p>
    <p>
        <i>Метро:</i> <b>{{ GetDepartureData.Address.Metro }}</b>
    </p>
    <p>
        <i>Подъезд:</i> <b>{{ GetDepartureData.Address.Porch }}</b>
    </p>
    <p>
        <i>Этаж:</i> <b>{{ GetDepartureData.Address.Floor }}</b>
    </p>
    <p>
        <i>Квартира:</i> <b>{{ GetDepartureData.Address.Flat }}</b>
    </p>
    <p>
        <i>Домофон:</i> <b>{{ GetDepartureData.Address.Intercom }}</b>
    </p>
    <p>
        <i>Как добраться:</i><br /> {{ GetDepartureData.Address.Comment}}
    </p>
</div>
<div id="ymaps-map-container"></div>
<script type="text/javascript" src="https://api-maps.yandex.ru/2.0/?coordorder=longlat&load=package.full&wizard=constructor&lang=ru-RU"></script>
<script>
    window.address = {
        "object": {{{ GetDepartureData.Address.AddressJson }}},
        "center": "{{{ GetDepartureData.Address.Center }}}",
        "zoom": "{{{ GetDepartureData.Address.Zoom }}}",
        "metro": {{{ GetDepartureData.Address.MetroJson }}}
    }
</script>
<script src="/static/js/map.js?v=1.001"></script>
{{else}}
        <p style="color: red; margin-left: 15px">
            Открыт не ваш заказ!<br>
            Просмотр запрещен.
        </p>
{{/if}}
</section>
<div class="clear"></div>
</div>
<!--#middle-->
<div id="foot-empty"></div>
</div>
<!--#wrapper-out-->
<footer class="main">
    <div>
        <div class="copy">
            Если у Вас есть предложения и пожелания по работе личного кабинета пишите на почту <a href="mailto: develop@domovenok.su">develop@domovenok.su</a><br />
            2007-2017 &copy; domovenok.su Клининговая компания ООО &laquo;Комфорт-сервис &laquo;Домовёнок&raquo;, все права защищены.
        </div>
    </div>
</footer>
<!--.main-->


</body>
</html>
