<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="index, follow"/>
    <link href="/static/css/staff_page.css?v=1" type="text/css" rel="stylesheet"/>
    <link rel="icon" type="image/ico" href="/media/favicon.ico">
    <title>Личный кабинет от Домовёнка</title>

    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="/static/js/jquery.mousewheel.js"></script>
    <script src="/static/js/jquery.tools.min.js"></script>
    <script src="/static/js/jcarousellite_1.0.1.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/jquery.maskedinput.min.js"></script>
    <script src="/static/js/nich.js?v=1.026"></script>
    <script src="/static/js/custom_cookie.js"></script>



    <!--block head-->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N3VS78"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N3VS78');</script>
    <!-- End Google Tag Manager -->
</head>

<body>

<div id="wrapper-out">
    {{employeeHeader this}}
<!--.main-->
<div id="middle">
<section class="content">
 <h1>История изменения рейтинга</h1>
{{#if GetRatingHistory.Items }}
    <style>
        .td-center {text-align: center;}
    </style>
<script src="/static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script>
    var item_ended = false;
    var employee_id = '{{ employeeId}}';
    var item_count = {{ GetRatingHistory.ItemsCount }};
    var get_item_count = 30;
    function getItem() {
        item_ended = true;
        $.ajax({
          type: "GET",
          url: "/staff/ajax/get_rating_history/",
          data: ({'employee_id': employee_id, 'item_count': item_count, 'get_item_count': get_item_count}),
          cache: false,
          dataType: "text",
          success: onSuccess,
            error: onError
        });
    };
    function update_item () {
            if (!item_ended && ($(window).scrollTop() + $(window).height() >= $(document).height() - 50)) {
                getItem();
            }
        }
    $(document).scroll(update_item);

    function onError(){
        item_ended = true;
    };
    function onSuccess(data)
    {
        if (data === ""){
            onError();
        }
        else {
            item_ended = false;
            $('#items-list tbody').append(data);
            item_count += 10;
        }
    }
</script>
     <div id="items-list" class="block_for_table_big" style="position: relative; display: inline-block; width: auto; margin-left: 70px;">
            <div class="block_for_table">
            <table class="price">
                <tbody>
                <tr class="heading">
                    <td style="" class="first lt bot-shadow">Дата</td>
                    <td class="second bot-shadow" style="width: 150px">Процент</td>
                    <td class="second rt bot-shadow" style="width: 200px">Рейтинг</td>
                </tr>
                {{#each GetRatingHistory.Items as |item| }}
                    <tr>
                        <td class="first  top-white" style=""><b>{{ formatPartDate item.Date "DD.MM.YYYY" }}</b></td>
                        <td class="second top-white" style="text-align: center"><b>{{ item.TotalPercent }} %</b></td>
                        <td class="second top-white" style="text-align: center"><b>{{ item.TotalRating }} %</b></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            </div>
            </div>
{{else}}
<span>История рейтинга отсутствует</span>
{{/if}}
</section>
<div class="clear"></div>
</div>
<!--#middle-->
<div id="foot-empty"></div>
</div>
<!--#wrapper-out-->
<footer class="main">
    <div>
        <div class="copy">
            Если у Вас есть предложения и пожелания по работе личного кабинета пишите на почту <a href="mailto: develop@domovenok.su">develop@domovenok.su</a><br />
            2007-2017 &copy; domovenok.su Клининговая компания ООО &laquo;Комфорт-сервис &laquo;Домовёнок&raquo;, все права защищены.
        </div>
    </div>
</footer>
<!--.main-->


</body>
</html>
