<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="index, follow"/>
    <link href="/static/css/staff_page.css?v=1" type="text/css" rel="stylesheet"/>
    <link rel="icon" type="image/ico" href="/media/favicon.ico">
    <title>Личный кабинет от Домовёнка</title>

    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="/static/js/jquery.mousewheel.js"></script>
    <script src="/static/js/jquery.tools.min.js"></script>
    <script src="/static/js/jcarousellite_1.0.1.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/jquery.maskedinput.min.js"></script>
    <script src="/static/js/nich.js?v=1.026"></script>
    <script src="/static/js/custom_cookie.js"></script>



    <!--block head-->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N3VS78"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N3VS78');</script>
    <!-- End Google Tag Manager -->
</head>

<body>

<div id="wrapper-out">
    {{employeeHeader this}}
<!--.main-->
<div id="middle">
<section class="content">
    {{#if permission }}
        <h1>Заказы</h1>
        <h6>На завтра:</h6>
        {{#if tomorrow }}
            <div class="order_table">
                <div class="header">
                    <div class="first_column lt">Время</div>
                    <div class="second_column">Услуги</div>
                    <div class="third_column">Адрес</div>
                    <div class="forth_column">Клиент</div>
                    <div class="fifth_column rt">Сумма</div>
                    <div class="clear"></div>
                </div>
                {{#each tomorrow}}
                    <a class="row_"
                       href="{{staffUrl 'orderDetail' DepartureID}}">
                        <div class="simple_row {{#if @last}} last_row{{/if}}" {{#if CardCompleted }}{{else}}style="background: pink" {{/if }} >

                            <div class="first_column">
                                <b>{{ formatPartDate Date "DD.MM.YYYY" }}</b> {{ formatPartDate Date "HH:mm" }}</div>
                            <div class="second_column brown-color">{{ ServiceName }}</div>
                            <div class="third_column">{{ AddressTitle }}</div>
                            <div class="forth_column">{{ ClientTitle }}</div>
                            <div class="fifth_column">{{ TotalAmount }}</div>
                            <div class="clear"></div>
                        </div>
                    </a>
                {{/each }}
            </div>
        {{ else }}
            {{#if no_orders }}
                <p><i>Заказов нет</i></p>
            {{ else }}
                <p><i>Информация о заказах будет доступна после 19:00.</i></p>
            {{/if }}
        {{/if }}
        <h6>Сегодня:</h6>
        {{#if today }}
            <div class="order_table">
                <div class="header">
                    <div class="first_column lt">Время</div>
                    <div class="second_column">Услуги</div>
                    <div class="third_column">Адрес</div>
                    <div class="forth_column">Клиент</div>
                    <div class="fifth_column rt">Сумма</div>
                    <div class="clear"></div>
                </div>
                {{#each today}}
                    <a class="row_"
                       href="{{staffUrl 'orderDetail' DepartureID}}">
                        <div class="simple_row {{#if @last}} last_row{{/if}}" {{#if CardCompleted }}{{else}}style="background: pink" {{/if }}>

                            <div class="first_column">
                                <b>{{ formatPartDate Date "DD.MM.YYYY" }}</b> {{ formatPartDate Date "HH:mm" }}</div>
                            <div class="second_column brown-color">{{ ServiceName }}
                            </div>
                            <div class="third_column">{{ AddressTitle }}
                            </div>
                            <div class="forth_column">{{ ClientTitle }}</div>
                            <div class="fifth_column">{{ TotalAmount }}</div>
                            <div class="clear"></div>

                        </div>
                    </a>
                {{/each }}
            </div>
        {{ else }}
            <p><i>Заказов нет</i></p>
        {{/if }}
        <h6>Прошлые заказы:</h6>
        {{#if old }}
            <div class="order_table">
                <div class="header">
                    <div class="first_column lt">Время</div>
                    <div class="second_column">Услуги</div>
                    <div class="third_column">Адрес</div>
                    <div class="forth_column">Клиент</div>
                    <div class="fifth_column rt">Сумма</div>
                    <div class="clear"></div>
                </div>
                {{#each old}}
                    <a class="row_"
                       href="{{staffUrl 'orderDetail' DepartureID}}">
                        <div class="simple_row {{#if @last}} last_row{{/if}}" {{#if CardCompleted }}{{else}}style="background: pink" {{/if }} >
                            <div class="first_column">
                                <b>{{ formatPartDate Date "DD.MM.YYYY" }}</b> {{ formatPartDate Date "HH:mm" }}</div>
                            <div class="second_column brown-color">{{ ServiceName }}
                            </div>
                            <div class="third_column">{{ AddressTitle }}
                            </div>
                            <div class="forth_column">{{ ClientTitle }}</div>
                            <div class="fifth_column">{{ TotalAmount }}</div>
                            <div class="clear"></div>
                        </div>
                    </a>
                {{/each}}
            </div>
        {{else}}
            <p><i>Заказов нет</i></p>
        {{/if}}
        <a class="all_orders" href="{{staffUrl 'employeeOrders' employeeId }}">Все заказы</a>
    {{/if }}
</section>
<div class="clear"></div>
</div>
<!--#middle-->
<div id="foot-empty"></div>
</div>
<!--#wrapper-out-->
<footer class="main">
    <div>
        <div class="copy">
            Если у Вас есть предложения и пожелания по работе личного кабинета пишите на почту <a href="mailto: develop@domovenok.su">develop@domovenok.su</a><br />
            2007-2017 &copy; domovenok.su Клининговая компания ООО &laquo;Комфорт-сервис &laquo;Домовёнок&raquo;, все права защищены.
        </div>
    </div>
</footer>
<!--.main-->


</body>
</html>
