<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Личный кабинет клиента компании Домовенок</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0, minimal-ui" />
  <meta name="format-detection" content="telephone=no">
  <link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-touch-icon-57x57.png?v=1.0">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/img/apple-touch-icon-60x60.png?v=1.0">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png?v=1.0">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-touch-icon-76x76.png?v=1.0">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png?v=1.0">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-touch-icon-120x120.png?v=1.0">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-touch-icon-144x144.png?v=1.0">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-touch-icon-152x152.png?v=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon-180x180.png?v=1.0">
  <link rel="icon" type="image/png" href="/static/img/favicon-32x32.png?v=1.0" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/img/android-chrome-192x192.png?v=1.0" sizes="192x192">
  <link rel="icon" type="image/png" href="/static/img/favicon-16x16.png?v=1.0" sizes="16x16">
  <link rel="manifest" href="/static/manifest.json?v=1.02">
  <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg?v=1.0" color="#fd8204">
  <meta name="apple-mobile-web-app-title" content="Domovenok">
  <meta name="application-name" content="Domovenok">
  <meta name="msapplication-TileColor" content="#fd8204">
  <meta name="msapplication-TileImage" content="/static/img/mstile-144x144.png?v=1.0">
  <meta name="msapplication-config" content="/static/browserconfig.xml?v=1.02">
  <meta name="theme-color" content="#fd8204">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/js/vendor/vendor.js"></script>
  <base href="" >
  <script>
    var domovenokClient = {
      name: ''
    };
    var generalPath = {
      schema: '',
      domain: '',
      url: ''
    };

    generalPath.buildUrl = function (additional) {
      var build = this.schema + '://' + this.domain + '/' + this.url + '/';
      if (additional)
        build += additional;
      return build;
    };


    var departureList = {
      begin: true,
      end: false
    };
    var clientId = '';
  </script>
</head>
<script>

  var generalPath = {
    schema: 'http',
    domain: 'site.domovenok.corp:3004',
    url: 'articles'
  };

  generalPath.buildUrl = function (additional) {
    var build = this.schema + '://' + this.domain + '/' + this.url + '/';
    if (additional)
      build += additional;
    return build;
  };

  var departureList = {
    begin: false,
    end: false
  };

</script>
<body class="page  page--articles">
<!-- Page wrapper -->
<div class="page__wrap">

  <!-- Page Header -->
  <header class="page-header  page-header--scroll  page-header--contact">

    <div class="page-header__top">
      <a class="main-menu__btn  main-menu__btn--open" href>
        <svg class="main-menu__image" width="31" height="23.9" viewBox="0 0 31 23.9">
          <rect width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
          <rect y="22.26" width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
          <rect y="11.13" width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
        </svg>
      </a>
      <a class="page-header__logo" href="http://www.domovenok.su"><img height="38" width="152" src="/static/img/logo.svg" alt="Логотип"></a>

      <a class="page-header__tel" href="tel: +74956680468"><span class="page-header__tel-brown">8 (495)</span> 668-04-68</a>
    </div>

    <div class="page-header__wrap">
      <a class="main-menu__icon-close  icon-close" href="#">
        <svg class="icon-close__image" width="19" height="19" viewBox="0 0 19 19">
          <line class="icon-close__element" x1="1" y1="18" x2="18" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
          <line class="icon-close__element" x1="18" y1="18" x2="1" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
        </svg>
      </a>

      <div class="change-town">

        <p class="change-town__btn">Москва</p>

        <ul class="change-town__list list">
          <li class="change-town__item change-town__item--active item">
            <a class="change-town__link link" href="http://www.domovenok.su/podderzhka">Москва</a>
          </li>
          <li class="change-town__item item">
            <a class="change-town__link link" href="https://spb.domovenok.su/podderzhka">Санкт-Петербург</a>
          </li>
        </ul>
      </div>

      <!-- Main Menu -->
      
      <nav class="page-header__main-menu  main-menu  scroll-container">
      
        <ul class="main-menu__list">
      
          <li class="main-menu__item main-menu__item--sub">
            <a class="main-menu__link"  href="http://site.domovenok.corp/main.html">
              Главная
            </a>
      
            <!--Sub Menu-->
            <ul class="main-menu__list  main-menu__list--sub">
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/about-us.html">
                  О нас
                </a>
              </li>
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/news.html">
                  Услуги
                </a>
              </li>
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/important.html">
                  Важно знать
                </a>
              </li>
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/questions.html">
                  Вопросы и ответы
                </a>
              </li>
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/news.html">
                  Новости
                </a>
              </li>
      
              <li class="main-menu__item-sub  main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/articles.html">
                  Статьи
                </a>
              </li>
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/gallery.html">
                  Галерея
                </a>
              </li>
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/promotion.html">
                  Специальные акции
                </a>
              </li>
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/career.html">
                  Вакансии
                </a>
              </li>
      
            </ul>
            <!--/Sub Menu-->
      
          </li>
      
          <li class="main-menu__item  main-menu__item--sub">
            <a class="main-menu__link">
              Физическим лицам
            </a>
      
            <!--Sub Menu-->
            <ul class="main-menu__list  main-menu__list--sub">
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/podderzhka.html">
                  Поддерживающая уборка
                </a>
              </li>
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/domrabotnica.html">
                  Домработница
                </a>
              </li>
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/generalnaya_uborka.html">
                  Генеральная уборка
                </a>
              </li>
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/posle_remonta.html">
                  Уборка после ремонта
                </a>
              </li>
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/uborka-kottedzhej.html">
                  Уборка коттеджей
                </a>
              </li>
      
              <li class="main-menu__item-sub  main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/mite_okon.html">
                  Мытье окон
                </a>
              </li>
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/himchistka.html">
                  Химчистка
                </a>
              </li>
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/vizov_mastera_na_dom.html">
                  Домашний мастер
                </a>
              </li>
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/obrabotka_poverhnostey.html">
                  Обработка поверхностей
                </a>
              </li>
      
            </ul>
            <!--/Sub Menu-->
      
          </li>
      
          <li class="main-menu__item  main-menu__item--sub">
            <a class="main-menu__link">
              Юридическим лицам
            </a>
      
            <!--Sub Menu-->
            <ul class="main-menu__list  main-menu__list--sub">
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/uborka_ofisov.html">
                  Уборка офисов
                </a>
              </li>
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/uborka-proizvodstvennyh-pomewenij.html">
                  Уборка производственных помещений
                </a>
              </li>
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/ofisnyy-master.html">
                  Офисный мастер
                </a>
              </li>
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/mite_stekol">
                  Мытье стекол
                </a>
              </li>
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/myte-fasadov">
                  Мытье фасадов
                </a>
              </li>
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/promyshlennyj-alpinizm.html">
                  Промышленный альпинизм
                </a>
              </li>
      
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/obrabotka_poverhnostey.html">
                  Обработка поверхностей
                </a>
              </li>
      
            </ul>
            <!--/Sub Menu-->
      
          </li>
      
          <li class="main-menu__item">
            <a class="main-menu__link"  href="http://site.domovenok.corp/private.html">
              Личный кабинет
            </a>
          </li>
      
          <li class="main-menu__item">
            <a class="main-menu__link"  href="http://site.domovenok.corp/contacts.html">
              Контакты
            </a>
          </li>
      
        </ul>
      
      </nav>
      <!-- /Main Menu -->

      <!-- Contacts -->
      <!-- //= components/contact/contact.html -->
      <!-- /Contacts -->

    </div>

  </header>
  <!-- /Page Header -->

  <!-- Main Content -->
  <main class="page__main-content  main-content">
    <div class="left-side  left-side--mobile">

      <div class="left-side__top">
        <h1 class="left-side__title  title">Статьи</h1>
      </div>

      <!-- Orders -->
      <div class="left-side__content">
        <div class="left-side__wrap scroll-container-unstable">
          <div class="left-side__list articles">
            {{#each articles}}
            <article  class="left-side__item articles__item" data-id="{{url}}">
              <div class="articles__row">
                <div class="articles__column">
                  <img class="articles__image" src="https://www.domovenok.su/media/{{ pic }}">
                </div>
                <div class="articles__column">
                  <h3 class="articles__title title">{{ title }}</h3>
                  <p class="articles__text text">{{{ preview_text }}}</p>
                </div>
              </div>
            </article>
            {{/each}}
        </div>
      </div>
      </div>
      <!-- /Orders Items -->

      <a class="btn-top  btn-top--hide" href="#">
        <div>
          <svg width="22.21" height="23.47" viewBox="0 0 22.21 23.47">
            <path d="M1894.82,519.56l-3.26-3.54-4.76-5.18a3.42,3.42,0,0,0-4.84,0L1877.2,516l-3.26,3.54c-1.59,1.73-.15,4.27,2.42,4.27h4.31v5.76a3.71,3.71,0,0,0,7.42,0v-5.76h4.31C1895,523.83,1896.42,521.29,1894.82,519.56Z" transform="translate(-1873.28 -509.83)" style="fill: #fff"/>
          </svg>
        </div>
      </a>

    </div>


    <div class="right-side  right-side--hide  right-side--mobile scroll-container-unstable"  >
      {{#with article}}
      <div class="right-side__wrap" data-id="{{url}}">

        <button class="right-side__btn  right-side__btn--close  icon-close" type="button">
          <svg class="icon-close__image" width="22.47" height="22.47" viewBox="0 0 22.47 22.47">
            <rect class="icon-close__element" x="182.81" y="107.75" width="31" height="1.64" rx="0.82" ry="0.82" transform="translate(-205.73 74.73) rotate(-45)" fill="#fd8204"/>
            <rect class="icon-close__element" x="182.74" y="107.68" width="31" height="1.64" rx="0.82" ry="0.82" transform="translate(-52.26 -205.7) rotate(45)" fill="#fd8204"/>
          </svg>
        </button>

        <article  class="article">
          <div class="article__wrap">

            <h2>{{title}}</h2>
            <time datetime="">{{pub_date}}</time>
            <!--<p>Время чтения: <span>10 минут</span><a>Нет времени читать?</a></p>-->
            <img srcset="https://www.domovenok.su/media/{{pic}}" alt="" width="300" height="200">
            {{{full_text}}}

          </div>

          <footer class="article__footer">
            <div class="article__inner">
              <h3 class="article__title">Понравилась статья?</h3>
              <label class="article__label label" for="subscription">Подписывайтесь на нашу рассылку</label>
              <div class="article__row">
                <input class="article__input input" type="email" name="email-subscription" id="subscription" placeholder="Напишите e-mail">
                <button class="article__button button" type="submit">Подписаться</button>
              </div>
            </div>

            <div class="article__inner">
              <h3 class="article__title">Была ли Вам полезна статья?</h3>
              <div class="article__row">
                <button class="article__button button">Да</button>
                <button class="article__button button">Нет</button>
              </div>
            </div>

            <div class="article__inner">
              <h3 class="article__title">Поделиться:</h3>
              <div class="article__social-links  ya-share2" id ="my-share" data-services="facebook,vkontakte,odnoklassniki" data-url="{{inviteUrl}}" data-title="Дарю скидку на первую уборку" data-description="Скидка для моих друзей. Делюсь с вами скидкой 500 рублей на первую уборку от Домовёнка." data-image="{{paPublicUrl}}/media/general/stock/discount_on_cleaning.jpg"></div>
            </div>
          </footer>
        </article>
      </div>
      {{/with}}
    </div>

    <div class="contact-btn">
      <button class="contact-btn__btn contact-btn__btn--main" type="button">Кнопка контакта</button>
      <div class="contact-btn__list">
        <button class="contact-btn__btn contact-btn__btn--left" type="button">T</button>
        <button class="contact-btn__btn contact-btn__btn--center" type="button">E</button>
        <button class="contact-btn__btn contact-btn__btn--right" type="button">C</button>
      </div>
      <div class="contact-btn__window"></div>
    </div>

  </main>


</div>
<!-- /Page wrapper -->

<!-- Java Script -->

<!-- Template Order -->

<script id="article-active" type="text/html">
  {{{{raw}}}}
  <button class="right-side__btn  right-side__btn--close  icon-close">
    <svg class="icon-close__image" width="19" height="19" viewBox="0 0 19 19">
      <line class="icon-close__element" x1="1" y1="18" x2="18" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
      <line class="icon-close__element" x1="18" y1="18" x2="1" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
    </svg>
  </button>
  
    <article  class="article">
      <div class="article__wrap">

        <h2>{{title}}</h2>
        <time datetime="">{{pub_date}}</time>
        <img srcset="https://www.domovenok.su/media/{{pic}}" alt="" width="300" height="200">
        {{{full_text}}}

      </div>

      <footer class="article__footer">
        <div class="article__inner">
          <h3 class="article__title">Понравилась статья?</h3>
          <label class="article__label label" for="subscription">Подписывайтесь на нашу рассылку</label>
          <div class="article__row">
            <input class="article__input input" type="email" name="email-subscription" id="subscription" placeholder="Напишите e-mail">
            <button class="article__button button" type="submit">Подписаться</button>
          </div>
        </div>

        <div class="article__inner">
          <h3 class="article__title">Была ли Вам полезна статья?</h3>
          <div class="article__row">
            <button class="article__button button">Да</button>
            <button class="article__button button">Нет</button>
          </div>
        </div>

        <div class="article__inner">
          <h3 class="article__title">Поделиться:</h3>
          <div class="article__social-links  ya-share2" id ="my-share" data-services="facebook,vkontakte,odnoklassniki" data-url="{{inviteUrl}}" data-title="Дарю скидку на первую уборку" data-description="Скидка для моих друзей. Делюсь с вами скидкой 500 рублей на первую уборку от Домовёнка." data-image="{{paPublicUrl}}/media/general/stock/discount_on_cleaning.jpg"></div>
        </div>
      </footer>
    </article>



  </section>
  {{{{/raw}}}}
</script>
<!-- /Template Active Order -->

<script src="/static/js/bundle.js"></script>
<!-- /Java Script -->

</body>
</html>