<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>{{#if Item}}{{#if Item.title_meta}}{{Item.title_meta}}{{else}}{{ Item.title }} - статьи домовенка{{/if}}{{else}}Статьи домовёнка{{/if}}</title>
  <meta name="keywords" content="{{#if Item}}{{#if Item.keywords_meta}}{{Item.keywords_meta}}{{else}}статья, {{Item.title}}{{/if}}{{else}}Статьи по уборке{{/if}}"/>
  <meta name="description" content="{{#if Item}}{{#if Item.description_meta}}{{Item.description_meta}}{{else}}На данной странице можно прочитать статью {{Item.title}}{{/if}}{{else}}Вы можете прочитать все статьи домовенка. Полезная информация об уборке дома{{/if}}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0, minimal-ui" />
  <meta name="format-detection" content="telephone=no">
  {{#if noindex}} <meta name="robots" content="noindex,nofollow"> {{else}} <meta name="robots" content="index, follow"/> {{/if}}
  {{#if canonical }}<link rel="canonical" href="{{canonicalPath}}"/>{{/if}}
  <link rel="apple-touch-icon" sizes="57x57" href="/static/pancake/img/apple-touch-icon-57x57.png?v=1.0">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/pancake/img/apple-touch-icon-60x60.png?v=1.0">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/pancake/img/apple-touch-icon-72x72.png?v=1.0">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/pancake/img/apple-touch-icon-76x76.png?v=1.0">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/pancake/img/apple-touch-icon-114x114.png?v=1.0">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/pancake/img/apple-touch-icon-120x120.png?v=1.0">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/pancake/img/apple-touch-icon-144x144.png?v=1.0">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/pancake/img/apple-touch-icon-152x152.png?v=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/pancake/img/apple-touch-icon-180x180.png?v=1.0">
  <link rel="icon" type="image/png" href="/static/pancake/img/android-chrome-192x192.png?v=1.0" sizes="192x192">
  <link rel="icon" type="image/png" href="/static/pancake/img/favicon-16x16.png?v=1.01" sizes="16x16">
  <link rel="icon" type="image/png" href="/static/pancake/img/favicon-32x32.png?v=1.01" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/pancake/img/favicon-48x48.png?v=1.0" sizes="48x48">
  <link rel="manifest" href="/static/pancake/manifest.json?v=1.02">
  <link rel="mask-icon" href="/static/pancake/img/safari-pinned-tab.svg?v=1.0" color="#fd8204">
  <link rel="yandex-tableau-widget" href="/yandex/manifest.json" />
  <meta name="apple-mobile-web-app-title" content="Domovenok">
  <meta name="application-name" content="Domovenok">
  <meta name="msapplication-TileColor" content="#fd8204">
  <meta name="msapplication-TileImage" content="/static/pancake/img/mstile-144x144.png?v=1.0">
  <meta name="msapplication-config" content="/static/pancake/browserconfig.xml?v=1.02">
  <meta name="theme-color" content="#fd8204">
  
  <!-- Start SmartBanner configuration -->
  <meta name="smartbanner:title" content="Домовенок">
  <meta name="smartbanner:author" content="Домовёнок всегда<br> под рукой">
  <meta name="smartbanner:price" content=" ">
  <meta name="smartbanner:price-suffix-apple" content=" ">
  <meta name="smartbanner:price-suffix-google" content=" ">
  <meta name="smartbanner:icon-apple" content="/static/pancake/img/logo-dom.svg">
  <meta name="smartbanner:icon-google" content="/static/pancake/img/logo-dom.svg">
  <meta name="smartbanner:button" content="Открыть">
  <meta name="smartbanner:button-url-apple" content="https://itunes.apple.com/us/app/%D0%B4%D0%BE%D0%BC%D0%BE%D0%B2%D0%B5%D0%BD%D0%BE%D0%BA-%D1%83%D0%B1%D0%BE%D1%80%D0%BA%D0%B0-%D0%BA%D0%B2%D0%B0%D1%80%D1%82%D0%B8%D1%80-%D0%B3%D0%BB%D0%B0%D0%B6%D0%BA%D0%B0-%D1%81%D1%82%D0%B8%D1%80%D0%BA%D0%B0-%D0%BA%D0%BB%D0%B8%D0%BD%D0%B8%D0%BD%D0%B3/id1274981749?mt=8">
  <meta name="smartbanner:button-url-google" content="https://play.google.com/store/apps/details?id=ru.domovenok.app&hl=ru">
  <meta name="smartbanner:enabled-platforms" content="android,ios">
  <!-- End SmartBanner configuration -->

  <link rel="stylesheet" href="/static/pancake/css/style.min.css?v0.59">
  <script src="//yastatic.net/share2/share.js" async></script>
  <base href="" >
  <script>
    var itemList = {
      begin: {{Begin}},
      end: {{End}}
    };
  </script>

  <script>
    var analyticConf = {
      id: "{{general.analytics.GAUA}}",
      phone: "{{general.analytics.phone}}",
      phoneDimension: "{{general.analytics.phoneDimension}}",
      ABTestId: {{#if general.analytics.ABTestID}}"{{general.analytics.ABTestID}}"{{else}}null{{/if}},
      ABTestValue: {{#if general.analytics.ABTestVariant}}"{{general.analytics.ABTestVariant}}"{{else}}null{{/if}}
    };
  
    {{#if general.analytics.ABTestID}}
      var yaParams = {
        "{{general.analytics.ABTestID}}": "{{general.analytics.ABTestVariant}}"
      };
    {{/if}}
  </script>

</head>
<body class="page  page--articles">
<!-- Page wrapper -->
<div class="page__wrap">

  <!-- Page Header -->
  <!-- page-header.html -->
  <header class="page-header  page-header--contact">
    <div class="page-header__top">
      <button class="main-menu__btn  main-menu__btn--open">
        <svg class="main-menu__image" width="31" height="23.9" viewBox="0 0 31 23.9">
          <rect width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
          <rect y="22.26" width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
          <rect y="11.13" width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
        </svg>
      </button>
      <a class="page-header__logo" href="{{buildUrl general.city '/'}}"><img height="38" width="152" src="/static/pancake/img/logo.svg" alt="Логотип"/></a>
  
      <a class="page-header__tel" href="tel:{{ general.phoneHref }}"><span>{{ general.phoneCode }}</span> {{ general.phoneNumber }}</a>
    </div>
    <div class="page-header__wrap">
      <a class="main-menu__icon-close  icon-close" href="#">
        <svg class="icon-close__image" width="19" height="19" viewBox="0 0 19 19">
          <line class="icon-close__element" x1="1" y1="18" x2="18" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
          <line class="icon-close__element" x1="18" y1="18" x2="1" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
        </svg>
      </a>
      <!--Main Menu-->
      {{templateTag this 'menu/main-menu.html'}}
      <!--/Main Menu-->
      <!--
      <div class="page-header__contact  contact">
        <a class="contact__callback" href>Свяжитесь со мной</a>
      </div>
      -->
      <div class="change-town">
        <p class="change-town__btn">{{general.city.title}}</p>
        <ul class="change-town__list list">
          <li class="change-town__item {{#ifCond general.city.keyword '==' 'moscow' }}change-town__item--active{{/ifCond}} item">
            <a class="change-town__link link" href="{{buildUrl 'moscow' general.path}}">Москва</a>
          </li>
          <li class="change-town__item {{#ifCond general.city.keyword '==' 'spb' }}change-town__item--active{{/ifCond}} item">
            <a class="change-town__link link" href="{{buildUrl 'spb' general.path}}">Санкт-Петербург</a>
          </li>
          <li class="change-town__item {{#ifCond general.city.keyword '==' 'nn' }}change-town__item--active{{/ifCond}} item">
            <a class="change-town__link link" href="{{buildUrl 'nn' general.path}}">Нижний Новгород</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <!-- /Page Header -->

  <!-- Main Content -->
  <main class="page__main-content  main-content">
    <div class="left-side {{#if HasRightSide}}left-side--mobile{{/if}}">

      <div class="left-side__top">
        {{#if HasRightSide}}
        <p class="left-side__title  title">Статьи</p>
        {{else}}
        <h1 class="left-side__title  title">Статьи</h1>
        {{/if}}
      </div>

      <!-- Orders -->
      <div class="left-side__content">
        <div class="left-side__wrap scroll-container-unstable">
          <div class="left-side__list articles">
            {{#each ItemList}}
            <a class="left-side__item articles__item" href="/articles/{{url}}/" data-id="{{url}}">
              
                <div class="articles__row">
                  {{#if picture}}
                  <div class="articles__column">
                    <img class="articles__image" src="https://www.domovenok.su/media/{{ picture.pic }}">
                  </div>
                  {{/if}}
                  <div class="articles__column articles__column--load">
                    <p class="articles__title title">{{ title }}</p>
                    {{{ preview_text }}}
                  </div>
                </div>
            </a>
            {{/each}}
        </div>
      </div>
      </div>
      <!-- /Orders Items -->

      <a class="btn-top  btn-top--hide" href="#">
        <div>
          <svg width="22.21" height="23.47" viewBox="0 0 22.21 23.47">
            <path d="M1894.82,519.56l-3.26-3.54-4.76-5.18a3.42,3.42,0,0,0-4.84,0L1877.2,516l-3.26,3.54c-1.59,1.73-.15,4.27,2.42,4.27h4.31v5.76a3.71,3.71,0,0,0,7.42,0v-5.76h4.31C1895,523.83,1896.42,521.29,1894.82,519.56Z" transform="translate(-1873.28 -509.83)" style="fill: #fff"/>
          </svg>
        </div>
      </a>

    </div>

    <div class="right-side  right-side--hide {{#HasRightSide}}right-side--mobile{{/HasRightSide}} scroll-container-unstable"  >
      {{#with Item}}
      <div class="right-side__wrap right-side-default" data-id="{{url}}">

        <button class="right-side__btn  right-side__btn--close  icon-close" type="button">
          <svg class="icon-close__image" width="22.47" height="22.47" viewBox="0 0 22.47 22.47">
            <rect class="icon-close__element" x="182.81" y="107.75" width="31" height="1.64" rx="0.82" ry="0.82" transform="translate(-205.73 74.73) rotate(-45)" fill="#fd8204"/>
            <rect class="icon-close__element" x="182.74" y="107.68" width="31" height="1.64" rx="0.82" ry="0.82" transform="translate(-52.26 -205.7) rotate(45)" fill="#fd8204"/>
          </svg>
        </button>

        <article  class="article">
          <div class="article__wrap">
        
            {{#if HasRightSide}}
            <h2>{{title}}</h2>
            {{else}}
            <h1>{{title}}</h1>
            {{/if}}
            <time datetime="">{{formatDate pub_date}}</time>
            {{#if picture}}
            <img srcset="https://www.domovenok.su/media/{{ picture.pic }}" alt="" width="300" height="200">
            {{/if}}
            {{{full_text}}}
        
          </div>
        
          <footer class="article__footer">
            <form class="article__inner article-subscribe">
              <h3 class="article-subscribe__title title">Понравилась статья?</h3>
              <p class="article-subscribe__text text">Подписывайтесь на нашу рассылку</p>
              <div class="article-subscribe__row">
                <input class="article-subscribe__input input" type="email" name="email" placeholder="E-mail" required>
                <button class="article-subscribe__button button" type="submit">Подписаться</button>
              </div>
            </form>
        
            <div class="article__inner article-like">
              <h3 class="article-like__title title">Была ли Вам полезна статья?</h3>
              <div class="article-like__row">
                <button class="article-like__button article-like__button--yes button">Да</button>
                <button class="article-like__button article-like__button--no button">Нет</button>
              </div>
            </div>
        
            <div class="article__inner">
              <h3 class="right-side__heading title">Поделиться:</h3>
              <div class="article__social-links  ya-share2" id ="my-share" data-services="facebook,vkontakte,odnoklassniki" data-url="{{inviteUrl}}" data-title="Дарю скидку на первую уборку" data-description="Скидка для моих друзей. Делюсь с вами скидкой 500 рублей на первую уборку от Домовёнка." data-image="{{paPublicUrl}}/media/general/stock/discount_on_cleaning.jpg"></div>
            </div>
          </footer>
        </article>
      </div>
      {{/with}}
    </div>

    
    <div class="contact-btn" data-ga='{"hitType": "click", "eventCategory": "button", "eventAction": "send", "eventLabel": "orderButton"}'>
      <button class="contact-btn__btn contact-btn__btn--main" type="button" data-name="service-order">
        <svg class="contact-btn__image" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><rect width="30" height="30" fill="none"/><line x1="15" y1="1.5" x2="15" y2="28.5" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/><line x1="1.5" y1="15" x2="28.5" y2="15" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/></svg>
      </button>
    </div>
  </main>

  <!-- Pop up -->
  <!-- Pop up -->
  <div class="pop-up  pop-up--hide">
  
    <div class="pop-up__wrap  scroll-container-unstable">
  
      <button class="pop-up__btn-close  icon-close" type="button">
        <svg class="icon-close__image" width="19" height="19" viewBox="0 0 19 19">
          <line class="icon-close__element" x1="1" y1="18" x2="18" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
          <line class="icon-close__element" x1="18" y1="18" x2="1" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
        </svg>
      </button>
  
      <div class="pop-up__item  pop-up__item--sm  pop-up__item--hide  notification">
        <p class="notification__text  title">Текст</p>
      </div>
  
      <div class="pop-up__item  pop-up__item--sm  pop-up__item--hide  general-question">
        <form class="general-question__form">
          <p class="general-question__title  title">Вы уверены?</p>
          <button class="general-question__button  general-question__button--ok  button" data-ga='{"hitType": "event","eventCategory": "form","eventAction": "send","eventLabel": "canceled_order"}'>Да</button>
          <button class="general-question__button  general-question__button--no  button" type="button">Нет</button>
        </form>
      </div>
  
      <div class="pop-up__item  pop-up__item--hide  get-document">
        <div class="get-document__wrap">
          <form class="get-document__form" ga-send='{"hitType": "event", "eventCategory": "form", "eventAction": "send", "eventLabel": "getContract"}'  ya-reach="order_applic">
            <p class="get-document__title  title">Получить экземпляр договора</p>
  
            <div class="get-document__row">
              <label class="get-document__label  label">Введите e-mail</label>
              <input class="get-document__input  input" type="email" autofocus required>
            </div>
  
            <div class="get-document__row">
              <label class="checkbox">
                <input type="checkbox" class="checkbox__input checkbox__input--small" checked required>
                <span class="checkbox__indicator  checkbox__indicator--small  checkbox__indicator--light"></span>
                <span class="checkbox__text">Cогласен с обработкой моих персональных данных в соответствии с ФЗ РФ от 27.06.06 г. N°152-ФЗ «О персональных данных»</span>
              </label>
            </div>
            <div class="get-document__row">
              <div class="get-document__button">
                <button class="button" type="submit">Отправить</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  
      <div class="pop-up__item pop-up__item--hide  service-order">
        <div class="service-order__wrap">
          <form class="service-order__form" data-ga='{"hitType": "event", "eventCategory": "form", "eventAction": "send", "eventLabel": "orderForm_1"}'>
            <p class="service-order__title  title">Оформить заказ</p>
            <div class="service-order__row">
              <label class="service-order__label  label">
                Как к Вам обращаться?
                <input class="service-order__input  input" type="text" name="name">
              </label>
            </div>
            <div class="service-order__row">
              <label class="service-order__label  label">
                Номер телефона<span class="label__required">*</span>
                <input class="service-order__input  input" type="tel"  name="tel" required>
              </label>
            </div>
            <button class="service-order__button button" type="submit">Далее</button>
          </form>
        </div>
  
        <div class="service-order__wrap">
          <p class="service-order__title  title">Выберите дату и время</p>
          <form class="service-order__form" data-ga='{"hitType": "event", "eventCategory": "form", "eventAction": "send", "eventLabel": "orderForm_2"}'>
  
            <div class="service-order__calendar  calendar">
              <p class="calendar__title  title">Март</p>
              <div class="calendar__table">
                <div class="calendar__list  calendar__list--week">
                  <span class="calendar__item  calendar__item--week">Пн</span>
                  <span class="calendar__item  calendar__item--week">Вт</span>
                  <span class="calendar__item  calendar__item--week">Ср</span>
                  <span class="calendar__item  calendar__item--week">Чт</span>
                  <span class="calendar__item  calendar__item--week">Пт</span>
                  <span class="calendar__item  calendar__item--week">Сб</span>
                  <span class="calendar__item  calendar__item--week">Вс</span>
                </div>
              </div>
            </div>
  
            <div class="service-order__row  service-order__row--gorizontal">
              <div class="service-order__info">
                <p class="service-order__info-label">Дата:</p>
                <p class="service-order__text"><span class="service-order__month">Марта</span></p>
              </div>
              <div class="service-order__info">
                <span class="service-order__info-label">Время:</span>
                <div class="service-order__selection  selection  selection--sm">
                  <button class="selection__btn  service-order__selection-btn" type="button">08:00</button>
                  <ul class="service-order__list  selection__list  scroll-container">
                    <li class="service-order__option  selection__option" data-option="9">09:00</li>
                    <li class="service-order__option  selection__option" data-option="10">10:00</li>
                    <li class="service-order__option  selection__option" data-option="11">11:00</li>
                    <li class="service-order__option  selection__option" data-option="12">12:00</li>
                    <li class="service-order__option  selection__option" data-option="13">13:00</li>
                    <li class="service-order__option  selection__option" data-option="14">14:00</li>
                    <li class="service-order__option  selection__option" data-option="15">15:00</li>
                    <li class="service-order__option  selection__option" data-option="16">16:00</li>
                    <li class="service-order__option  selection__option" data-option="17">17:00</li>
                    <li class="service-order__option  selection__option" data-option="18">18:00</li>
                  </ul>
                </div>
              </div>
            </div>
  
            <div class="service-order__row">
              <div class="service-order__button">
                <button class="button" type="submit">Далее</button>
              </div>
            </div>
          </form>
        </div>
  
        <div class="service-order__wrap  service-order__wrap--no-fixed">
          <form class="service-order__form" data-ga='{"hitType": "event", "eventCategory": "form", "eventAction": "send", "eventLabel": "orderForm_3"}'>
            <p class="service-order__heading  text">Сумма Вашего заказа - <br class="service-order__mobile"><span class="service-order__price text  text--bold  text--orange  text--big">1 990 руб.</span></p>
            <div class="service-order__row">
              <label class="service-order__label service-order__label--promo label">Введите промокод:
                <input class="service-order__input  service-order__input--promo  input" type="text" name="name">
              </label>
            </div>
            <p class="service-order__heading  text">С этим часто заказывают</p>
            <div class="service-order__cards">
            </div>
            <div class="get-document__row">
              <div class="get-document__button">
                <button class="button" type="submit">Отправить</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  
      <div class="pop-up__item pop-up__item--hide  constant-client">
        <div class="constant-client__wrap">
          <form class="constant-client__form" data-ga='{"hitType": "event", "eventCategory": "form", "eventAction": "send", "eventLabel": "orderForm_1"}'>
            <p class="constant-client__title  title">Оформить заказ</p>
            <div class="constant-client__row">
              <label class="constant-client__label  label">
                Как к Вам обращаться?
                <input class="constant-client__input  input" type="text" name="name">
              </label>
            </div>
            <div class="constant-client__row">
              <label class="constant-client__label  label">
                Номер телефона<span class="label__required">*</span>
                <input class="constant-client__input  input" type="tel"  name="tel" required>
              </label>
            </div>
            <button class="constant-client__button button" type="submit">Отправить</button>
          </form>
        </div>
      </div>
  
      <div class="pop-up__item  pop-up__item--hide  price-list"></div>
  
      <div class="pop-up__item pop-up__item--hide  service-calc-calendar">
          <form class="service-order__form" data-ga='{"hitType": "event", "eventCategory": "form", "eventAction": "send", "eventLabel": "orderForm_2"}'>
  
            <div class="service-order__calendar  calendar">
              <p class="calendar__title  title">Март</p>
              <div class="calendar__table">
                <div class="calendar__list  calendar__list--week">
                  <span class="calendar__item  calendar__item--week">Пн</span>
                  <span class="calendar__item  calendar__item--week">Вт</span>
                  <span class="calendar__item  calendar__item--week">Ср</span>
                  <span class="calendar__item  calendar__item--week">Чт</span>
                  <span class="calendar__item  calendar__item--week">Пт</span>
                  <span class="calendar__item  calendar__item--week">Сб</span>
                  <span class="calendar__item  calendar__item--week">Вс</span>
                </div>
              </div>
            </div>
          </form>
  
      </div>
  
    </div>
  
  </div>
  <!-- /Pop up -->
  <!-- /Pop up -->


</div>
<!-- /Page wrapper -->

<!-- Java Script -->

<!-- Template Order -->
<script id="left-side__item" type="text/html">
  {{{{raw}}}}
    
      <div class="articles__row">
        {{#if picture}}
        <div class="articles__column">
          <img class="articles__image" src="https://www.domovenok.su/media/{{ picture.pic }}">
        </div>
        {{/if}}
        <div class="articles__column articles__column--load">
          <p class="articles__title title">{{ title }}</p>
          {{{ preview_text }}}
        </div>
      </div>
  {{{{/raw}}}}
</script>
<!-- /Template Active Order -->

<script id="right-side__wrap" type="text/html">
  {{{{raw}}}}
  <button class="right-side__btn  right-side__btn--close  icon-close">
    <svg class="icon-close__image" width="19" height="19" viewBox="0 0 19 19">
      <line class="icon-close__element" x1="1" y1="18" x2="18" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
      <line class="icon-close__element" x1="18" y1="18" x2="1" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
    </svg>
  </button>

  <article  class="article">
    <div class="article__wrap">
  
      {{#if HasRightSide}}
      <h2>{{title}}</h2>
      {{else}}
      <h1>{{title}}</h1>
      {{/if}}
      <time datetime="">{{formatDate pub_date}}</time>
      {{#if picture}}
      <img srcset="https://www.domovenok.su/media/{{ picture.pic }}" alt="" width="300" height="200">
      {{/if}}
      {{{full_text}}}
  
    </div>
  
    <footer class="article__footer">
      <form class="article__inner article-subscribe">
        <h3 class="article-subscribe__title title">Понравилась статья?</h3>
        <p class="article-subscribe__text text">Подписывайтесь на нашу рассылку</p>
        <div class="article-subscribe__row">
          <input class="article-subscribe__input input" type="email" name="email" placeholder="E-mail" required>
          <button class="article-subscribe__button button" type="submit">Подписаться</button>
        </div>
      </form>
  
      <div class="article__inner article-like">
        <h3 class="article-like__title title">Была ли Вам полезна статья?</h3>
        <div class="article-like__row">
          <button class="article-like__button article-like__button--yes button">Да</button>
          <button class="article-like__button article-like__button--no button">Нет</button>
        </div>
      </div>
  
      <div class="article__inner">
        <h3 class="right-side__heading title">Поделиться:</h3>
        <div class="article__social-links  ya-share2" id ="my-share" data-services="facebook,vkontakte,odnoklassniki" data-url="{{inviteUrl}}" data-title="Дарю скидку на первую уборку" data-description="Скидка для моих друзей. Делюсь с вами скидкой 500 рублей на первую уборку от Домовёнка." data-image="{{paPublicUrl}}/media/general/stock/discount_on_cleaning.jpg"></div>
      </div>
    </footer>
  </article>

  {{{{/raw}}}}
</script>
<!-- /Template Active Order -->

<script src="/static/pancake/js/bundle.min.js?v0.60"></script>
<!-- /Java Script -->

{{#if general.production}}

  <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PHD7WW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>

  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PHD7WW');</script>

  {{else}}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    var yaCounter803248 = {
      reachGoal: function (param) {
        console.log("яндекс аналитика", param);
      }
    }
  </script>

{{/if}}

</body>
</html>