<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>{{#if Item}}{{#if Item.title_meta}}{{Item.title_meta}}{{else}}{{Item.name}}: отзыв от {{formatDate Item.date}} об уборке и услугах клининговой компании «Домовенок».{{/if}}{{else}}Отзывы об уборке квартир в Москве от клиентов клининговой компании Домовенок{{/if}}</title>
  <meta name="keywords" content="{{#if Item}}{{#if Item.keywords_meta}}{{Item.keywords_meta}}{{else}}{{ Item.name }}, отзыв от {{formatDate Item.date}}{{/if}}{{else}}уборка, квартира, Москва, отзыв{{/if}}"/>
  <meta name="description" content="{{#if Item}}{{#if Item.description_meta}}{{Item.description_meta}}{{else}}{{ Item.name }}: отзыв от {{formatDate Item.date}} об уборке и услугах клининговой компании «Домовенок», который можно прочитать на данной странице.{{/if}}{{else}}Все отзывы о компании Домовенок от наших клиентов. Оставить отзыв о клининговой компании и качестве ее услуг на этой странице{{/if}}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0, minimal-ui" />
  <meta name="format-detection" content="telephone=no">
  {{#if noindex}} <meta name="robots" content="noindex,nofollow"> {{else}} <meta name="robots" content="index, follow"/> {{/if}}
  {{#if canonical }}<link rel="canonical" href="{{canonicalPath}}"/>{{/if}}
  <link rel="apple-touch-icon" sizes="57x57" href="/static/pancake/img/apple-touch-icon-57x57.png?v=1.0">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/pancake/img/apple-touch-icon-60x60.png?v=1.0">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/pancake/img/apple-touch-icon-72x72.png?v=1.0">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/pancake/img/apple-touch-icon-76x76.png?v=1.0">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/pancake/img/apple-touch-icon-114x114.png?v=1.0">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/pancake/img/apple-touch-icon-120x120.png?v=1.0">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/pancake/img/apple-touch-icon-144x144.png?v=1.0">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/pancake/img/apple-touch-icon-152x152.png?v=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/pancake/img/apple-touch-icon-180x180.png?v=1.0">
  <link rel="icon" type="image/png" href="/static/pancake/img/android-chrome-192x192.png?v=1.0" sizes="192x192">
  <link rel="icon" type="image/png" href="/static/pancake/img/favicon-16x16.png?v=1.01" sizes="16x16">
  <link rel="icon" type="image/png" href="/static/pancake/img/favicon-32x32.png?v=1.01" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/pancake/img/favicon-48x48.png?v=1.0" sizes="48x48">
  <link rel="manifest" href="/static/pancake/manifest.json?v=1.02">
  <link rel="mask-icon" href="/static/pancake/img/safari-pinned-tab.svg?v=1.0" color="#fd8204">
  <link rel="yandex-tableau-widget" href="/yandex/manifest.json" />
  <meta name="apple-mobile-web-app-title" content="Domovenok">
  <meta name="application-name" content="Domovenok">
  <meta name="msapplication-TileColor" content="#fd8204">
  <meta name="msapplication-TileImage" content="/static/pancake/img/mstile-144x144.png?v=1.0">
  <meta name="msapplication-config" content="/static/pancake/browserconfig.xml?v=1.02">
  <meta name="theme-color" content="#fd8204">

  <link rel="stylesheet" href="/static/pancake/css/style.min.css?v0.26">

  <script src="//yastatic.net/share2/share.js" async></script>
  <base href="" >
  <script>
    var itemList = {
      begin: {{Begin}},
      end: {{End}}
    }
  </script>

  <script>
    var analyticConf = {
      id: "{{general.analytics.GAUA}}",
      userId: "{{general.analytics.userUuid}}",
      phone: "{{general.analytics.phone}}",
      phoneDimension: "{{general.analytics.phoneDimension}}",
      ABTestId: {{#if general.analytics.ABTestID}}"{{general.analytics.ABTestID}}"{{else}}null{{/if}},
      ABTestValue: {{#if general.analytics.ABTestVariant}}"{{general.analytics.ABTestVariant}}"{{else}}null{{/if}}
    };
  
    {{#if general.analytics.ABTestID}}
      var yaParams = {
        "{{general.analytics.ABTestID}}": "{{general.analytics.ABTestVariant}}"
      };
    {{/if}}
  </script>

</head>
<body class="page page--reviews">
<!-- Page wrapper -->
<div class="page__wrap">

  <!-- Page Header -->
  <!-- page-header.html -->
  <header class="page-header  page-header--contact">
    <div class="page-header__top">
      <button class="main-menu__btn  main-menu__btn--open">
        <svg class="main-menu__image" width="31" height="23.9" viewBox="0 0 31 23.9">
          <rect width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
          <rect y="22.26" width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
          <rect y="11.13" width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
        </svg>
      </button>
      <a class="page-header__logo" href="{{buildUrl general.city '/'}}"><img height="38" width="152" src="/static/pancake/img/logo.svg" alt="Логотип"/></a>
  
      <a class="page-header__tel" href="tel:{{ general.phoneHref }}"><span>{{ general.phoneCode }}</span> {{ general.phoneNumber }}</a>
    </div>
    <div class="page-header__wrap">
      <a class="main-menu__icon-close  icon-close" href="#">
        <svg class="icon-close__image" width="19" height="19" viewBox="0 0 19 19">
          <line class="icon-close__element" x1="1" y1="18" x2="18" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
          <line class="icon-close__element" x1="18" y1="18" x2="1" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
        </svg>
      </a>
      <!--Main Menu-->
      <nav class="page-header__main-menu  main-menu  scroll-container">
        <ul class="main-menu__list">
          <li class="main-menu__item">
            <a class="main-menu__link"  href="{{buildUrl general.city '/private/auth'}}">
              Личный кабинет
            </a>
          </li>
          <li class="main-menu__item {{#if menu.podderzhka}}main-menu__item--active{{/if}}">
            <a class="main-menu__link"  href="{{buildUrl general.city '/podderzhka'}}">
              Поддерживающая уборка
            </a>
          </li>
          <li class="main-menu__item {{#if menu.generalnaya_uborka}}main-menu__item--active{{/if}}">
            <a class="main-menu__link"  href="{{buildUrl general.city '/generalnaya_uborka'}}">
              Генеральная уборка
            </a>
          </li>
          <li class="main-menu__item {{#if menu.mite_okon}}main-menu__item--active{{/if}}">
            <a class="main-menu__link"  href="{{buildUrl general.city '/mite_okon'}}">
              Мытьё окон
            </a>
          </li>
          <li class="main-menu__item  main-menu__item--sub {{#if menu.physical}}main-menu__item--active{{/if}}">
            <a class="main-menu__link">
              Физическим лицам
            </a>
            <!--Sub Menu-->
            <ul class="main-menu__list  main-menu__list--sub">
              <li class="main-menu__item-sub {{#if menu.domrabotnica}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/domrabotnica'}}">
                  Домработница
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.glazhka}}main-menu__item-sub--active{{/if}}" >
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/glazhka'}}">
                  Глажка
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.posle_remonta}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/posle_remonta'}}">
                  Уборка после ремонта
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.uborka_kottedzhej}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/uborka-kottedzhej'}}">
                  Уборка коттеджей
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.himchistka_odezhdy}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/himchistka_odezhdy'}}">
                  Химчистка
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.himchistka}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/himchistka'}}">
                  Химчистка мебели
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.vizov_mastera_na_dom}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/vizov_mastera_na_dom'}}">
                  Домашний мастер
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.obrabotka_poverhnostey}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/obrabotka_poverhnostey'}}">
                  Обработка поверхностей
                </a>
              </li>
            </ul>
            <!--/Sub Menu-->
          </li>
          <li class="main-menu__item  main-menu__item--sub {{#if menu.legal}}main-menu__item--active{{/if}}">
            <a class="main-menu__link">
              Юридическим лицам
            </a>
            <!--Sub Menu-->
            <ul class="main-menu__list  main-menu__list--sub">
              <li class="main-menu__item-sub {{#if menu.uborka_ofisov}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/uborka_ofisov'}}">
                  Уборка офисов
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.uborka_proizvodstvennyh_pomewenij}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/uborka-proizvodstvennyh-pomewenij'}}">
                  Уборка производственных помещений
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.ofisnyy_master}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/ofisnyy-master'}}">
                  Офисный мастер
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.mite_stekol}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/mite_stekol'}}">
                  Мытьё стекол
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.myte_fasadov}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/myte-fasadov'}}">
                  Мытьё фасадов
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.promyshlennyj_alpinizm}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/promyshlennyj-alpinizm'}}">
                  Промышленный альпинизм
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.obrabotka_poverhnostey}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/obrabotka_poverhnostey'}}">
                  Обработка поверхностей
                </a>
              </li>
            </ul>
            <!--/Sub Menu-->
          </li>
          <li class="main-menu__item main-menu__item--sub {{#if menu.main}}main-menu__item--active{{/if}}">
            <a class="main-menu__link">
              О нас
            </a>
            <!--Sub Menu-->
            <ul class="main-menu__list  main-menu__list--sub">
              <li class="main-menu__item-sub {{#if menu.index}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/'}}">
                  Главная
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.about}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/about/'}}">
                  О компании
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.uslugi}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/uslugi/'}}">
                  Услуги
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.price}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/price/'}}">
                  Цены
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.vazhno_znat}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/vazhno_znat/'}}">
                  Важно знать
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.faq}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/faq/'}}">
                  Вопросы и ответы
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.reviews}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/otzivi/'}}">
                  Отзывы
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.news}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/news/'}}">
                  Новости
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.articles}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/articles/'}}">
                  Статьи
                </a>
              </li>
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/gallery/'}}">
                  Галерея
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.skidki_akcii}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/skidki_akcii/'}}">
                  Специальные акции
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.vakansii}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/vakansii/'}}">
                  Вакансии
                </a>
              </li>
              <li class="main-menu__item-sub {{#if menu.davay_druzhit}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/davay_druzhit/'}}">
                  Обслуживание по графику
                </a>
              </li>
            </ul>
            <!--/Sub Menu-->
          </li>
          <li class="main-menu__item {{#if menu.contacts}}main-menu__item--active{{/if}}">
            <a class="main-menu__link"  href="{{buildUrl general.city '/contacts/'}}">
              Контакты
            </a>
          </li>
        </ul>
      </nav>
      <!--/Main Menu-->
      <!--
      <div class="page-header__contact  contact">
        <a class="contact__callback" href>Свяжитесь со мной</a>
      </div>
      -->
      <div class="change-town">
        <p class="change-town__btn">{{general.city.title}}</p>
        <ul class="change-town__list list">
          <li class="change-town__item {{#ifCond general.city.keyword '==' 'moscow' }}change-town__item--active{{/ifCond}} item">
            <a class="change-town__link link" href="{{buildUrl 'moscow' general.path}}">Москва</a>
          </li>
          <li class="change-town__item {{#ifCond general.city.keyword '==' 'spb' }}change-town__item--active{{/ifCond}} item">
            <a class="change-town__link link" href="{{buildUrl 'spb' general.path}}">Санкт-Петербург</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <!-- /Page Header -->

  <!-- Main Content -->

  <main class="page__main-content  main-content">

    <div class="left-side {{#HasRightSide}}left-side--mobile{{/HasRightSide}}">

      <div class="left-side__top  left-side__top--static">
        <h1 class="left-side__title  title">Отзывы</h1>
        <p class="left-side__description text">На этой странице Вы можете оставить свой отзыв об уборке квартиры или других предоставляемых компанией услугах.</p>
        <button class="left-side__button button">Оставить отзыв</button>
      </div>

      <!-- Orders -->
      <div class="left-side__content">
        <div class="left-side__wrap scroll-container-unstable">

          <div class="left-side__list reviews">
            {{#each ItemList}}
            <a  class="left-side__item reviews__item" href="/otzivi/{{id}}/" data-id="{{id}}">

              <div class="reviews__row">
                <div class="reviews__column">
                  <h3 class="reviews__title title">{{name}}</h3>
                  <time class="review__time" datetime="">{{formatDate date}}</time>
                </div>
                <div class="reviews__stars stars">
                  <div class="stars__item stars__item--sm {{#ifCond rating '===' 5}}stars__item--active{{/ifCond}}" title="gorgeous">gorgeous</div>
                  <div class="stars__item stars__item--sm {{#ifCond rating '===' 4}}stars__item--active{{/ifCond}}" title="good">good</div>
                  <div class="stars__item stars__item--sm {{#ifCond rating '===' 3}}stars__item--active{{/ifCond}}" title="regular">regular</div>
                  <div class="stars__item stars__item--sm {{#ifCond rating '===' 2}}stars__item--active{{/ifCond}}" title="poor">poor</div>
                  <div class="stars__item stars__item--sm {{#ifCond rating '===' 1}}stars__item--active{{/ifCond}}" title="bad">bad</div>
                </div>
              </div>
              <p class="reviews__text text">{{review}}</p>

            </a>
            {{/each}}
          </div>

        </div>
      </div>
      <!-- /Orders Items -->

      <a class="btn-top  btn-top--hide" href="#">
        <div>
          <svg width="22.21" height="23.47" viewBox="0 0 22.21 23.47">
            <path d="M1894.82,519.56l-3.26-3.54-4.76-5.18a3.42,3.42,0,0,0-4.84,0L1877.2,516l-3.26,3.54c-1.59,1.73-.15,4.27,2.42,4.27h4.31v5.76a3.71,3.71,0,0,0,7.42,0v-5.76h4.31C1895,523.83,1896.42,521.29,1894.82,519.56Z" transform="translate(-1873.28 -509.83)" style="fill: #fff"/>
          </svg>
        </div>
      </a>

    </div>
    <div class="right-side  right-side--hide {{#HasRightSide}}right-side--mobile{{/HasRightSide}} scroll-container-unstable">

      {{#if RightForm}}
      <div class="right-side__wrap right-side__form" data-id="form">
        <button class="right-side__btn right-side__btn--close  icon-close" type="button">
          <svg class="icon-close__image" width="22.47" height="22.47" viewBox="0 0 22.47 22.47">
            <rect class="icon-close__element" x="182.81" y="107.75" width="31" height="1.64" rx="0.82" ry="0.82" transform="translate(-205.73 74.73) rotate(-45)" fill="#fd8204"/>
            <rect class="icon-close__element" x="182.74" y="107.68" width="31" height="1.64" rx="0.82" ry="0.82" transform="translate(-52.26 -205.7) rotate(45)" fill="#fd8204"/>
          </svg>
        </button>

        <h2 class="right-side__title title">Оставить отзыв</h2>


        <form class="review-form">
          <div class="review-form__row">
            <label class="review-form__label label">ФИО:<span class="label__required">*</span></label>
            <input type="text" class="review-form__input input" name="title" required>
          </div>
        
          <div class="review-form__row">
            <label class="review-form__label label">E-mail:<span class="label__required">*</span></label>
            <input type="email" class="review-form__input input" name="email" required>
          </div>
        
          <div class="review-form__row">
            <p class="review-form__label label">Оценка:<span class="label__required">*</span></p>
        
            <div class="review-form__stars stars">
              <input class="stars__input  stars__input--quality" id="star-34" type="radio" name="Quality" value="5">
              <label class="stars__label  stars__label--md  stars__label--quality" title="gorgeous" for="star-34"></label>
        
              <input class="stars__input  stars__input--quality" id="star-33" type="radio" name="Quality" value="4">
              <label class="stars__label  stars__label--md stars__label--quality" title="good" for="star-33"></label>
        
              <input class="stars__input  stars__input--quality" id="star-32" type="radio" name="Quality" value="3">
              <label class="stars__label  stars__label--md  stars__label--quality" title="regular" for="star-32"></label>
        
              <input class="stars__input  stars__input--quality" id="star-31" type="radio" name="Quality" value="2">
              <label class="stars__label  stars__label--md  stars__label--quality" title="poor" for="star-31"></label>
        
              <input class="stars__input  stars__input--quality" id="star-30" type="radio" name="Quality" value="1">
              <label class="stars__label  stars__label--md  stars__label--quality" title="bad" for="star-30"></label>
            </div>
          </div>
        
          <div class="review-form__row">
            <label class="review-form__label label">Отзыв:<span class="label__required">*</span></label>
            <textarea class="review-form__textarea  textarea" required></textarea>
          </div>
        
          <div class="review-form__row">
            <button type="submit" class="review-form__button button">Отправить отзыв</button>
          </div>
        </form>
      </div>
      {{ else }}

      {{#with Item}}
      <div class="right-side__wrap" data-id="{{id}}">

        <button class="right-side__btn  right-side__btn--close  icon-close" type="button">
          <svg class="icon-close__image" width="22.47" height="22.47" viewBox="0 0 22.47 22.47">
            <rect class="icon-close__element" x="182.81" y="107.75" width="31" height="1.64" rx="0.82" ry="0.82" transform="translate(-205.73 74.73) rotate(-45)" fill="#fd8204"/>
            <rect class="icon-close__element" x="182.74" y="107.68" width="31" height="1.64" rx="0.82" ry="0.82" transform="translate(-52.26 -205.7) rotate(45)" fill="#fd8204"/>
          </svg>
        </button>

        <article  class="review">
          <h3 class="review__title title">{{name}}</h3>
          <time class="review__time" datetime="">{{formatDate date}}</time>
          <div class="review__stars stars">
            <div class="stars__item stars__item--lg {{#ifCond rating '===' 5}}stars__item--active{{/ifCond}}" title="gorgeous">gorgeous</div>
            <div class="stars__item stars__item--lg {{#ifCond rating '===' 4}}stars__item--active{{/ifCond}}" title="good">good</div>
            <div class="stars__item stars__item--lg {{#ifCond rating '===' 3}}stars__item--active{{/ifCond}}" title="regular">regular</div>
            <div class="stars__item stars__item--lg {{#ifCond rating '===' 2}}stars__item--active{{/ifCond}}" title="poor">poor</div>
            <div class="stars__item stars__item--lg {{#ifCond rating '===' 1}}stars__item--active{{/ifCond}}" title="bad">bad</div>
          </div>
        
          <p class="review__text text">{{review}}</p>
        
        
          <article class="review__answer">
            <h3 class="review__title review__title--answer title">Домовенок</h3>
            <p class="review__text review__text--light-brown  text">{{answer}}</p>
            <p class="review__sign text">С уважением, Ваш Домовенок</p>
          </article>
        </article>

        {{#if block_link}}
        <div class="linking-pages">
          {{{block_link}}}
        </div>
        {{/if}}

      </div>
      {{/with}}

      {{/if}}



    </div>

    
    <div class="contact-btn" data-ga='{"hitType": "click", "eventCategory": "button", "eventAction": "send", "eventLabel": "orderButton"}'>
      <button class="contact-btn__btn contact-btn__btn--main" type="button" data-name="service-order">
        <svg xmlns="http://www.w3.org/2000/svg" width="31.21" height="33.52" viewBox="0 0 31.21 33.52"><g><g><path d="M31.21,10.29a10.58,10.58,0,0,0-2.44-7A10.09,10.09,0,0,0,28,2.43,17.36,17.36,0,0,0,25.77.58a2.13,2.13,0,0,0-3.12.19,18.1,18.1,0,0,0-3.05,4.4,7.7,7.7,0,0,0-.72,2A2.86,2.86,0,0,0,19.76,10a17.55,17.55,0,0,0,2,1.68,2.84,2.84,0,0,1,1.06,3.7,13,13,0,0,1-2.2,3.69,26.21,26.21,0,0,1-4,4.23,6.84,6.84,0,0,1-2.71,1.49,2.5,2.5,0,0,1-2.43-.7c-.67-.64-1.34-1.29-2.05-1.89a3.14,3.14,0,0,0-3.75-.35,11.21,11.21,0,0,0-1.9,1.26c-.94.77-1.83,1.61-2.71,2.45a4.42,4.42,0,0,0-.74,1,2.21,2.21,0,0,0,.31,2.65A14.77,14.77,0,0,0,4,32.09a10.31,10.31,0,0,0,5.35,1.44,14.27,14.27,0,0,0,7.42-2.3,32.81,32.81,0,0,0,7.83-7,33.59,33.59,0,0,0,4.76-7A16.11,16.11,0,0,0,31.21,10.29Z" fill="#fff"/></g></g></svg>
      </button>
    </div>
  </main>

  <!-- Pop up -->
  <!-- Pop up -->
  <div class="pop-up  pop-up--hide">
  
    <div class="pop-up__wrap  scroll-container-unstable">
  
      <button class="pop-up__btn-close  icon-close" type="button">
        <svg class="icon-close__image" width="19" height="19" viewBox="0 0 19 19">
          <line class="icon-close__element" x1="1" y1="18" x2="18" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
          <line class="icon-close__element" x1="18" y1="18" x2="1" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
        </svg>
      </button>
  
      <div class="pop-up__item  pop-up__item--sm  pop-up__item--hide  notification">
        <p class="notification__text  title">Текст</p>
      </div>
  
      <div class="pop-up__item  pop-up__item--sm  pop-up__item--hide  general-question">
        <form class="general-question__form">
          <p class="general-question__title  title">Вы уверены?</p>
          <button class="general-question__button  general-question__button--ok  button" data-ga='{"hitType": "event","eventCategory": "form","eventAction": "send","eventLabel": "canceled_order"}'>Да</button>
          <button class="general-question__button  general-question__button--no  button" type="button">Нет</button>
        </form>
      </div>
  
      <div class="pop-up__item  pop-up__item--hide  get-document">
        <div class="get-document__wrap">
          <form class="get-document__form" ga-send='{"hitType": "event", "eventCategory": "form", "eventAction": "send", "eventLabel": "getContract"}'  ya-reach="order_applic">
            <p class="get-document__title  title">Получить экземпляр договора</p>
  
            <div class="get-document__row">
              <label class="get-document__label  label">Введите e-mail</label>
              <input class="get-document__input  input" type="email" autofocus required>
            </div>
  
            <div class="get-document__row">
              <label class="checkbox">
                <input type="checkbox" class="checkbox__input checkbox__input--small" checked required>
                <span class="checkbox__indicator  checkbox__indicator--small  checkbox__indicator--light"></span>
                <span class="checkbox__text">Cогласен с обработкой моих персональных данных в соответствии с ФЗ РФ от 27.06.06 г. N°152-ФЗ «О персональных данных»</span>
              </label>
            </div>
            <div class="get-document__row">
              <div class="get-document__button">
                <button class="button" type="submit">Отправить</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  
      <div class="pop-up__item pop-up__item--hide  service-order">
        <div class="service-order__wrap">
          <form class="service-order__form" data-ga='{"hitType": "event", "eventCategory": "form", "eventAction": "send", "eventLabel": "orderForm_1"}'>
            <p class="service-order__title  title">Оформить заказ</p>
            <div class="service-order__row">
              <label class="service-order__label  label">
                Как к Вам обращаться?
                <input class="service-order__input  input" type="text" name="name">
              </label>
            </div>
            <div class="service-order__row">
              <label class="service-order__label  label">
                Номер телефона<span class="label__required">*</span>
                <input class="service-order__input  input" type="tel"  name="tel" required>
              </label>
            </div>
            <button class="service-order__button button" type="submit">Далее</button>
          </form>
        </div>
  
        <div class="service-order__wrap">
          <p class="service-order__title  title">Выберите дату и время</p>
          <form class="service-order__form" data-ga='{"hitType": "event", "eventCategory": "form", "eventAction": "send", "eventLabel": "orderForm_2"}'>
  
            <div class="service-order__calendar  calendar">
              <p class="calendar__title  title">Март</p>
              <div class="calendar__table">
                <div class="calendar__list  calendar__list--week">
                  <span class="calendar__item  calendar__item--week">Пн</span>
                  <span class="calendar__item  calendar__item--week">Вт</span>
                  <span class="calendar__item  calendar__item--week">Ср</span>
                  <span class="calendar__item  calendar__item--week">Чт</span>
                  <span class="calendar__item  calendar__item--week">Пт</span>
                  <span class="calendar__item  calendar__item--week">Сб</span>
                  <span class="calendar__item  calendar__item--week">Вс</span>
                </div>
              </div>
            </div>
  
            <div class="service-order__row  service-order__row--gorizontal">
              <div class="service-order__info">
                <p class="service-order__info-label">Дата:</p>
                <p class="service-order__text"><span class="service-order__month">Марта</span></p>
              </div>
              <div class="service-order__info">
                <span class="service-order__info-label">Время:</span>
                <div class="service-order__selection  selection  selection--sm">
                  <button class="selection__btn  service-order__selection-btn" type="button">08:00</button>
                  <ul class="service-order__list  selection__list  scroll-container">
                    <li class="service-order__option  selection__option" data-option="9">09:00</li>
                    <li class="service-order__option  selection__option" data-option="10">10:00</li>
                    <li class="service-order__option  selection__option" data-option="11">11:00</li>
                    <li class="service-order__option  selection__option" data-option="12">12:00</li>
                    <li class="service-order__option  selection__option" data-option="13">13:00</li>
                    <li class="service-order__option  selection__option" data-option="14">14:00</li>
                    <li class="service-order__option  selection__option" data-option="15">15:00</li>
                    <li class="service-order__option  selection__option" data-option="16">16:00</li>
                    <li class="service-order__option  selection__option" data-option="17">17:00</li>
                    <li class="service-order__option  selection__option" data-option="18">18:00</li>
                  </ul>
                </div>
              </div>
            </div>
  
            <div class="service-order__row">
              <div class="service-order__button">
                <button class="button" type="submit">Далее</button>
              </div>
            </div>
          </form>
        </div>
  
        <div class="service-order__wrap  service-order__wrap--no-fixed">
          <form class="service-order__form" data-ga='{"hitType": "event", "eventCategory": "form", "eventAction": "send", "eventLabel": "orderForm_3"}'>
            <p class="service-order__heading  text">Сумма Вашего заказа - <br class="service-order__mobile"><span class="service-order__price text  text--bold  text--orange  text--big">1 990 руб.</span></p>
            <div class="service-order__row">
              <label class="service-order__label service-order__label--promo label">Введите промокод:
                <input class="service-order__input  service-order__input--promo  input" type="text" name="name">
              </label>
            </div>
            <p class="service-order__heading  text">С этим часто заказывают</p>
            <div class="service-order__cards">
            </div>
            <div class="get-document__row">
              <div class="get-document__button">
                <button class="button" type="submit">Отправить</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  
      <div class="pop-up__item  pop-up__item--hide  price-list"></div>
  
      <div class="pop-up__item pop-up__item--hide  service-calc-calendar">
          <form class="service-order__form" data-ga='{"hitType": "event", "eventCategory": "form", "eventAction": "send", "eventLabel": "orderForm_2"}'>
  
            <div class="service-order__calendar  calendar">
              <p class="calendar__title  title">Март</p>
              <div class="calendar__table">
                <div class="calendar__list  calendar__list--week">
                  <span class="calendar__item  calendar__item--week">Пн</span>
                  <span class="calendar__item  calendar__item--week">Вт</span>
                  <span class="calendar__item  calendar__item--week">Ср</span>
                  <span class="calendar__item  calendar__item--week">Чт</span>
                  <span class="calendar__item  calendar__item--week">Пт</span>
                  <span class="calendar__item  calendar__item--week">Сб</span>
                  <span class="calendar__item  calendar__item--week">Вс</span>
                </div>
              </div>
            </div>
          </form>
  
      </div>
  
    </div>
  
  </div>
  <!-- /Pop up -->
  <!-- /Pop up -->


</div>
<!-- /Page wrapper -->

<!-- Java Script -->
<!-- Template Order -->
<script id="left-side__item" type="text/html">
  {{{{raw}}}}
    <div class="reviews__row">
      <div class="reviews__column">
        <h3 class="reviews__title title">{{name}}</h3>
        <time class="review__time" datetime="">{{formatDate date}}</time>
      </div>
      <div class="reviews__stars stars">
        <div class="stars__item stars__item--sm {{#ifCond rating '===' 5}}stars__item--active{{/ifCond}}" title="gorgeous">gorgeous</div>
        <div class="stars__item stars__item--sm {{#ifCond rating '===' 4}}stars__item--active{{/ifCond}}" title="good">good</div>
        <div class="stars__item stars__item--sm {{#ifCond rating '===' 3}}stars__item--active{{/ifCond}}" title="regular">regular</div>
        <div class="stars__item stars__item--sm {{#ifCond rating '===' 2}}stars__item--active{{/ifCond}}" title="poor">poor</div>
        <div class="stars__item stars__item--sm {{#ifCond rating '===' 1}}stars__item--active{{/ifCond}}" title="bad">bad</div>
      </div>
    </div>
    <p class="reviews__text text">{{review}}</p>
  {{{{/raw}}}}
</script>
<!-- /Template Active Order -->

<script id="right-side__wrap" type="text/html">
  {{{{raw}}}}

  <button class="right-side__btn  right-side__btn--close  icon-close" type="button">
    <svg class="icon-close__image" width="22.47" height="22.47" viewBox="0 0 22.47 22.47">
      <rect class="icon-close__element" x="182.81" y="107.75" width="31" height="1.64" rx="0.82" ry="0.82" transform="translate(-205.73 74.73) rotate(-45)" fill="#fd8204"/>
      <rect class="icon-close__element" x="182.74" y="107.68" width="31" height="1.64" rx="0.82" ry="0.82" transform="translate(-52.26 -205.7) rotate(45)" fill="#fd8204"/>
    </svg>
  </button>

  <article  class="review">
    <h3 class="review__title title">{{name}}</h3>
    <time class="review__time" datetime="">{{formatDate date}}</time>
    <div class="review__stars stars">
      <div class="stars__item stars__item--lg {{#ifCond rating '===' 5}}stars__item--active{{/ifCond}}" title="gorgeous">gorgeous</div>
      <div class="stars__item stars__item--lg {{#ifCond rating '===' 4}}stars__item--active{{/ifCond}}" title="good">good</div>
      <div class="stars__item stars__item--lg {{#ifCond rating '===' 3}}stars__item--active{{/ifCond}}" title="regular">regular</div>
      <div class="stars__item stars__item--lg {{#ifCond rating '===' 2}}stars__item--active{{/ifCond}}" title="poor">poor</div>
      <div class="stars__item stars__item--lg {{#ifCond rating '===' 1}}stars__item--active{{/ifCond}}" title="bad">bad</div>
    </div>
  
    <p class="review__text text">{{review}}</p>
  
  
    <article class="review__answer">
      <h3 class="review__title review__title--answer title">Домовенок</h3>
      <p class="review__text review__text--light-brown  text">{{answer}}</p>
      <p class="review__sign text">С уважением, Ваш Домовенок</p>
    </article>
  </article>

  {{#if block_link}}
  <div class="linking-pages">
    {{{block_link}}}
  </div>
  {{/if}}

  {{{{/raw}}}}
</script>
<!-- /Template Active Order -->

<script id="right-side__form" type="text/html">
  <button class="right-side__btn right-side__btn--close  icon-close" type="button">
    <svg class="icon-close__image" width="22.47" height="22.47" viewBox="0 0 22.47 22.47">
      <rect class="icon-close__element" x="182.81" y="107.75" width="31" height="1.64" rx="0.82" ry="0.82" transform="translate(-205.73 74.73) rotate(-45)" fill="#fd8204"/>
      <rect class="icon-close__element" x="182.74" y="107.68" width="31" height="1.64" rx="0.82" ry="0.82" transform="translate(-52.26 -205.7) rotate(45)" fill="#fd8204"/>
    </svg>
  </button>

  <h2 class="right-side__title title">Оставить отзыв</h2>

  <form class="review-form">
    <div class="review-form__row">
      <label class="review-form__label label">ФИО:<span class="label__required">*</span></label>
      <input type="text" class="review-form__input input" name="title" required>
    </div>
  
    <div class="review-form__row">
      <label class="review-form__label label">E-mail:<span class="label__required">*</span></label>
      <input type="email" class="review-form__input input" name="email" required>
    </div>
  
    <div class="review-form__row">
      <p class="review-form__label label">Оценка:<span class="label__required">*</span></p>
  
      <div class="review-form__stars stars">
        <input class="stars__input  stars__input--quality" id="star-34" type="radio" name="Quality" value="5">
        <label class="stars__label  stars__label--md  stars__label--quality" title="gorgeous" for="star-34"></label>
  
        <input class="stars__input  stars__input--quality" id="star-33" type="radio" name="Quality" value="4">
        <label class="stars__label  stars__label--md stars__label--quality" title="good" for="star-33"></label>
  
        <input class="stars__input  stars__input--quality" id="star-32" type="radio" name="Quality" value="3">
        <label class="stars__label  stars__label--md  stars__label--quality" title="regular" for="star-32"></label>
  
        <input class="stars__input  stars__input--quality" id="star-31" type="radio" name="Quality" value="2">
        <label class="stars__label  stars__label--md  stars__label--quality" title="poor" for="star-31"></label>
  
        <input class="stars__input  stars__input--quality" id="star-30" type="radio" name="Quality" value="1">
        <label class="stars__label  stars__label--md  stars__label--quality" title="bad" for="star-30"></label>
      </div>
    </div>
  
    <div class="review-form__row">
      <label class="review-form__label label">Отзыв:<span class="label__required">*</span></label>
      <textarea class="review-form__textarea  textarea" required></textarea>
    </div>
  
    <div class="review-form__row">
      <button type="submit" class="review-form__button button">Отправить отзыв</button>
    </div>
  </form>
</script>

<script src="/static/pancake/js/bundle.min.js?v0.29"></script>
<!-- /Java Script -->
{{#if general.production}}

  <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PHD7WW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>

  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PHD7WW');</script>

  {{else}}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    var yaCounter803248 = {
      reachGoal: function (param) {
        console.log("яндекс аналитика", param);
      }
    }
  </script>

{{/if}}
</body>

</html>