<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Скидки и акции от Домовенка</title>
  {{#if noindex}} <meta name="robots" content="noindex,nofollow"> {{else}} <meta name="robots" content="index, follow"/> {{/if}}
  {{#if canonical }}<link rel="canonical" href="{{canonicalPath}}"/>{{/if}}
  <meta name="keywords" content="уборка квартир скидки, уборка квартир акции"/>
  <meta name="description" content="Различные скидки и акции от клининговой компании Домовенок. Скидки для постоянных клиентов, различные сертификаты и другие подарки от нашей компании"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0, minimal-ui" />
  <meta name="format-detection" content="telephone=no">
  <meta property="og:title" content="Клининговая компания Домовёнок."/>
  <meta property="og:site" content="//www.domovenok.su/"/>
  <meta property="og:description" content="Клининговая компания Домовёнок - верный помощник в решении бытовых вопросов и уборки дома."/>
  <meta property="og:image" content="//www.domovenok.su/static/img/domovenok-banner.png"/>
  <meta property="og:url" content="//www.domovenok.su/?utm_source=vk&utm_campaign=site_share"/>

  <link rel="apple-touch-icon" sizes="57x57" href="/static/pancake/img/apple-touch-icon-57x57.png?v=1.0">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/pancake/img/apple-touch-icon-60x60.png?v=1.0">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/pancake/img/apple-touch-icon-72x72.png?v=1.0">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/pancake/img/apple-touch-icon-76x76.png?v=1.0">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/pancake/img/apple-touch-icon-114x114.png?v=1.0">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/pancake/img/apple-touch-icon-120x120.png?v=1.0">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/pancake/img/apple-touch-icon-144x144.png?v=1.0">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/pancake/img/apple-touch-icon-152x152.png?v=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/pancake/img/apple-touch-icon-180x180.png?v=1.0">
  <link rel="icon" type="image/png" href="/static/pancake/img/android-chrome-192x192.png?v=1.0" sizes="192x192">
  <link rel="icon" type="image/png" href="/static/pancake/img/favicon-16x16.png?v=1.01" sizes="16x16">
  <link rel="icon" type="image/png" href="/static/pancake/img/favicon-32x32.png?v=1.01" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/pancake/img/favicon-48x48.png?v=1.0" sizes="48x48">
  <link rel="manifest" href="/static/pancake/manifest.json?v=1.02">
  <link rel="mask-icon" href="/static/pancake/img/safari-pinned-tab.svg?v=1.0" color="#fd8204">
  <link rel="yandex-tableau-widget" href="/yandex/manifest.json" />
  <meta name="apple-mobile-web-app-title" content="Domovenok">
  <meta name="application-name" content="Domovenok">
  <meta name="msapplication-TileColor" content="#fd8204">
  <meta name="msapplication-TileImage" content="/static/pancake/img/mstile-144x144.png?v=1.0">
  <meta name="msapplication-config" content="/static/pancake/browserconfig.xml?v=1.02">
  <meta name="theme-color" content="#fd8204">

  <link rel="stylesheet" href="/static/pancake/css/style.min.css?v0.11">
  <script src="/static/pancake/js/vendor/vendor.min.js?v00"></script>
  <script src="//yastatic.net/share2/share.js" async></script>
  <base href="" >
  <script>
    var itemList = {
      begin: {{Begin}},
    end: {{End}}
    };

    var analyticConf = {
      id: "{{general.analytics.GAUA}}",
      userId: "{{general.analytics.userUuid}}",
      phone: "{{general.analytics.phone}}",
      phoneDimension: "{{general.analytics.phoneDimension}}"
    };
  </script>
</head>
<body class="page  page--promotion">
<!-- Page wrapper -->
<div class="page__wrap">

  <!-- Page Header -->
  <!-- page-header.html -->
  <header class="page-header  page-header--scroll  page-header--contact">
  
    <div class="page-header__top">
      <button class="main-menu__btn  main-menu__btn--open">
        <svg class="main-menu__image" width="31" height="23.9" viewBox="0 0 31 23.9">
          <rect width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
          <rect y="22.26" width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
          <rect y="11.13" width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
        </svg>
      </button>
      <a class="page-header__logo" href="{{buildUrl general.city '/'}}"><img height="38" width="152" src="/static/pancake/img/logo.svg" alt="Логотип"/></a>
  
      <a class="page-header__tel" href="tel:{{ general.phoneHref }}"><span class="page-header__tel-brown">{{ general.phoneCode }}</span> {{ general.phoneNumber }}</a>
    </div>
  
    <div class="page-header__wrap">
      <a class="main-menu__icon-close  icon-close" href="#">
        <svg class="icon-close__image" width="19" height="19" viewBox="0 0 19 19">
          <line class="icon-close__element" x1="1" y1="18" x2="18" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
          <line class="icon-close__element" x1="18" y1="18" x2="1" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
        </svg>
      </a>
  
      <!--Main Menu-->
      <nav class="page-header__main-menu  main-menu  scroll-container">
  
        <ul class="main-menu__list">
  
          <li class="main-menu__item">
            <a class="main-menu__link"  href="{{buildUrl general.city '/private/auth'}}">
              Личный кабинет
            </a>
          </li>
  
          <li class="main-menu__item {{#if menu.podderzhka}}main-menu__item--active{{/if}}">
            <a class="main-menu__link"  href="{{buildUrl general.city '/podderzhka'}}">
              Поддерживающая уборка
            </a>
          </li>
  
          <li class="main-menu__item {{#if menu.generalnaya_uborka}}main-menu__item--active{{/if}}">
            <a class="main-menu__link"  href="{{buildUrl general.city '/generalnaya_uborka'}}">
              Генеральная уборка
            </a>
          </li>
  
          <li class="main-menu__item {{#if menu.mite_okon}}main-menu__item--active{{/if}}">
            <a class="main-menu__link"  href="{{buildUrl general.city '/mite_okon'}}">
              Мытьё окон
            </a>
          </li>
  
          <li class="main-menu__item  main-menu__item--sub {{#if menu.physical}}main-menu__item--active{{/if}}">
            <a class="main-menu__link">
              Физическим лицам
            </a>
  
            <!--Sub Menu-->
            <ul class="main-menu__list  main-menu__list--sub">
  
              <li class="main-menu__item-sub {{#if menu.domrabotnica}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/domrabotnica'}}">
                  Домработница
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.glazhka}}main-menu__item-sub--active{{/if}}" >
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/glazhka'}}">
                  Глажка
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.posle_remonta}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/posle_remonta'}}">
                  Уборка после ремонта
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.uborka_kottedzhej}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/uborka-kottedzhej'}}">
                  Уборка коттеджей
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.himchistka}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/himchistka'}}">
                  Химчистка
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.vizov_mastera_na_dom}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/vizov_mastera_na_dom'}}">
                  Домашний мастер
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.obrabotka_poverhnostey}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/obrabotka_poverhnostey'}}">
                  Обработка поверхностей
                </a>
              </li>
  
            </ul>
            <!--/Sub Menu-->
          </li>
  
          <li class="main-menu__item  main-menu__item--sub {{#if menu.legal}}main-menu__item--active{{/if}}">
            <a class="main-menu__link">
              Юридическим лицам
            </a>
  
            <!--Sub Menu-->
            <ul class="main-menu__list  main-menu__list--sub">
  
              <li class="main-menu__item-sub {{#if menu.uborka_ofisov}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/uborka_ofisov'}}">
                  Уборка офисов
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.uborka_proizvodstvennyh_pomewenij}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/uborka-proizvodstvennyh-pomewenij'}}">
                  Уборка производственных помещений
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.ofisnyy_master}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/ofisnyy-master'}}">
                  Офисный мастер
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.mite_stekol}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/mite_stekol'}}">
                  Мытьё стекол
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.myte_fasadov}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/myte-fasadov'}}">
                  Мытьё фасадов
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.promyshlennyj_alpinizm}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/promyshlennyj-alpinizm'}}">
                  Промышленный альпинизм
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.obrabotka_poverhnostey}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/obrabotka_poverhnostey'}}">
                  Обработка поверхностей
                </a>
              </li>
  
            </ul>
            <!--/Sub Menu-->
  
          </li>
  
          <li class="main-menu__item main-menu__item--sub {{#if menu.main}}main-menu__item--active{{/if}}">
            <a class="main-menu__link">
              О нас
            </a>
  
            <!--Sub Menu-->
            <ul class="main-menu__list  main-menu__list--sub">
  
              <li class="main-menu__item-sub {{#if menu.index}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/'}}">
                  Главная
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.about}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/about/'}}">
                  О компании
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.uslugi}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/uslugi/'}}">
                  Услуги
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.price}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/price/'}}">
                  Цены
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.vazhno_znat}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/vazhno_znat/'}}">
                  Важно знать
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.faq}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/faq/'}}">
                  Вопросы и ответы
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.reviews}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/otzivi/'}}">
                  Отзывы
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.news}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/news/'}}">
                  Новости
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.articles}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/articles/'}}">
                  Статьи
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/gallery/'}}">
                  Галерея
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.skidki_akcii}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/skidki_akcii/'}}">
                  Специальные акции
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.vakansii}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/vakansii/'}}">
                  Вакансии
                </a>
              </li>
  
              <li class="main-menu__item-sub {{#if menu.davay_druzhit}}main-menu__item-sub--active{{/if}}">
                <a class="main-menu__link-sub" href="{{buildUrl general.city '/davay_druzhit/'}}">
                  Обслуживание по графику
                </a>
              </li>
  
            </ul>
            <!--/Sub Menu-->
          </li>
  
          <li class="main-menu__item {{#if menu.contacts}}main-menu__item--active{{/if}}">
            <a class="main-menu__link"  href="{{buildUrl general.city '/contacts/'}}">
              Контакты
            </a>
          </li>
  
        </ul>
  
      </nav>
      <!--/Main Menu-->
  
      <!--
      <div class="page-header__contact  contact">
        <a class="contact__callback" href>Свяжитесь со мной</a>
      </div>
      -->
  
      <div class="change-town">
  
        <p class="change-town__btn">{{general.city.title}}</p>
  
        <ul class="change-town__list list">
          <li class="change-town__item {{#ifCond general.city.keyword '==' 'moscow' }}change-town__item--active{{/ifCond}} item">
            <a class="change-town__link link" href="{{buildUrl 'moscow' general.path}}">Москва</a>
          </li>
          <li class="change-town__item {{#ifCond general.city.keyword '==' 'spb' }}change-town__item--active{{/ifCond}} item">
            <a class="change-town__link link" href="{{buildUrl 'spb' general.path}}">Санкт-Петербург</a>
          </li>
        </ul>
      </div>
  
    </div>
  
  </header>
  <!-- /Page Header -->

  <!-- Main Content -->
  <main class="page__main-content  main-content">
    <div class="left-side {{#HasRightSide}}left-side--mobile{{/HasRightSide}}">

      <div class="left-side__top">
        <h1 class="left-side__title  title">Скидки и акции</h1>
      </div>

      <!-- Promotions -->
      <div class="left-side__content">
        <div class="left-side__wrap scroll-container-unstable">
          <div class="left-side__list promotions">
            {{#each ItemList}}
            <a class="left-side__item promotions__item" href="/skidki_akcii/{{id}}/" data-id="{{id}}">
              <div class="promotions__row">
                <div class="promotions__column promotions__column--image">
                  <img class="promotions__image" height="100" width="100" src="/static/pancake/img/{{preview_pic}}">
                </div>
                <div class="promotions__column">
                  <h3 class="promotions__title title">{{title}}</h3>
                  <p class="promotions__text text--orange">{{promo}}</p>
                  <p class="text">{{preview}}</p>
                </div>
              </div>
            </a>
            {{/each}}
          </div>

        </div>
      </div>
      <!-- /Promotions -->
    </div>
    <div class="right-side  right-side--hide {{#HasRightSide}}right-side--mobile{{/HasRightSide}} scroll-container-unstable">
      {{#with Item}}
      <div class="right-side__wrap" data-id="{{id}}">

        <button class="right-side__btn  right-side__btn--close  icon-close" type="button">
          <svg class="icon-close__image" width="22.47" height="22.47" viewBox="0 0 22.47 22.47">
            <rect class="icon-close__element" x="182.81" y="107.75" width="31" height="1.64" rx="0.82" ry="0.82" transform="translate(-205.73 74.73) rotate(-45)" fill="#fd8204"/>
            <rect class="icon-close__element" x="182.74" y="107.68" width="31" height="1.64" rx="0.82" ry="0.82" transform="translate(-52.26 -205.7) rotate(45)" fill="#fd8204"/>
          </svg>
        </button>

        <article class="promotion">
          <div class="promotion__wrap">
            <h2 class="title">{{title}}</h2>
            <img class="promotion__image" height="250" width="250" src="/static/pancake/img/{{picture}}">
            <p class="promotion__text text--orange">{{promo}}</p>
            {{{text}}}
            <button class="section__button button button--application" type="button" data-name="service-order">Заказать уборку</button>
          </div>
        
        </article>

      </div>
      {{/with}}
    </div>

  </main>
  <!-- /Main Content -->

  <!-- Pop up -->
  <!-- Pop up -->
  <div class="pop-up  pop-up--hide  scroll-container-unstable">
  
    <div class="pop-up__wrap">
  
      <button class="pop-up__btn-close  icon-close" type="button">
        <svg class="icon-close__image" width="19" height="19" viewBox="0 0 19 19">
          <line class="icon-close__element" x1="1" y1="18" x2="18" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
          <line class="icon-close__element" x1="18" y1="18" x2="1" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
        </svg>
      </button>
  
      <div class="pop-up__item pop-up__item--hide  service-order">
        <div class="service-order__wrap">
          <form class="service-order__form" ga-send='{"hitType": "event", "eventCategory": "form", "eventAction": "send", "eventLabel": "order"}' ya-reach="order_applic">
            <h2 class="service-order__title  title">Оставить заявку</h2>
            <div class="service-order__row">
              <label class="service-order__label  label">ФИО<span class="label__required">*</span></label>
              <input class="service-order__input  input" type="text" required>
            </div>
  
            <div class="service-order__row">
              <label class="service-order__label  label">Номер телефона<span class="label__required">*</span></label>
              <input class="service-order__input  input" type="tel" required>
            </div>
  
            <div class="service-order__row">
              <p class="service-order__label  label">Дополнительная информация</p>
              <textarea  class="service-order__textarea  textarea"></textarea>
            </div>
            <div class="service-order__row">
              <label class="checkbox">
                <input type="checkbox" class="checkbox__input checkbox__input--small" checked required>
                <span class="checkbox__indicator  checkbox__indicator--small  checkbox__indicator--light"></span>
                <span class="checkbox__text">Cогласен с обработкой моих персональных данных в соответствии с ФЗ РФ от 27.06.06 г. N°152-ФЗ «О персональных данных»</span>
              </label>
            </div>
            <div class="service-order__row">
              <div class="service-order__button">
                <button class="button" type="submit">Отправить</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  
      <div class="pop-up__item  pop-up__item--sm  pop-up__item--hide  notification">
        <p class="notification__text  title">Текст</p>
      </div>
  
      <div class="pop-up__item  pop-up__item--sm  pop-up__item--hide  general-question">
        <form class="general-question__form">
          <h2 class="general-question__title  title">Вы уверены?</h2>
          <button class="general-question__button  general-question__button--ok  button" data-ga='{"hitType": "event","eventCategory": "form","eventAction": "send","eventLabel": "canceled_order"}'>Да</button>
          <button class="general-question__button  general-question__button--no  button" type="button">Нет</button>
        </form>
      </div>
  
      <div class="pop-up__item  pop-up__item--hide  get-document">
        <div class="get-document__wrap">
          <form class="get-document__form" ga-send='{"hitType": "event", "eventCategory": "form", "eventAction": "send", "eventLabel": "getContract"}'  ya-reach="order_applic">
            <h2 class="get-document__title  title">Получить экземпляр договора</h2>
  
            <div class="get-document__row">
              <label class="get-document__label  label">Введите e-mail</label>
              <input class="get-document__input  input" type="email" autofocus required>
            </div>
  
            <div class="get-document__row">
              <label class="checkbox">
                <input type="checkbox" class="checkbox__input checkbox__input--small" checked required>
                <span class="checkbox__indicator  checkbox__indicator--small  checkbox__indicator--light"></span>
                <span class="checkbox__text">Cогласен с обработкой моих персональных данных в соответствии с ФЗ РФ от 27.06.06 г. N°152-ФЗ «О персональных данных»</span>
              </label>
            </div>
            <div class="get-document__row">
              <div class="get-document__button">
                <button class="button" type="submit">Отправить</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  
    </div>
  
  </div>
  <!-- /Pop up -->
  <!-- /Pop up -->

</div>
<!-- /Page wrapper -->

<!-- Java Script -->
<script id="right-side__wrap" type="text/html">
  {{{{raw}}}}
  <button class="right-side__btn  right-side__btn--close  icon-close">
    <svg class="icon-close__image" width="19" height="19" viewBox="0 0 19 19">
      <line class="icon-close__element" x1="1" y1="18" x2="18" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
      <line class="icon-close__element" x1="18" y1="18" x2="1" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
    </svg>
  </button>

  <article class="promotion">
    <div class="promotion__wrap">
      <h2 class="title">{{title}}</h2>
      <img class="promotion__image" height="250" width="250" src="/static/pancake/img/{{picture}}">
      <p class="promotion__text text--orange">{{promo}}</p>
      {{{text}}}
      <button class="section__button button button--application" type="button" data-name="service-order">Заказать уборку</button>
    </div>
  
  </article>

  {{{{/raw}}}}
</script>

<script src="/static/pancake/js/bundle.min.js?v0.08"></script>
<!-- /Java Script -->
{{#if general.production}}

  <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PHD7WW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>

  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PHD7WW');</script>

  {{else}}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    var yaCounter803248 = {
      reachGoal: function (param) {
        console.log("яндекс аналитика", param);
      }
    }
  </script>

{{/if}}
</body>
</html>