<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Акции и скидки</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0, minimal-ui" />
  <meta name="format-detection" content="telephone=no">

  <link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-touch-icon-57x57.png?v=1.0">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/img/apple-touch-icon-60x60.png?v=1.0">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png?v=1.0">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-touch-icon-76x76.png?v=1.0">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png?v=1.0">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-touch-icon-120x120.png?v=1.0">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-touch-icon-144x144.png?v=1.0">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-touch-icon-152x152.png?v=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon-180x180.png?v=1.0">
  <link rel="icon" type="image/png" href="/static/img/android-chrome-192x192.png?v=1.0" sizes="192x192">
  <link rel="icon" type="image/png" href="/static/img/favicon-16x16.png?v=1.01" sizes="16x16">
  <link rel="icon" type="image/png" href="/static/img/favicon-32x32.png?v=1.01" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/img/favicon-48x48.png?v=1.0" sizes="48x48">
  <link rel="manifest" href="/static/manifest.json?v=1.02">
  <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg?v=1.0" color="#fd8204">
  <meta name="apple-mobile-web-app-title" content="Domovenok">
  <meta name="application-name" content="Domovenok">
  <meta name="msapplication-TileColor" content="#fd8204">
  <meta name="msapplication-TileImage" content="/static/img/mstile-144x144.png?v=1.0">
  <meta name="msapplication-config" content="/static/browserconfig.xml?v=1.02">
  <meta name="theme-color" content="#fd8204">

  <link rel="stylesheet" href="/static/css/style.css?v01">
  <script src="/static/js/vendor/vendor.min.js?v01"></script>
  <script src="//yastatic.net/share2/share.js" async></script>
  <base href="" >
  <script>
    var domovenokClient = {
      name: ''
    };
    var generalPath = {
      schema: '',
      domain: '',
      url: ''
    };

    generalPath.buildUrl = function (additional) {
      var build = this.schema + '://' + this.domain + '/' + this.url + '/';
      if (additional)
        build += additional;
      return build;
    };


    var itemList = {
      begin: {{Begin}},
    end: {{End}}
    };
    var clientId = '';
  </script>
</head>
<body class="page  page--promotion">
<!-- Page wrapper -->
<div class="page__wrap">

  <!-- Page Header -->
  <!-- page-header.html -->
  <header class="page-header  page-header--scroll  page-header--contact">
  
    <div class="page-header__top">
      <button class="main-menu__btn  main-menu__btn--open">
        <svg class="main-menu__image" width="31" height="23.9" viewBox="0 0 31 23.9">
          <rect width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
          <rect y="22.26" width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
          <rect y="11.13" width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
        </svg>
      </button>
      <a class="page-header__logo" href="http://www.domovenok.su"><img height="38" width="152" src="/static/img/logo.svg" alt="Логотип"/></a>
  
      <a class="page-header__tel" href="tel: +74956680468"><span class="page-header__tel-brown">8 (495)</span> 668-04-68</a>
    </div>
  
    <div class="page-header__wrap">
      <a class="main-menu__icon-close  icon-close" href="#">
        <svg class="icon-close__image" width="19" height="19" viewBox="0 0 19 19">
          <line class="icon-close__element" x1="1" y1="18" x2="18" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
          <line class="icon-close__element" x1="18" y1="18" x2="1" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
        </svg>
      </a>
  
      <!--Main Menu-->
      <nav class="page-header__main-menu  main-menu  scroll-container">
  
        <ul class="main-menu__list">
  
          <li class="main-menu__item">
            <a class="main-menu__link"  href="http://site.domovenok.corp/private.html">
              Личный кабинет
            </a>
          </li>
  
          <li class="main-menu__item main-menu__item--sub">
            <a class="main-menu__link"  href="http://site.domovenok.corp/main.html">
              Главная
            </a>
  
            <!--Sub Menu-->
            <ul class="main-menu__list  main-menu__list--sub">
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/main.html">
                  Главная
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/about__.html">
                  О нас
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/uslugi__.html">
                  Услуги
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/vazhno_znat__.html">
                  Важно знать
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/questions.html">
                  Вопросы и ответы
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/news.html">
                  Новости
                </a>
              </li>
  
              <li class="main-menu__item-sub  main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/articles.html">
                  Статьи
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/gallery.html">
                  Галерея
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/skidki_akcii__.html">
                  Специальные акции
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/vakansii__.html">
                  Вакансии
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/davay_druzhit__.html">
                  Обслуживание по графику
                </a>
              </li>
  
            </ul>
            <!--/Sub Menu-->
  
          </li>
  
          <li class="main-menu__item  main-menu__item--sub">
            <a class="main-menu__link">
              Физическим лицам
            </a>
  
            <!--Sub Menu-->
            <ul class="main-menu__list  main-menu__list--sub">
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/podderzhka.html">
                  Поддерживающая уборка
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/domrabotnica.html">
                  Домработница
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/generalnaya_uborka.html">
                  Генеральная уборка
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/posle_remonta.html">
                  Уборка после ремонта
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/uborka-kottedzhej.html">
                  Уборка коттеджей
                </a>
              </li>
  
              <li class="main-menu__item-sub  main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/mite_okon.html">
                  Мытьё окон
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/himchistka.html">
                  Химчистка
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/vizov_mastera_na_dom.html">
                  Домашний мастер
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/obrabotka_poverhnostey.html">
                  Обработка поверхностей
                </a>
              </li>
  
            </ul>
            <!--/Sub Menu-->
  
          </li>
  
          <li class="main-menu__item  main-menu__item--sub">
            <a class="main-menu__link">
              Юридическим лицам
            </a>
  
            <!--Sub Menu-->
            <ul class="main-menu__list  main-menu__list--sub">
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/uborka_ofisov.html">
                  Уборка офисов
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/uborka-proizvodstvennyh-pomewenij.html">
                  Уборка производственных помещений
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/ofisnyy-master.html">
                  Офисный мастер
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/mite_stekol.html">
                  Мытьё стекол
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/myte-fasadov.html">
                  Мытьё фасадов
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/promyshlennyj-alpinizm.html">
                  Промышленный альпинизм
                </a>
              </li>
  
              <li class="main-menu__item-sub">
                <a class="main-menu__link-sub" href="http://site.domovenok.corp/obrabotka_poverhnostey.html">
                  Обработка поверхностей
                </a>
              </li>
  
            </ul>
            <!--/Sub Menu-->
  
          </li>
  
          <li class="main-menu__item">
            <a class="main-menu__link" href="http://site.domovenok.corp/review.html">
              Отзывы
            </a>
          </li>
  
          <li class="main-menu__item">
            <a class="main-menu__link" href="http://site.domovenok.corp/price__.html">
              Цены
            </a>
          </li>
  
          <li class="main-menu__item">
            <a class="main-menu__link"  href="http://site.domovenok.corp/contacts__.html">
              Контакты
            </a>
          </li>
  
        </ul>
  
      </nav>
      <!--/Main Menu-->
  
      <!--
      <div class="page-header__contact  contact">
        <a class="contact__callback" href>Свяжитесь со мной</a>
      </div>
      -->
  
      <div class="change-town">
  
        <p class="change-town__btn">Москва</p>
  
        <ul class="change-town__list list">
          <li class="change-town__item change-town__item--active item">
            <a class="change-town__link link" href="http://www.domovenok.su/podderzhka">Москва</a>
          </li>
          <li class="change-town__item item">
            <a class="change-town__link link" href="https://spb.domovenok.su/podderzhka">Санкт-Петербург</a>
          </li>
        </ul>
      </div>
  
    </div>
  
  </header>
  <!-- /Page Header -->

  <!-- Main Content -->
  <main class="page__main-content  main-content">
    <div class="left-side {{#HasRightSide}}left-side--mobile{{/HasRightSide}}">

      <div class="left-side__top">
        <h1 class="left-side__title  title">Скидки и акции</h1>
      </div>

      <!-- Promotions -->
      <div class="left-side__content">
        <div class="left-side__wrap scroll-container-unstable">
          <div class="left-side__list promotions">
            {{#each ItemList}}
            <div class="left-side__item promotions__item" data-id="{{id}}">
              <div class="promotions__row">
                <div class="promotions__column promotions__column--image">
                  <img class="promotions__image" height="100" width="100" src="/static/img/{{preview_pic}}">
                </div>
                <div class="promotions__column">
                  <h3 class="promotions__title title">{{title}}</h3>
                  <p class="promotions__text text--orange">{{promo}}</p>
                  <p class="text">{{preview}}</p>
                </div>
              </div>
            </div>
            {{/each}}
          </div>

        </div>
      </div>
      <!-- /Promotions -->
    </div>
    <div class="right-side  right-side--hide {{#HasRightSide}}right-side--mobile{{/HasRightSide}}">
      {{#with Item}}
      <div class="right-side__wrap" data-id="{{id}}">

        <button class="right-side__btn  right-side__btn--close  icon-close" type="button">
          <svg class="icon-close__image" width="22.47" height="22.47" viewBox="0 0 22.47 22.47">
            <rect class="icon-close__element" x="182.81" y="107.75" width="31" height="1.64" rx="0.82" ry="0.82" transform="translate(-205.73 74.73) rotate(-45)" fill="#fd8204"/>
            <rect class="icon-close__element" x="182.74" y="107.68" width="31" height="1.64" rx="0.82" ry="0.82" transform="translate(-52.26 -205.7) rotate(45)" fill="#fd8204"/>
          </svg>
        </button>

        <article class="promotion">
          <div class="promotion__wrap">
            <h2 class="title">{{title}}</h2>
            <img class="promotion__image" height="250" width="250" src="/static/img/{{picture}}">
            <p class="promotion__text text--orange">{{promo}}</p>
            {{{text}}}
            <button class="section__button button button--application" type="button" data-name="service-order">Заказать уборку</button>
          </div>
          <footer class="promotion__footer">

            <div class="linking-pages">
              <h3 class="right-side__heading title">У нас Вы можете заказать:</h3>

              <ul class="list">
                <li class="item item--circle">
                  <a class="link" href="">Мытье пластиковых окон</a>
                </li>
                <li class="item item--circle">
                  <a class="link" href="">Поддерживающую уборку офисов в Москве</a>
                </li>
                <li class="item item--circle">
                  <a class="link" href="">Уборку таунхауса после ремонта по подходящим ценам</a>
                </li>
              </ul>
            </div>
          </footer>
        </article>
      </div>
      {{/with}}
    </div>

	<div class="contact-btn">
	  <button class="contact-btn__btn contact-btn__btn--main" type="button">Кнопка контакта</button>
	  <div class="contact-btn__list">
	    <button class="contact-btn__btn contact-btn__btn--left" type="button">T</button>
	    <button class="contact-btn__btn contact-btn__btn--center" type="button">E</button>
	    <button class="contact-btn__btn contact-btn__btn--right" type="button">C</button>
	  </div>
	  <div class="contact-btn__window"></div>
	</div>

  </main>
  <!-- /Main Content -->
  <!-- Pop up -->
  <div class="pop-up  pop-up--hide  scroll-container-unstable">
  
    <div class="pop-up__wrap">
  
      <button class="pop-up__btn-close  icon-close" type="button">
        <svg class="icon-close__image" width="19" height="19" viewBox="0 0 19 19">
          <line class="icon-close__element" x1="1" y1="18" x2="18" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
          <line class="icon-close__element" x1="18" y1="18" x2="1" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
        </svg>
      </button>
  
      <div class="pop-up__item pop-up__item--hide  service-order">
        <div class="service-order__wrap">
          <form class="service-order__form">
            <h2 class="service-order__title  title">Оставить заявку</h2>
            <div class="service-order__row">
              <label class="service-order__label  label">ФИО</label>
              <input class="service-order__input  input" type="text" autofocus>
            </div>
  
            <div class="service-order__row">
              <label class="service-order__label  label">Номер телефона</label>
              <input class="service-order__input  input" type="tel" autofocus>
            </div>
  
            <div class="service-order__row">
              <p class="service-order__label  label">Дополнительная информация</p>
              <textarea  class="service-order__textarea  textarea"></textarea>
            </div>
            <div class="service-order__row">
              <label class="label-checkbox">
                <input type="checkbox" class="checkbox  checkbox--small" checked  required>
                <span class="checkbox__indicator  checkbox__indicator--small  checkbox__indicator--light"></span>
                <span class="label-text">Cогласен с обработкой моих персональных данных в соответствии с ФЗ РФ от 27.06.06 г. N°152-ФЗ «О персональных данных»</span>
              </label>
            </div>
            <div class="service-order__row">
              <div class="service-order__button">
                <button class="button" type="submit">Отправить</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  
    </div>
  
  </div>
  <!-- /Pop up -->

</div>
<!-- /Page wrapper -->

<!-- Java Script -->
<script id="right-side__wrap" type="text/html">
  {{{{raw}}}}
  <button class="right-side__btn  right-side__btn--close  icon-close">
    <svg class="icon-close__image" width="19" height="19" viewBox="0 0 19 19">
      <line class="icon-close__element" x1="1" y1="18" x2="18" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
      <line class="icon-close__element" x1="18" y1="18" x2="1" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
    </svg>
  </button>

  <article  class="promotion">
    <div class="promotion__wrap">

      <h2 class="promotion__title title">{{title}}</h2>
      <img class="promotion__image" height="250" width="250" src="/static/img/{{picture}}">
      <p class="promotion__text text--orange">{{promo}}</p>
      {{{text}}}
      <button class="section__button button button--application" type="button" data-name="service-order">Заказать уборку</button>
    </div>

    <footer class="promotion__footer">

      <div class="linking-pages">
        <h3 class="right-side__heading title">У нас Вы можете заказать:</h3>

        <ul class="list">
          <li class="item item--circle">
            <a class="link" href="">Мытье пластиковых окон</a>
          </li>
          <li class="item item--circle">
            <a class="link" href="">Поддерживающую уборку офисов в Москве</a>
          </li>
          <li class="item item--circle">
            <a class="link" href="">Уборку таунхауса после ремонта по подходящим ценам</a>
          </li>
        </ul>
      </div>
    </footer>
  </article>



  </section>
  {{{{/raw}}}}
</script>

<script src="/static/js/bundle.js?v01"></script>
<!-- /Java Script -->

</body>
</html>