<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Личный кабинет клиента компании Домовенок</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0, minimal-ui" />
  <meta name="format-detection" content="telephone=no">
  {{ #debug }}
  <meta name="robots" content="noindex, nofollow">
  {{ /debug }}

  <link rel="apple-touch-icon" sizes="57x57" href="/static/general/img/apple-touch-icon-57x57.png?v=1.0">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/general/img/apple-touch-icon-60x60.png?v=1.0">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/general/img/apple-touch-icon-72x72.png?v=1.0">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/general/img/apple-touch-icon-76x76.png?v=1.0">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/general/img/apple-touch-icon-114x114.png?v=1.0">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/general/img/apple-touch-icon-120x120.png?v=1.0">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/general/img/apple-touch-icon-144x144.png?v=1.0">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/general/img/apple-touch-icon-152x152.png?v=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/general/img/apple-touch-icon-180x180.png?v=1.0">
  <link rel="icon" type="image/png" href="/static/general/img/android-chrome-192x192.png?v=1.0" sizes="192x192">
  <link rel="icon" type="image/png" href="/static/general/img/favicon-16x16.png?v=1.01" sizes="16x16">
  <link rel="icon" type="image/png" href="/static/general/img/favicon-32x32.png?v=1.01" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/general/img/favicon-48x48.png?v=1.0" sizes="48x48">
  <link rel="manifest" href="/static/general/manifest.json?v=1.02">
  <link rel="mask-icon" href="/static/general/img/safari-pinned-tab.svg?v=1.0" color="#fd8204">
  <link rel="yandex-tableau-widget" href="/yandex/manifest.json" />
  <meta name="apple-mobile-web-app-title" content="Domovenok">
  <meta name="application-name" content="Domovenok">
  <meta name="msapplication-TileColor" content="#fd8204">
  <meta name="msapplication-TileImage" content="/static/general/img/mstile-144x144.png?v=1.0">
  <meta name="msapplication-config" content="/static/general/browserconfig.xml?v=1.02">
  <meta name="theme-color" content="#fd8204">

  <link rel="stylesheet" href="/static/general/css/style.min.css?v=1.25">

  <script src="//yastatic.net/share2/share.js" async></script>
  <script>
    var generalPath = {
      schema: '{{pathSchema}}',
      domain: '{{pathDomain}}',
      url: '{{pathUrl}}'
    };

    var clientId = '{{GetCommon.response.ClientID}}';

    generalPath.buildUrl = function (additional) {
      var build = this.schema + '://' + this.domain + '/' + this.url + '/';
      if (additional)
        build += additional;
      return build
    }
  </script>
</head>
<body>

<div class="page">
  <!-- Page wrapper -->
  <div class="page__wrap page__wrap--scroll">

    <!-- Page Header -->
    <header class="page-header  page-header--scroll  page-header--contact">

      <div class="page-header__top">
        <button class="main-menu__btn  main-menu__btn--open">
          <svg class="main-menu__image" width="31" height="23.9" viewBox="0 0 31 23.9">
            <rect width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
            <rect y="22.26" width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
            <rect y="11.13" width="31" height="1.64" rx="0.82" ry="0.82" fill="#fff"/>
          </svg>
        </button>
        <a class="page-header__logo" href="https://www.domovenok.su"><img height="38" width="152" src="/static/general/img/logo.svg" alt="Логотип"></a>
        <a class="page-header__tel" href="tel: +74956680468"><span class="page-header__tel-brown">8 (495)</span> 668-04-68</a>
      </div>

      <div class="page-header__wrap">
        <a class="main-menu__icon-close  icon-close" href="#">
          <svg class="icon-close__image" width="19" height="19" viewBox="0 0 19 19">
            <line class="icon-close__element" x1="1" y1="18" x2="18" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
            <line class="icon-close__element" x1="18" y1="18" x2="1" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
          </svg>
        </a>

        <!--Main Menu-->
        <nav class="page-header__main-menu  main-menu  scroll-container">

          <ul class="main-menu__list">
            {{ #GetCommon.response }}
            <li class="main-menu__item  main-menu__item--sub  main-menu__item--active">
              <a class="main-menu__link"  href="">
                {{ GetCommon.response.FullTitle }}
              </a>

              <!--Sub Menu-->
              <ul class="main-menu__list  main-menu__list--sub">
                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="{{ordersUrl}}" id="openOrderDefine">
                    Заказы
                  </a>
                </li>
                <li class="main-menu__item-sub  main-menu__item-sub--active">
                  <a class="main-menu__link-sub  main-menu__link-sub--application" href="{{inviteUrl}}">
                    Уборки бесплатно
                  </a>
                </li>
                {{ #GetCommon.response.BalanceChecked }}
                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub  main-menu__link-sub--invite" href="{{paymentLink}}">
                    Детали платежей
                  </a>
                </li>
                {{ /GetCommon.response.BalanceChecked }}

                {{ #changeToEmployee }}
                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/staff/">
                    ЛК сотрудника
                  </a>
                </li>
                {{ /changeToEmployee }}
                <li class="main-menu__item-sub  main-menu__item-sub--exit">
                  <a class="main-menu__link-sub" href="/private/logout?_csrf={{ logoutCsrf }}">Выход</a>
                </li>
              </ul>
              <!--/Sub Menu-->

            </li>
            {{ /GetCommon.response }}

            <li class="main-menu__item">
              <a class="main-menu__link" href="/podderzhka">
                Поддерживающая уборка
              </a>
            </li>

            <li class="main-menu__item">
              <a class="main-menu__link" href="/generalnaya_uborka">
                Генеральная уборка
              </a>
            </li>

            <li class="main-menu__item">
              <a class="main-menu__link" href="/mite_okon">
                Мытьё окон
              </a>
            </li>

            <li class="main-menu__item  main-menu__item--sub">
              <a class="main-menu__link">
                Физическим лицам
              </a>

              <!--Sub Menu-->
              <ul class="main-menu__list  main-menu__list--sub">
                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/domrabotnica">
                    Домработница
                  </a>
                </li>
                <li class="main-menu__item-sub" >
                  <a class="main-menu__link-sub" href="/glazhka">
                    Глажка
                  </a>
                </li>

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/posle_remonta">
                    Уборка после ремонта
                  </a>
                </li>

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/uborka-kottedzhej">
                    Уборка коттеджей
                  </a>
                </li>
                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/himchistka">
                    Химчистка
                  </a>
                </li>

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/vizov_mastera_na_dom">
                    Домашний мастер
                  </a>
                </li>

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/obrabotka_poverhnostey">
                    Обработка поверхностей
                  </a>
                </li>

              </ul>
              <!--/Sub Menu-->

            </li>

            <li class="main-menu__item  main-menu__item--sub">
              <a class="main-menu__link">
                Юридическим лицам
              </a>

              <!--Sub Menu-->
              <ul class="main-menu__list  main-menu__list--sub">

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/uborka_ofisov">
                    Уборка офисов
                  </a>
                </li>

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/uborka-proizvodstvennyh-pomewenij">
                    Уборка производственных помещений
                  </a>
                </li>

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/ofisnyy-master">
                    Офисный мастер
                  </a>
                </li>

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/mite_stekol">
                    Мытьё стекол
                  </a>
                </li>

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/myte-fasadov">
                    Мытьё фасадов
                  </a>
                </li>

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/promyshlennyj-alpinizm">
                    Промышленный альпинизм
                  </a>
                </li>

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/obrabotka_poverhnostey">
                    Обработка поверхностей
                  </a>
                </li>

              </ul>
              <!--/Sub Menu-->

            </li>

            <li class="main-menu__item  main-menu__item--sub">
              <a class="main-menu__link">
                О нас
              </a>

              <!--Sub Menu-->
              <ul class="main-menu__list  main-menu__list--sub">

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/">
                    Главная
                  </a>
                </li>

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/about/">
                    О компании
                  </a>
                </li>

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/uslugi/">
                    Услуги
                  </a>
                </li>

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/vazhno_znat/">
                    Важно знать
                  </a>
                </li>

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/faq/">
                    Вопросы и ответы
                  </a>
                </li>

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/news/">
                    Новости
                  </a>
                </li>

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/articles/">
                    Статьи
                  </a>
                </li>

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/gallery/">
                    Галерея
                  </a>
                </li>

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/skidki_akcii/">
                    Специальные акции
                  </a>
                </li>

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/vakansii/">
                    Вакансии
                  </a>
                </li>

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/davay_druzhit/">
                    Обслуживание по графику
                  </a>
                </li>

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/otzivi/">
                    Отзывы
                  </a>
                </li>

                <li class="main-menu__item-sub">
                  <a class="main-menu__link-sub" href="/price/">
                    Цены
                  </a>
                </li>

              </ul>
              <!--/Sub Menu-->

            </li>

            <li class="main-menu__item">
              <a class="main-menu__link"  href="/contacts/">
                Контакты
              </a>
            </li>
          </ul>
        </nav>
        <!--/Main Menu-->

        <!--Contacts-->
        <div class="page-header__contact  contact">
          <a class="contact__callback" href>Свяжитесь со мной</a>
        </div>
        <!--/Contacts-->

      </div>

    </header>
    <!-- /Page Header -->

    <!-- Main Content -->
    <main class="page__main-content  main-content  main-content--vertical">
      <div class="invite-friend">
        <div class="invite-friend__wrap">
          <h1 class="invite-friend__title  title">Приведи друга</h1>
          <section class="invite-friend__section  invite-friend__section--horizontal">
            <img class="invite-friend__image" src="/static/general/img/invite-friend.svg?v=1" width="300" height="auto">
            <div class="invite-friend__section-wrap">
              <p class="invite-friend__text text">Дарите 500 рублей на услуги Домовенка.</p>
              <p class="invite-friend__text text">Когда Ваши друзья и близкие сделают свой первый заказ, Вы также получите 500 рублей на наши услуги.</p>
              <p class="invite-friend__text text">Три способа получения бонусных рублей:</p>
              <ul class="list">
                <li class="item invite-friend__text  text"><span class="invite-friend__text  invite-friend__text--number">1.</span>Сообщить номер своего заказа устно</li>
                <li class="item invite-friend__text  text"><span class="invite-friend__text  invite-friend__text--number">2.</span>Пригласить через Личный кабинет по смс
                  или почте</li>
                <li class="item invite-friend__text  text"><span class="invite-friend__text  invite-friend__text--number">3.</span>Рассказать о нас в соц. сетях через Личный кабинет</li>
              </ul>
            </div>
          </section>

          <p class="invite-friend__text text">Вы можете воспользоваться бонусными рублями в любое время при заказе услуг в нашей компании.</p>
          <p class="invite-friend__text text">Используйте Ваши рубли, чтобы оплатить часть или всю стоимость услуг.</p>

          <div>
            <p class="invite-friend__heading invite-friend__heading--social  heading">Пригласить в соц.сетях</p>
            <section class="invite-friend__section  invite-friend__section--center ya-share2" data-services="facebook,vkontakte,odnoklassniki" data-url="{{inviteUrl}}" data-title="Дарю скидку на первую уборку" data-description="Скидка для моих друзей. Делюсь с вами скидкой 500 рублей на первую уборку от Домовёнка." data-image="{{paPublicUrl}}/media/general/stock/discount_on_cleaning.jpg" id="my-share"></section>
          </div>

          <form class="invite-friend__form" data-ga='{"hitType": "event", "eventCategory": "button", "eventAction": "click", "eventLabel": "recommendDirectLK"}'>
            <h2 class="invite-friend__heading  heading">Пригласить друга</h2>
            <input type="text" class="invite-friend__input  invite-friend__input--name  input" name="phone" placeholder="Имя друга">
            <input type="text" class="invite-friend__input  invite-friend__input--tel  input" name="phone" placeholder="Телефон или e-mail">
            <button class="invite-friend__button  button" type="submit">Пригласить</button>
          </form>

        </div>
      </div>
    </main>

    <!-- /Main Content -->

    <!-- Pop up -->
    <div class="pop-up  pop-up--hide">

      <div class="pop-up__application  application  application--hide">
        <button class="application__btn-close  icon-close" type="button">
          <svg class="icon-close__image" width="19" height="19" viewBox="0 0 19 19">
            <line class="icon-close__element" x1="1" y1="18" x2="18" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
            <line class="icon-close__element" x1="18" y1="18" x2="1" y2="1" style="fill: none;stroke: #fd8204;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 2px"/>
          </svg>
        </button>
        <div class="application__wrap">
          <form class="application__form">
            <h2 class="application__title  title">Форма заказа</h2>
            <div class="application__row">
              <label class="application__label  label">Площадь квартиры</label>
              <input class="application__input  application__input--square  application__input--half  input" type="number" autofocus><span class="application__size">м<sup><small>2</small></sup></span>
            </div>
            <div class="application__row">
              <p class="application__label  label">Вид услуг</p>
              <div class="application__selection">
                <button class="application__selection-btn">Поддерживающая уборка</button>
                <ul class="application__list  scroll-container">
                  <li class="application__option">Поддерживающая уборка</li>
                  <li class="application__option">Генеральная уборка</li>
                  <li class="application__option">Уборка после ремонта</li>
                  <li class="application__option">Мытье окон</li>
                  <li class="application__option">Домработница</li>
                  <li class="application__option">Химчистка</li>
                  <li class="application__option">Глажка/стирка</li>
                  <li class="application__option">Уборка офисов</li>
                  <li class="application__option">Обработка поверхностей</li>
                  <li class="application__option">Промышленный альпинизм</li>
                  <li class="application__option">Уборка коттеджей</li>
                  <li class="application__option">Домашний мастер</li>
                  <li class="application__option">Мытье фасадов</li>
                  <li class="application__option">Чистка бассейнов</li>
                  <li class="application__option">Офисный мастер</li>
                </ul>
              </div>
            </div>

            <div class="application__row">
              <p class="application__label  label">Дополнительная информация</p>
              <textarea  class="application__textarea  textarea"></textarea>
            </div>
            <button  class="application__button  button" type="submit">Отправить</button>
          </form>
        </div>
      </div>

    </div>
    <!-- /Pop up -->

  </div>
  <!-- /Page wrapper -->
</div>

<script src="/static/general/js/script.min.js?v=1.38"></script>

{{ ^debug }}
<noscript>
  <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PHD7WW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      'gtm.start': new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
        '//www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-PHD7WW');
</script>
{{ /debug }}

</body>
</html>