html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
}

.page {

}

.page__header {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 15px 20px;
  background-color: #417690;
}

.header {
  margin: 0;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 100;
  color: #666;
}

.title {
  line-height: 1em;
  font-size: 18px;
  letter-spacing: 0.2px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item {

}


.header__title {
  margin: auto 0;
  color: #f4f379;
}

.nav {
  display: flex;
  margin: auto 0;
  color: #fff;
}


.nav__item {
  margin-right: 15px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item--user {
  color: #ffc;
}

.page__wrap {
  padding: 20px 20px;
}

.page__popup {
  margin: auto;
}

.block {
  width: 50%;
}

.block__title {
  text-transform: uppercase;
  font-size: 16px;
  padding: 7px 20px;
  background-color: #5197b9;
  color: #fff;
}

.block__item {
  padding: 7px 20px;
  border-bottom: 1px solid #cacaca;
}
.block__link {
  color: #3d7ba0;
}

/*popup*/

.popup {
  width: 340px;
  border: 1px solid #cacaca;
}
.popup__wrap {
  padding: 24px;
}
.popup__header {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #417690;
}

/*form*/

.form {
  text-align: center;
}

.form__row {
  margin-bottom: 20px;
}
.form__row:last-child {
  margin-bottom: 0;
}

.form__label {
  display: inline-block;
  width: 60px;
}

.form__input {

}
